@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Que es la alquimia, Curación alquímica";
    layout.Description = "¿Qué es la alquimia? Definición: Arte de la transmutación de las energías y de la transmutación del propio ser.";
    layout.Keywords = "alquimia, transmutación, energías, spiritual, self, transformation";
    layout.Language = "es";
}
<div class='sitemap hoverlink'><span><span><a href="~/">Home</a></span><span> &gt; </span><span><a href="~/definitions/es/">Definiciones</a></span><span> &gt; </span><span><a class="dark" href="~/definitions/es/que-es-alquimia">Alquimia</a></span></span></div>
<div class='language hoverlink'><a href='~/definitions/what-is-alchemy'>English</a> | <a href='~/definitions/fr/alchimie'>Français</a> | <a href='~/definitions/es/que-es-alquimia' class='dark'>Español</a></div><div style='clear:both'></div>

<h1>¿Qué es la alquimia?</h1>
<p class="blue">Definición: Arte de la transmutación de las energías y de la transmutación del propio ser.</p>
<p>
    El arte de la Alquimia incluye:
    <ul>
        <li>Transmutar energías negativas en positivas</li>
        <li>Clarividencia, sanación y sanación a distancia</li>
        <li>Transmutación del propio ser y auto-actualización</li>
        <li>Alcanzar la iluminación</li>
        <li>Mantener el cuerpo sano y ralentizaqr el envejecimiento</li>
        <li>Estudiar los principios de las energías</li>
        <li>Estudiar la naturaleza del tiempo y de la creación</li>
    </ul>
</p>
<p>
    La alquimia es un tema muy amplio. Al igual que la 'arquitectura', significa muchas cosas y puede realizarse
    de muchas maneras diferentes. La Alquimia suele ser considerada como el arte de transmutar metales corrientes
    en oro, cosa que sólo es uno de los caminos muy avanzados de la Alquimia. Va más sobre tener maestría
    sobre el propio ser y sobre las energías.
</p>
<img id="Img1" src="~/images/alchemy.jpg" align="right" style="margin-left: 20px" width="133" height="130"
     alt="Alchemy" />
<p class="blue">Capas de Energía</p>
<p>
    La alquimia trabaja con diferentes capas de energía: las capas física, emocional y espiritual que forman
    parte de tu campo de energía, y los planos de la creación y del Absoluto que están fuera de tu campo
    energético. La iluminación se trata de tener el cuerpo físico, emocional y espiritual en perfecta alineación.
    Más allá de la iluminación, todavía puedes seguir creciendo en poder en los planos superiores. Puedes
    acceder a todo el Universo desde tu interior.
</p>
<p>
    <b>Energía física (Negro brillante):</b> La energía física es el cuerpo físico. Se asocia con el color
    negro brillante. No es un negro mate. Piensa en el color del cosmos con infinita energía y profundidad.
    La energía física está relacionada con los 7 chakras principales más 5 chakras situados por encima de
    la cabeza (12 chakras principales).
</p>
<p>
    <b>Energía emocional (blanco brillante):</b> La energía emocional es el alma. Se asocia con el color
    blanco brillante. La energía emocional se relaciona con los chakras 13 a 24 por encima de la cabeza.
</p>
<p>
    <b>Energía Espiritual (rojo brillante):</b> La energía espiritual es el espíritu. Se asocia con el color
    rojo brillante. La energía espiritual se relaciona con los chakras 25 a 70 por encima de la cabeza.
</p>
<p>
    <b>Plano de la creación:</b> Más allá del campo energético se encuentra el plano de la creación. Este
    plano aporta orden al caos en este mundo de co-creación. Las visualizaciones y la Ley de la Atracción
    trabajan en este plano. Es posible conectarse a esta zona para alterar directamente el flujo de co-creación.
    Todo lo que existe en la realidad física aparece antes en el plano de la creación. Cuando aparece una
    nueva idea en tu mente, se conecta a una energía que ya existía en el plano de la creación. Se asocia
    con el color dorado.
</p>
<p>
    <b>Plano del Absoluto (color teal):</b> Más allá del plano de la creación está la quietud, el plano de
    lo Absoluto. Esto es más allá del tiempo y el espacio. En este plano, el Universo es sólo información
    que puede ser leída y alterada. Desde este plano, la vida física es un holograma de esta información.
</p>
<p class="blue">Llamas de transmutación</p>
<p>
    La alquimia utiliza colores asociados a energías de alta vibración. Visualizando el color te conecta
    a la energía. Conectando un bloqueo emocional o miedo a estas energías de alta vibración puede disolver
    las energías negativas y transmutarlas en energía de luz. Visualizando una llama en vez de únicamente
    un color se multiplica el efecto y aumenta la frecuencia. A medida que tu conexión espiritual se incrementa,
    el poder de las llamas crece exponencialmente.
</p>
<img src="~/images/flame-teal.jpg" alt="teal flame" width="45" height="45" align="left" style="margin-right: 10px" />
<p>
    <b>Llama teal:</b> La llama más potente y la más recomendada. Transmuta las energías negativas en positivas,
    transmuta el karma y proporciona sanación en general.
</p>
<img src="~/images/flame-gold.jpg" alt="gold flame" width="45" height="45" align="left" style="margin-right: 10px" />
<p>
    <b>Llama de color oro:</b> También transmuta las energías negativas en positivas. Es especialmente útil
    para asuntos relacionados con la salud y como protección.
</p>
<img src="~/images/flame-red.jpg" alt="red flame" width="45" height="45" align="left" />
<img src="~/images/flame-white.jpg" alt="white flame" width="45" height="45" align="left" />
<img src="~/images/flame-black.jpg" alt="black flame" width="45" height="45" align="left" style="margin-right: 10px" />
<p>
    <b>Llamas rojo brillante, blanco brillante y negro brillante:</b> En ocasiones se puede utilizar para
    varios propósitos, tales como la curación deficiencias genéticas. Evita usar el color rojo brillante
    en el cerebro.
</p>
<img src="~/images/flame-violet.jpg" alt="violet flame" width="45" height="45" align="left" style="margin-right: 10px" />
<p>
    <b>Llama violeta:</b> Esta es la llama más conocida a pesar de que tiene una frecuencia más baja y menos
    eficiente que la llama de color teal. Esta permite la identificación de algo, para saber si es bueno
    o malo y para entender su significado.
</p>
<img src="~/images/flame-orange.jpg" alt="orange flame" width="45" height="45" align="left" style="margin-right: 10px" />
<p><b>Llama naranja quemado:</b> Útil para protegerse contra fuerzas oscuras y para disolverlas.</p>
<br />
<p>
    <b>Bola de cristal:</b> Puedes visualizar lanzar bolas de cristal para desintegrar entidades y demonios.
    También se puede desintegrar un cáncer si se utilizan con precisión. Sentir la frecuencia de la bola
    de cristal y visualizar una llama de cristal también funciona muy bien. Evitar usar en el cerebro.
</p>
<p>
    Sigue tu intuición para saber qué llama usar y cuándo. En caso de duda, usa la llama teal (este color
    no tiene un nombre concreto en español).
</p>
<p>
    Comparada con otras artes de curación, la Alquimia tiene un efecto extremadamente poderoso, la energía
    es fácil de integrar y no hay efectos secundarios. Una iniciación de Reiki, por ejemplo, puede causar
    un mes de subidas y bajadas emocionales al cual se refieren como período de purgación. Cuando se hace
    correctamente, la Alquimia no causa ningún período de purgación.
</p>
<p>
    Es difícil escribir sobre el tema de la Alquimia, debido a su complejidad y por la falta de información
    en Internet. Comparada con artes como el Reiki, el Reiki es como estudiar en el instituto, mientras
    que la Alquimia es como estudiar en la Universidad. Asi, las pocas "universidades"que son buenas todavía
    no han abierto sus bibliotecas a Internet.
</p>
<p>
    El siguiente artículo explica la <a href="https://www.shamanicattraction.com/blog/violet-flame-meditation/">
        meditación de las llamas teal, oro y violeta
    </a>.
</p>
<p>El libro <a href="https://www.shamanicattraction.com/sexual-magnetism">Sexual Magnetism Blueprint</a> (se vendió $147, ahora es GRATIS) también cubre algunos aspectos básicos de la alquimia.</p>
<p>&nbsp;</p>
<p class="blue hoverlink">
    <a href="./">Más definiciones: </a>
    <br />
    <a href="que-es-alquimia" class="dark">Alquimia, </a><a href="https://www.shamanicattraction.com/definitions/es/que-es-atraccion-sexual">
        atracción sexual,
    </a><a href="https://www.shamanicattraction.com/definitions/es/que-es-carisma">carisma, </a>
    <a href="que-son-emociones">emociones, </a><a href="que-es-espiritualidad">espiritualidad, </a><a href="https://www.shamanicattraction.com/definitions/es/que-es-magnetismo-animal">
        magnetismo animal
    </a>.
</p>