@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Que es la espiritualidad";
    layout.Description = "¿Qué es la espiritualidad? Definición: Ciencia de tus sistemas energéticos y emocionales.";
    layout.Keywords = "espiritualidad, definición, sistemas energéticos, emociones, spiritual, self, transformation";
    layout.Language = "es";
}
<div class='sitemap hoverlink'><span><span><a href="~/">Home</a></span><span> &gt; </span><span><a href="~/definitions/es/">Definiciones</a></span><span> &gt; </span><span><a class="dark" href="~/definitions/es/que-es-espiritualidad">Espiritualidad</a></span></span></div>
<div class='language hoverlink'><a href='~/definitions/what-is-spirituality'>English</a> | <a href='~/definitions/fr/spiritualite'>Français</a> | <a href='~/definitions/es/que-es-espiritualidad' class='dark'>Español</a></div><div style='clear:both'></div>

<h1>¿Qué es la espiritualidad?</h1>
<p class="blue">Definición: Ciencia de tus sistemas energéticos y emocionales.</p>
<p>
    La espiritualidad va sobre conectarte a tu propio espíritu y entender cómo funcionan las energías dentro
    de ti y a tu alrededor. La ciencia va sobre la racionalidad y lo que puede ser medido. La religión es
    una visión institucionalizada de la espiritualidad dónde se ve a Dios como una entidad externa. La espiritualidad
    va sobre entender Dios como una parte de ti mismo incluso sin gurús, rituales religiosos y sin juicios.
    La religión es una experiencia grupal y cultural mientras que la espiritualidad es una experiencia individual.
</p>
<p>
    Aunque puedes trabajar con la espiritualidad de una manera puramente instintiva, también puedes aportar
    racionalidad a la mezcla para estudiar las dinámicas de las energías. La ciencia suele percibirse como
    la “verdad absoluta” que cambia cada 10 años. El problema es que la mayoría de la gente sólo la aprende
    una vez, lo que llevó a Max Planck, el padre de la física cuántica, a decir: “Una nueva verdad científica
    no triunfa convenciendo a sus detractores y haciéndoles ver la luz, sino porque con el tiempo sus oponentes
    mueren, y una nueva generación crece, la cual está próxima a la nueva verdad”.
</p>
<p>
    La espiritualidad puede referirse a una realidad última e inmaterial, un camino interno que permite a
    una persona descubrir la esencia de su ser. Las prácticas espirituales tales como la meditación están
    diseñadas con la intención de desarrollar la vida interior de un individuo. Tales prácticas frecuentemente
    llevan a una experiencia de conexión con una realidad mayor (“larger”reality?) con otros individuos,
    comunidades, la naturaleza, el cosmos o el reino divino. La espiritualidad es frecuentemente experimentada
    como una fuente de inspiración y orientación en la vida. Puede incluir la creencia en realidades inmateriales
    o experiencias de naturaleza inmanente o trascendente.
</p>
<p class="blue">Siete Malentendidos sobre la Espiritualidad</p>
<p><b>Primer malentendido: Teme a Dios! </b></p>
<p>
    La iglesia y los católicos, entre otros, enseñan a sus seguidores a temer a Dios y que debes ser bueno
    para no ser castigado. Esto es de hecho lo que está escrito en la traducción *inglesa* de la Biblia,
    pero no en su idioma original. Usaron la palabra “miedo” pues no existe ninguna palabra en la lengua
    inglesa para describir el concepto original. Lo que el idioma original quería decir es que debes venerar
    a Dios en el sentido de que cada célula de tu cuerpo vibre, no por miedo, sinó por amor y pasión. Cambia
    la palabra “teme” a “venera” y el sentido de la Biblia cambia completamente!
</p>
<p><b>Segundo malentendido: la religión es espiritualidad</b></p>
<p>
    Primero de todo, la religión es una experiencia grupal cuyo principal propósito es proteger al grupo,
    sobretodo de amenazas físicas tales como enfermedades, pobreza, muerte, crisis social e incluso de la
    guerra. La religión está enraizada en energías del primer chakra. La espiritualidad, por otro lado,
    es una experiencia individual dirigida a liberar miedos del mundo físico y perseguir una relación con
    lo divino.
</p>
<p><b>Tercer malentendido: Medita para ser consciente.</b></p>
<p>
    La mayoría de las personas que están metidos en la meditación intentan ser conscientes de ellos mismos
    para incrementar su conciencia de las energías. Por ejemplo, en Tailandia, los monjes que meditan en
    templos para estar conectados a las energías del universo tienen menos salud porque hay otro aspecto
    importante de la conexión: estar enraizados en el mundo físico y a nuestros instintos. Idealmente, queremos
    tener la base de nuestra columna sólidamente enraizada en la energía de la Tierra y la punta de tu coronilla
    enraizada a la energía universal, con ambas energías fluyendo a través de nuestros cuerpos. Ambos enraizamientos
    son igualmente importantes: a esto podemos llamarlo caminar a la vez en la Tierra y en el Cielo.
</p>
<p><b>Cuarto malentendido: Sé consciente de tí mismo</b></p>
<p>
    Intentamos ser conscientes de nosotros mismos para superar nuestras limitaciones, pero muchos de nosotros
    o intentamos controlar nuestras emociones o nos volvemos calmados y pasivos. Esto es especialmente un
    problema para las mujeres, pues en su naturaleza está responder a su entorno y fluir como el agua. Es
    importante ser consciente de nuestros miedos y limitaciones, pero es igualmente importante rendirnos
    ante/a nuestros instintos y a los sentimientos que vienen de nuestras entrañas. Ni siquiera necesitamos
    conciencia para rendirnos ante/a nosotros mismos! Sin embargo, muchos de nuestros comportamientos tienen
    su origen en miedos y necesitan ser desaprendidos.
</p>
<p><b>Quinto malentendido: Igualdad sexual</b></p>
<p>
    Las feministas querían igualdad sexual y obtuvimos homogeneidad. A primera vista, la idea de equilibrar
    las energías yin y yang (femeninas/masculinas) parece dar soporte al concepto de la igualdad sexual.
    Sin embargo, la verdad es que la homogeneidad está reprimiendo tanto la masculinidad como la feminidad,
    y acabamos en una zona gris entremedias. Yin y yang se refieren a la polaridad sexual y el conraste:
    tener una fuerte presencia masculina como James Bond o tener una fuerte presencia femenina como las
    mujeres tailandesas. El equilibrio entre el Yin y el Yang significa tener una presencia fuertemente
    polarizada sin la sensación de necesidad al poder obtener la energía del sexo opuesto de nuestro interior.
</p>
<p><b>Sexto malentendido: Dios es tu padre</b></p>
<p>
    Mucha gente habla de rendirse a la voluntad de Dios, la qual cosa les trae prosperidad y paz mental.
    Aunque puedes ver a Dios como tu padre y seguir Su voluntad, tu ERES parte de Dios! Todos somos Dioses,
    y podemos tomar responsabilidad por lo que creamos en nuestras propias vidas y en las vidas de los otros.
    Si te unes con Dios, tu “padre” nunca creará algo que vaya en contra de tu voluntad, y tu nunca crearás
    algo que vaya contra la voluntad de tu “padre”. Te inspirará a tí tanto como tu lo influencies
</p>
<p><b>Séptimo malentendido: El bien contra el mal</b></p>
<p>
    El bien y el mal sólo son juicios. De hecho, cosas que hagas con buenas intenciones pueden tener malas
    consecuencias, y cosas que hagas con malas intenciones pueden tener buenas intenciones. Por ejemplo,
    unos padres protegen a sus hijos por el bien de estos, pero como consecuencia estos hijos se vuelven
    reservados e incapaces de tomar responsabilidad por sus vidas. O un chaval puede darle a un puñetazo
    a otro, haciéndole una buena herida, y esa herida puede causar que el otro chaval cambie su actitud
    y mejore su vida. El bien y el mal són mentiras: sólo existe actuar desde el amor y actuar desde el
    medio. En los ejemplos expuestos anteriormente, los padres sobreprotegen por miedo, y el chaval puede
    ser que le dé un puñetazo al otro por amor a la integridad.
</p>
<p>&nbsp;</p>
<p class="blue hoverlink">
    <a href="./">Más definiciones: </a>
    <br />
    <a href="que-es-alquimia">Alquimia, </a><a href="https://www.shamanicattraction.com/definitions/es/que-es-atraccion-sexual">
        atracción sexual,
    </a><a href="https://www.shamanicattraction.com/definitions/es/que-es-carisma">carisma, </a>
    <a href="que-son-emociones">emociones, </a><a href="que-es-espiritualidad" class="dark">
        espiritualidad,
    </a><a href="https://www.shamanicattraction.com/definitions/es/que-es-magnetismo-animal">magnetismo animal</a>.
</p>
