@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Que son las emociones";
    layout.Description = "¿Qué son las emociones? Definición: energías en moción que causan una experiencia psicofisiológica.";
    layout.Keywords = "emociones, energías, psicofisiológica, spiritual, self, transformation";
    layout.Language = "es";
}
<div class='sitemap hoverlink'><span><span><a href="~/">Home</a></span><span> &gt; </span><span><a href="~/definitions/es/">Definiciones</a></span><span> &gt; </span><span><a class="dark" href="~/definitions/es/que-son-emociones">Emociones</a></span></span></div>
<div class='language hoverlink'><a href='~/definitions/what-are-emotions'>English</a> | <a href='~/definitions/fr/emotions'>Français</a> | <a href='~/definitions/es/que-son-emociones' class='dark'>Español</a></div><div style='clear:both'></div>

<h1>¿Qué son las emociones?</h1>
<p class="blue">Definición: energías en moción que causan una experiencia psicofisiológica.</p>
<p>
    Las emociones representan un amplio rango de energías que determinan la experiencia humana, incluyendo
    la intuición femenina, los instintos masculinos, la inspiración y los miedos. Hay varias maneras de
    clasificar este complejo abanico de emociones. Una manera es separarlas en emociones positivas y emociones
    negativas. Otra manera es clasificarlas por frecuencia energética y chakras. Cualquier clasificación
    sólo puede proveer una aproximación de las complejas y fluidas dinámicas de las emociones. El cuerpo,
    el alma y el espíritu están los tres inter-contectados.
</p>
<p class="blue">Emociones y pensamientos</p>
<p>
    Mucha gente debate sobre si las emociones surgen de los pensamientos o los pensamientos surgen de las
    emociones. Tus pensamientos alteran tus emociones y tus emociones alteran tus pensamientos, de manera
    que hay un mecanismo de retroalimentación entre los dos. Cuando tienes que elegir entre pedir chocolate
    o helado de vainilla, una opción te hace sentir mejor. De tu preferencia emocional surgen un pensamiento
    y una decisión. Luego si empiezas a pensar que el helado te hará daño en los dientes, empezarás a sentir
    dolor y duda. Las emociones alteran los pensamientos y los pensamientos alteran las emociones.
</p>
<p class="blue">Emociones positivas y negativas</p>
    Hay una clara diferencia entre emociones positivas y emociones negativas Emociones positivas incluyen
    júbilo, amor, inspiración y libertad. Las emociones neatives incluyen miedo, ira, venganza y culpa.
    Las emociones positivas son un flujo de energías sexuales y del amor fluyendo a través de tu cuerpo
    y guiándote a través de la vida. Las emociones negativas son miedos que bloquean este flujo de energía.
    Si tomas cualquier situación, suelen haver tanto emociones positivas como emociones negativas mezcladas.
    Entonces puedes separar el flujo de energía inspirador de los miedos para mejorar tu experiencia. Por
    ejemplo, cuando quieres algo, una parte de ese "querer" es una inspiración para vivir más que se siente
    bien y otra parte es una sensación de necesidad que se siente mal. Al dejar ir la sensación de necesidad
    y amplificar la inspiración, cambia completamente cómo te sientes hacia la situación.
<p class="blue">Centros energéticos principales (Chakras)</p>
<p>
    La energía fluye por nuestro cuerpo a través de 7 chakras principales y cada uno representa una frecuencia
    diferente de emociones.
</p>
<p>1. Chakra raíz: supervivencia, amigos, familia y el enraizamiento en nuestros instintos humanos.</p>
<p>2. Chakra sexual: sexo, creatividad, dinero y relaciones.</p>
<p>3. Plexo solar: poder personal, vitalidad, auto-estima, integridad y polaridad sexual.</p>
<p>4. Chakra corazón: amor a uno mismo, amor incondicional y compasión.</p>
<p>5. Chakra garganta: expresión de uno mismo, comunicación y poder de elección.</p>
<p>
    6. Tercer ojo: poder de la mente, las leyes de la atracción, la intuición, la clarividencia y la sabiduría
    intuitiva.
</p>
<p>
    7. Chakra de la coronilla: conexión divina con Dios, conciencia de las energías universales, conciencia
    del propósito vital.
</p>
<p class="blue">Conexiones emocionales</p>
<p>
    Las emociones y la mente subconsciente de todos los seres vivientes se encuentran inter-conectados a
    través de los Registros Akásicos, un complejo campo unificado. Esto puede verse cuando una persona enfrente
    de ti se empieza a reír y tu también te ríes. Las emociones son contagiosas. Esto también puede ocurrir
    a distancia cuando una persona en otro país siente amor o rabia hacia tí y eso afecta tu estado mental.
    Frecuentemente ocurre que cuando piensas en un viejo amigo esa persona también piensa en ti y se pone
    en contacto contigo poco después. Esto significa que cuando interactuas con alguien, hay un nivel de
    comunicación emocional directa.
</p>
<p>&nbsp;</p>
<p class="blue hoverlink">
    <a href="./">Más definiciones: </a>
    <br />
    <a href="que-es-alquimia">Alquimia, </a><a href="https://www.shamanicattraction.com/definitions/es/que-es-atraccion-sexual">
        atracción sexual,
    </a><a href="https://www.shamanicattraction.com/definitions/es/que-es-carisma">carisma, </a>
    <a href="que-son-emociones" class="dark">emociones, </a><a href="que-es-espiritualidad">
        espiritualidad,
    </a><a href="https://www.shamanicattraction.com/definitions/es/que-es-magnetismo-animal">magnetismo animal</a>.
</p>
