<div class="productRow">
    <div class="productBoxnew">
        <img src="~/images/img_top_shamanic_attraction.jpg" alt="Attraction and Intimacy" />
        <div class="productDec" style="width:180px">
            <h4>Top 7 Benefits</h4>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=EqdoukXDRQw" target="_blank">Authentic Self</a></li>
                <li><a href="https://www.youtube.com/watch?v=MXZkqCLmP-4" target="_blank">Self-Confidence</a></li>
                <li><a href="https://www.youtube.com/watch?v=8eJTxfaj2lA" target="_blank">Spiritual Freedom</a></li>
                <li><a href="https://www.youtube.com/watch?v=dZ3XL0w1IuI" target="_blank">Emotional Intimacy</a></li>
                <li><a href="https://www.youtube.com/watch?v=lV1wMok_XXY" target="_blank">Well-Being</a></li>
                <li><a href="https://www.youtube.com/watch?v=VPZbASzQkJo" target="_blank">Sexual Magnetism</a></li>
                <li><a href="https://www.youtube.com/watch?v=-lmWWs49mZg" target="_blank">Self-Healing</a></li>
            </ul>
        </div>
        <div class="productDec" style="width: 220px">
            <h4>Top Men Solutions</h4>
            <ul>
                <li><a href="~/sexual-magnetism">Be More Than Just a Friend</a></li>
                <li><a href="~/sexual-magnetism">Authentic Sexual Relationships</a></li>
                <li><a href="~/sexual-magnetism">Enjoy Relationships That Last</a></li>
            </ul>
            <h4 style="clear: both;">Top Women Solutions</h4>
            <ul>
                <li><a href="https://www.spiritualselftransformation.com">Shine With Love</a></li>
                <li><a href="https://www.spiritualselftransformation.com">Stillness and Feminine Wisdom</a></li>
                <li><a href="https://www.spiritualselftransformation.com">Attract the Right Man</a></li>
            </ul>
        </div>
    </div>
</div>
