<div class="sidebar">
    <h2><strong>FREE TRAINING</strong></h2>
    <div class="boxdesc">
        <p>You know you have a higher purpose you are not living.</p>
        <p>Join us at the <strong>Force of Life FREE training</strong> to live a life you love
            and step into your higher purpose.</p>
    </div>
    
    <div class="clear">
    </div>
    <div class="privacy">
        <img src="~/images/lock.png" alt="lock" width="16" height="16" align="top" />No
        spam. Unsubscribe anytime.
    </div>
</div>
<div class="sidebarbtn">
    <a href="https://www.forceoflife.net" target="_blank">Send It To Me</a>
</div>
<div class="sidebarspace">
    &nbsp;
</div>
