<div class="sidebar">
    <div id="WFItem10732" class="wf-formTpl" style="padding-top: 6px">
        <div class="box">
            <div id="WFIcenter" class="wf-body">
                <ul class="wf-sortable" id="wf-sort-id">
                    <li class="wf-name" style="display: block !important;">
                        <div class="wf-contbox">
                            <div class="wf-inputpos">
                                <input style="width: 148px;" class="wf-input wf-valid__length1to255" type="text" name="name" onclick="if (document.envee.name.value == 'NAME') document.envee.name.value=''"
                                    value="NAME" /></div>
                            <em class="clearfix clearer"></em>
                        </div>
                    </li>
                    <li class="wf-age" style="display: block !important;">
                        <div class="wf-contbox">
                            <div class="wf-inputpos">
                                <input style="width: 148px;" class="wf-input wf-req wf-valid__email" type="text" name="age" onclick="if (document.envee.email.value == 'AGE') document.envee.email.value=''"
                                    value="AGE" /></div>
                            <em class="clearfix clearer"></em>
                        </div>
                    </li>
                    <li class="wf-country" style="display: block !important;">
                        <div class="wf-contbox">
                            <div class="wf-inputpos">
                                <input style="width: 148px;" class="wf-input wf-req wf-valid__email" type="text" name="country" onclick="if (document.envee.email.value == 'COUNTRY') document.envee.email.value=''"
                                    value="COUNTRY" /></div>
                            <em class="clearfix clearer"></em>
                        </div>
                    </li>
                    <li class="wf-email" style="display: block !important;">
                        <div class="wf-contbox">
                            <div class="wf-inputpos">
                                <input style="width: 148px;" class="wf-input wf-req wf-valid__email" type="text" name="email" onclick="if (document.envee.email.value == 'EMAIL') document.envee.email.value=''"
                                    value="EMAIL" /></div>
                            <em class="clearfix clearer"></em>
                        </div>
                    </li>
                    <li class="wf-seeking" style="display: block !important;">
                        <div class="wf-contbox">
                            <div class="wf-inputpos">
                                <select name="select" style="width: 148px;" class="wf-input wf-req wf-valid__email">
                                    <option selected="selected">Increased Sexual Magnetism</option>
                                    <option selected="selected">Ability to Authentically Attract</option>
                                    <option selected="selected">Dating Coaching</option>
                                    <option selected="selected">Life Coaching</option>
                                    <option selected="selected">Spirituality Coaching </option>
                                </select></div>
                            <em class="clearfix clearer"></em>
                        </div>
                    </li>
                    <li class="wf-submit" style="display: block !important;">
                        <div class="wf-contbox">
                            <div class="privacy">
                                <img id="Img1" src="~/images/lock.png" alt="lock" width="16" height="16" align="top" />No
                                spam. Unsubscribe anytime.</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <input type="hidden" name="webform_id" value="" />
    </div>
    <asp:ImageButton ID="ImageButton1" ImageUrl="~/images/free_consultation.png" />
</div>
<div class="sidebarbottom">
    &nbsp;</div>
