<a class="buynow buyaa" href="~/authentic-attraction">
    <span class="boxheader">Authentic Attraction</span><br />
    <span class="boxdesc">Life your relationships with authenticity, empowerment and freedom.</span><br />
    <span class="btn"></span>
</a>