<div class="sidebar">
    <h2>About Etienne</h2>
    <img src="~/images/aboutetienne.jpg" align="right" alt="Etienne" style="padding-top: 6px;" width="70"
        height="100" />
    <p class="boxdesc">Etienne Charland helps people align with their soul's purpose and design a lifestyle
        of freedom around it by changing the way their energetic and emotional systems are wired in their subconscious
        mind, which directly affect their thoughts, behaviors, circumstances and results.</p>
</div>
<div class="sidebarbottom">
    &nbsp;</div>
