<div class="sidebar">
    <h2>Video Testimonials</h2>
</div>
<div class="sidebarbg">
    <iframe width="320" height="200" src="//www.youtube-nocookie.com/embed/Gxed8FTnB2Y?rel=0;showinfo=0" frameborder="0" allowfullscreen style="padding-right:15px;"></iframe>
    <div style="height: 10px;">
    </div>
    <iframe width="320" height="200" src="//www.youtube-nocookie.com/embed/0thY4WKT3CQ?rel=0;showinfo=0" frameborder="0" allowfullscreen style="padding-right:15px;"></iframe>
    <div style="height: 10px;">
    </div>
    <iframe width="320" height="200" src="//www.youtube-nocookie.com/embed/t9vPSxZfPXI?rel=0;showinfo=0" frameborder="0" allowfullscreen style="padding-right:15px;"></iframe>
    <div style="height: 10px;">
    </div>
    <iframe width="320" height="200" src="//www.youtube-nocookie.com/embed/Z-Fhjs16kU4?rel=0;showinfo=0" frameborder="0" allowfullscreen style="padding-right:15px;"></iframe>
    <div style="height: 10px;">
    </div>
    <iframe width="320" height="200" src="//www.youtube-nocookie.com/embed/vi1imV-c5Tk?rel=0;showinfo=0" frameborder="0" allowfullscreen style="padding-right:15px;"></iframe>
    <div style="height: 10px;">
    </div>
    <iframe width="320" height="200" src="//www.youtube-nocookie.com/embed/7-OEbFq7TFw?rel=0;showinfo=0" frameborder="0" allowfullscreen style="padding-right:15px;"></iframe>
    <div style="height: 10px;">
    </div>
    <iframe width="320" height="200" src="//www.youtube-nocookie.com/embed/GKKhaxyiFEo?rel=0;showinfo=0" frameborder="0" allowfullscreen style="padding-right:15px;"></iframe>
    <div style="height: 10px;">
    </div>
    <iframe width="320" height="200" src="//www.youtube-nocookie.com/embed/AulpNLL86LI?rel=0;showinfo=0" frameborder="0" allowfullscreen style="padding-right:15px;"></iframe>
</div>
<div class="sidebarspace">
</div>
