<div id="footerArea">
    <div id="footer">
        <div class="footerleft">
            <div class="footerlogo">
                <a href="~/">
                    <img src="~/images/gooter-logo.gif" alt="Attraction and Intimacy" /></a></div>
            <div class="footerNav">
                <h5><a href="~/blog/">Blog</a></h5>
                <h5><a href="~/recommended">Links</a></h5>
                <h5><a href="~/sitemap">Site Map</a></h5>
                <h5><a href="~/privacy">Privacy</a></h5>
                <h5><a href="~/terms">Terms</a></h5>
                <h5><a href="~/self-transformation/contact-us">Contact Us</a></h5>
            </div>
            <div class="footerNav">
                <h4><a href="~/definitions/">DEFINITIONS</a></h4>
                <ul>
                    <li><a href="https://www.spiritualselftransformation.com/definitions/what-is-alchemy">Alchemy</a></li>
                    <li><a href="~/definitions/what-is-animal-magnetism">Animal Magnetism</a></li>
                    <li><a href="~/definitions/what-is-charisma">Charisma</a></li>
                    <li><a href="https://www.spiritualselftransformation.com/definitions/what-are-emotions">Emotions</a></li>
                    <li><a href="~/definitions/what-is-sexual-attraction">Sexual Attraction</a></li>
                    <li><a href="https://www.spiritualselftransformation.com/definitions/what-is-spirituality">
                        Spirituality</a></li>
                </ul>
            </div>
            <div class="footerNav">
                <h4><a href="~/products">PRODUCTS</a></h4>
                <ul>
                    <li><a href="~/transform-from-within">Transform From Within</a></li>
                    <li><a href="~/sexual-magnetism">Sexual Magnetism</a></li>
                    <li><a href="~/result-oriented-spirituality">Result-Oriented Spirituality</a></li>
                </ul>
            </div>
            <div class="footerNav">
                <h4><a href="https://www.spiritualselftransformation.com">SOUL PURPOSE</a></h4>
                <ul>
                    <li><a href="https://www.forceoflife.net">Force of Life</a></li>
                    <li><a href="https://www.spiritualselftransformation.com/soul-alignment-reading">Soul Alignment Reading</a></li>
                </ul>
            </div>
            <div class="footerNav">
                <h4><a href="~/self-transformation/">ABOUT US</a></h4>
                <ul>
                    <li><a href="~/self-transformation/bio">Bio</a></li>
                    <li><a href="~/self-transformation/story">Story</a></li>
                    <li><a href="~/self-transformation/what-we-do">What We Do</a></li>
                    <li><a href="~/self-transformation/who-we-work-with">Who We Work With</a></li>
                    <li><a href="~/self-transformation/testimonials">Testimonials</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            Copyright &copy; Shamanic Attraction 2008-2019. All Right Reserved.</div>
    </div>
</div>
