<a href="~/" class="logo">Self-Transformation, Attract Women, Spiritual Freedom, Energy Healing</a>
<div class="rightheader">
    <div id="myslidemenu" class="jqueryslidemenu">
        <ul>
            <li><a href="~/blog/">Blog</a> | </li>
            <li>
                <a href="~/products">Products</a> |
                <ul>
                    <li><a href="~/transform-from-within">Transform From Within</a></li>
                    <li><a href="~/sexual-magnetism">Sexual Magnetism</a></li>
                    <li><a href="~/result-oriented-spirituality">Result-Oriented Spirituality</a></li>
                </ul>
            </li>
            <li>
                <a href="https://www.spiritualselftransformation.com">Soul Purpose</a> |
                <ul>
                    <li><a href="https://www.forceoflife.net">Force of Life</a></li>
                    <li><a href="https://www.spiritualselftransformation.com/soul-alignment-reading">Soul Alignment Reading</a></li>
                </ul>
            </li>
            <li>
                <a href="~/self-transformation/">About Us</a> |
                <ul>
                    <li><a href="~/self-transformation/bio">Bio</a></li>
                    <li><a href="~/self-transformation/story">Story</a></li>
                    <li><a href="~/self-transformation/what-we-do">What We Do</a></li>
                    <li><a href="~/self-transformation/who-we-work-with">Who We Work With</a></li>
                    <li><a href="~/self-transformation/testimonials">Testimonials</a></li>
                </ul>
            </li>
            <li><a href="~/self-transformation/contact-us">Contact Us</a></li>
        </ul>
    </div>
    <div class="icons">
        <div class="f1">
            <a target="_blank" href="https://www.facebook.com/HanumanInstitute" title="Facebook">&nbsp;</a>
        </div>
        <div class="t1">
            <a target="_blank" href="https://twitter.com/satrimono" title="Twitter">&nbsp;</a>
        </div>
        <div class="y1">
            <a target="_blank" href="https://www.youtube.com/user/myselftransformation" title="YouTube">&nbsp;</a>
        </div>
    </div>
</div>
