<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MailServer" value="smtp.shamanicattraction.com"/>
    <add key="MailFrom" value="etienne@spiritualselftransformation.com"/>
    <add key="MailShareFrom" value="etienne@spiritualselftransformation.com"/>
    <add key="MailFromName" value="Etienne"/>
    <add key="GetResponseApiKey" value="c152ea3f4b9da92a3552322af7b319d8" />
    <add key="AffiliateConfigFile" value="http://www.spiritualselftransformation.com/webaffiliateconfig.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors defaultRedirect="~/error.html" mode="Off"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RemoveDefault" stopProcessing="true">
          <match url="(.*)/default$"/>
          <action type="Redirect" url="{R:1}/"/>
        </rule>
        <rule name="RemoveASPX" stopProcessing="true">
          <match url="(.*)\.aspx"/>
          <action type="Redirect" url="{R:1}"/>
        </rule>
        <rule name="AddASPX">
          <match url=".*" negate="false"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{URL}" pattern="(.*)\.(.*)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:0}.aspx"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>