@page
@{
    ViewData["ActiveIndex"] = 2;
    ViewData["Title"] = "Books";
    ViewData["Description"] = "There is a long forgotten history of this Universe. This book will reveal the context under which this Universe got created, the mysteries of ancient civilizations and of the Orion Federation, explain the psychic war that has been unfolding for years after the end of the Great Cycle, and expose how this planet can finally break free of oppressive forces to be free to evolve and grow into prosperity. This will be the journey of a Universe through time, and guide your role in it to create the future. This book is entirely channeled from Metatron and will be an essential piece for the healing process of the Universe. It will help shift the way you create reality forever. A must read, and a must share.";
    ViewData["Keywords"] = "The History of the Universe, Etienne Charland, Metatron, Universe, laws of the Universe, book, books, ancient civilizations, truth, energy reading, psychic reading, secret, forgotten history, prosperity, timelines";
}
<div class="books-wrap">
    <div class="row">
        <div class="col-sm-3">
            <div class="books-img">
                <a href="http://amzn.to/2jaaVVf"><img src="images/history-of-universe-front.jpg" class="img-responsive" alt="The History of the Universe"></a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="book-title"><a href="http://amzn.to/2jaaVVf">The History of the Universe</a></div>
            <div class="book-description">There is a long forgotten history of this Universe. This book will reveal the context under which this Universe got created, the mysteries of ancient civilizations and of the Orion Federation, explain the psychic war that has been unfolding for years after the end of the Great Cycle, and expose how this planet can finally break free of oppressive forces to be free to evolve and grow into prosperity. This will be the journey of a Universe through time, and guide your role in it to create the future. This book is entirely channeled from Metatron and will be an essential piece for the healing process of the Universe. It will help shift the way you create reality forever. A must read, and a must share.</div>
            <a href="http://amzn.to/2jaaVVf" class="red-btn mar-top-15 trs">Purchase</a>
        </div>
    </div>
</div>
<p>&nbsp;</p>
