@page
@{
    ViewData["Title"] = "Contact Us";
    ViewData["Description"] = "Your message has been sent.";
    ViewData["Keywords"] = "life, love, truth, freedom, sent";
}
<div class="productRow">
    <h1>Your message has been sent.</h1>
    <p>You will hear from us within a few days.</p>
    <p>&nbsp;</p>
    <p><a href="~/">Continue to home page >></a></p>
</div>
