@page
@{
    ViewData["ActiveIndex"] = 4;
    ViewData["Title"] = "How To Do Pendulum Reading";
    ViewData["Description"] = "Here's the procedure to measure energies using the pendulum reading test. The goal is simple: to ask a series of clear yes/no questions and measure the answers.";
    ViewData["Keywords"] = "how to measure energies, accuracy, david hawkins, scale of consciousness, pendumlum reading, how to pendulum test, conscousness, truth, life, love, freedom, clairvoyance, how to read energies";
}
<p class="small">> <a asp-page="book-accuracy-list">Book Accuracy List</a> > <a asp-page="how-to-measure-hawkins-scale">How to Measure Energies</a> > How To Do Pendulum Reading</p>
<h3>Here's the procedure to measure energies using the pendulum reading test</h3>
<p>The goal is simple: to ask a series of clear yes/no questions and measure the answers.</p>
<p>The means is by communicating with your higher self that is inter-connected with a greater intelligence.</p>
<p>The pendulum will oscillate in a certain way when focusing on truth or on anything of high energy. Some will argue that you can move the pendulum with the focus of your mind and thus the pendulum can't be trusted. That is exactly the point: the pendulum isn't doing any magic on its own. It is merely an extension of your higher self and is being used to measure your own energy in a very similar way as for muscle testing.</p>
<p>Many principles including the focus of your mind and handling distortion are the same as for <a asp-page="how-to-muscle-testing">muscle testing</a> so I won't repeat them here. The main difference is that you can't do it at the restaurant or while speaking with someone, and the results are generally more accurate.</p>
<p>First, why is the pendulum reacting to your mind? Your consciousness creates a torsion field of energy. A consciousness of truth will create a very different torsion field than a consciousness of lies. A pendulum is very sensitive to this torsion field, and when you hold a pendulum in your hand, it follows the torsion field you are projecting with your own consciousness.</p>
<p>Another way of observing this torsion field is to ask the question into a glass of water and then freezing the water. If you then observe the ice cubes under a microscope, the statements that were true will show different crystal shapes than those than were false. Search about <a href="https://www.google.com/search?q=Masaru+Emoto" target="_blank">"Masaru Emoto"</a> for more details on this.</p>
<h3>Pendulum Reading Calibration</h3>
<p>First, you need a pendulum: any small object hanging on a cord, wire or chain. Any object will do, but a crystal is more sensitive to this field of energy. Metals work as well. You simply need it to hang so that it can move freely. The longer the wire, the more sensitive the pendulum will be.</p>
<p>Second, you need to clean and attune your crystal regularly to remove distortion and increase its accuracy. You wouldn't want to be measuring energies that had been accumulating in it for months. Pass it under clear water while visualizing a white beam of light coming down from God into the crystal to remove any stuck energy. Then, leave it under the sun to recharge.</p>
<p>Third, you want to connect the pendulum to the Plane of Stillness beyond time and space, and then ask your question in the same way you would with muscle testing. You can ask the Orion soul Denise to help you adjust for the right mind focus.</p>
<p>Fourth, say "yes" and observe the movement of the pendulum. Then, say "no" and observe the movement of the pendulum. After this, calibration is completed.</p>
<p>Now, ask any question and observe the movement of the pendulum, and follow the other steps explained in <a asp-page="how-to-measure-hawkins-scale">How to Measure Energies</a>.</p>
<p>Always ask "is this answer accurate" and "is there any distortion, internal or external", to discard distorted results.</p>
<p>&nbsp;</p>
<p><a asp-page="book-accuracy-list">Go back to the Book Accuracy List</a></p>
