@page
@{
    ViewData["ActiveIndex"] = 4;
    ViewData["Title"] = "How To Do Muscle Testing";
    ViewData["Description"] = "Here's the procedure to measure energies using muscle testing. The goal is simple: to ask a series of clear yes/no questions and measure the answers.";
    ViewData["Keywords"] = "muscle testing, hawkins scale, how to do muscle testing, how to measure energies, david hawkins, scale of consciousness, life, love, truth, freedom, universe, psychic, clairvoyance";
}
<p class="small">> <a asp-page="book-accuracy-list">Book Accuracy List</a> > <a asp-page="how-to-measure-hawkins-scale">How to Measure Energies</a> > How To Do Muscle Testing</p>
<h3>Here's the procedure to measure energies using muscle testing</h3>
<p>The goal is simple: to ask a series of clear yes/no questions and measure the answers.</p>
<p>The means is by communicating with your higher self that is inter-connected with a greater intelligence.</p>
<p>The principle is simple: your body is stronger when looking at the truth and weaker when looking at lies.</p>
<p>The challenge is distortion, both internal and external.</p>
<p>Note that some people get clear results while this doesn't work for others based on how their subconscious mind is wired and what programs or obstacles get in the way. If muscle testing doesn't work for you, try other methods such as the <a asp-page="how-to-pendulum-reading">pendulum reading</a>, or ask help from someone who is successful at it.</p>
<p>Don't worry about distortion for now. Your beliefs and values system may distort your results at first and that's fine. Just measure it anyway.</p>
<h3>Muscle Testing with Ring Finger Technique</h3>
<p>There are various ways to do muscle testing. David Hawkins recommends using a partner to avoid personal distortion, but that still doesn't prevent cultural bias. Thus, you are better to do it alone and work around distortions in a different way.</p>
<p>The ring finger technique is my favorite because it is quick and easy: you can ask 10 questions in 10 seconds while speaking with someone without looking weird. It may not be the easiest method to get started, but once you get the hang of it, it is definitely the most practical for daily use.</p>
<ul class="mission-points">
    <li>Hold both hands palms up with your thumb and middle finger touching each other to form a ring in each hand.</li>
    <li>Imagine a wire of light going from the tip of your fingers all the way up to the sky, to the cosmos and to the Plane of Stillness beyond time and space.</li>
    <li>Hold both rings into each other so that your hands form an infinity symbol.</li>
    <li>Pull your hands gently apart.</li>
    <li>Find the right finger pressure so that your rings stay in each other when you say "yes" and break apart when you say "no".</li>
    <li>Ask a simple question for which you know the answer. Your fingers will stay together if the answer is "yes" and break apart if the answer is "no".</li>
</ul>
<p>Here are a few questions to get started. You can try with both affirmations and questions to see what works best.</p>
<ul class="mission-points">
    <li>My name is ...</li>
    <li>Am I a starseed?</li>
    <li>Is my soul structure built in at least 6 densities?</li>
    <li>This article is accurate</li>
    <li>I had past lives in Andromedia, Orion or Lemuria</li>
    <li>At least 20% of my beliefs are accurate</li>
</ul>
<h3>Handling Distortion</h3>
<p>Many people know how to do muscle testing yet don't use it. The main reason is that they don't trust the results because they are aware of distortions. The second reason is that often they aren't ready to hear the truth and thus they won't ask, as we live in a house of cards built on lies and illusions.</p>
<p>The first thing to know about distortion is that the answers are always accurate. The distortion affects the question. Thus, the precision of the questions are more important than the answers themselves.</p>
<p>When you ask a question or think an affirmation, your mind is connected to a mental construct or aggregate of energy. Distortion of the question happens when you mind fails to connect with the whole target and either surrounds a partial aspect of the target or brings your own filters into the question. In which case, you will either measure your own filters or measure a partial aspect of the target. For example, if you take a Nissan car and install a Mercedes sign in the front, if your mind focuses only on a partial aspect (the sign), you'll get the answer that it is a Mercedes, while if your mind focused on the whole car, you will get a different answer. It usually happens in more subtle ways. If 20 people surround a house and describe the house, they will all give a different answer because they look from a different angle and value different aspects. You need to look at the whole target from the perspective of the Plane of Stillness beyond time and space.</p>
<p>When you ask a question, always ask "is this answer accurate" and "is there any distortion, internal or external". If you don't get a clear YES and a clear NO, you can't trust the answer.</p>
<p>Here's a trick, and this one is counter-intuitive: it is EASIER to read a target for which you know nothing about! The next time you see a news or article on the Internet, measure its accuracy level BEFORE looking at the content: "is this article at least 80% accurate?". If your mind knows nothing of the target, it becomes more difficult for your filters to get in the way. As for people you get in contact with, it is easier to intuitively evaluate them BEFORE knowing them.</p>
<p>Which means: <strong>start asking questions about people you don't know on questions for which you have no preference.</strong></p>
<p>Additionally, you can call for an Orion soul called Denise who will help you connect your mind to the Plane of Stillness and adjust your mind focus to avoid distortion.</p>
<p>Finally, when focusing on a question, you always want to look from above, never laterally. If you look laterally, your filters and the other person's veils distort the reading. If you look from above, neither your filters nor his veils alter the result.</p>
<h3>Application of Muscle Testing</h3>
<p>Here are a few ideas of how to use muscle testing in your daily life:</p>
<ul class="mission-points">
    <li>Measuring the accuracy level of Facebook news</li>
    <li>Measuring the relational integrity of a teacher</li>
    <li>At the restaurant, muscle testing each item in the menu to ask your body which one it wants</li>
    <li>Measuring what % a food is good for your body</li>
    <li>Asking your body before making any decision</li>
</ul>
<p></p>
<p>&nbsp;</p>
<p><a asp-page="book-accuracy-list">Go back to the Book Accuracy List</a></p>
