@page
@{
    ViewData["ActiveIndex"] = 1;
    ViewData["Title"] = "Our Mission";
    ViewData["Description"] = "Satrimono Publishing's mission is to recover and publish lost knowledge from other worlds to aid us through our period of ascension.";
    ViewData["Keywords"] = "publishing, book, ascension, metatron, federation of light, archangels, orion, souls of orion, energy shift, soul purpose, knowledge, laws of the Universe, distance healing, ascension, disclosure, truth, freedom";
}
<h3>We face several problems today:</h3>
<ul class="mission-points">
    <li>The world is changing at a rapid pace and we must re-educate ourselves to adapt to a changing world.</li>
    <li>Our ways of living are not sustainable and we will destroy ourselves unless we learn better ways of doing things.</li>
    <li>We face a strong polarization between leadership and spirituality, and as a result, there is no spiritually-aligned leadership to replace our corrupt leaders, and for that reason, they have no choice but to stay in power for now.</li>
    <li>There are massive governmental propaganda campaigns to spread disinformation and manipulate movements, and as a result, people dont know what to believe in anymore.</li>
</ul>
<p>
    As a solution to these problems, <strong>Satrimono Publishing</strong> brings a series of books of very high integrity and accuracy levels, mostly ancient books from other planets that have passed the test of time. These books are transmitted telepathically and rewritten in their integrality.
</p>
<p>If you doubt of the source of these books, consider this. There is no way someone on this planet could write such precise and practical information that is so far ahead of our collective level of consciousness. In any cases, it is recommended to use kinesiology to validate everything you read as it is the only way to accept a new reality as truth.</p>
<p>&nbsp</p>
<h3>Want to publish with Satrimono Publishing?</h3>
    It's very simple: we have a single criteria. Your book must have a minimal vibration of 1 million and a minimal accuracy of 95%.
