@page
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Description"] = "By using or interacting with this Website or submitting your information, you give your consent to the terms of this Privacy Policy, Terms of Service and any other terms and conditions provided on the website.";
    ViewData["Keywords"] = "soul purpose, privacy policy, spiritual transformation, royal alchemy, orion souls, metatron, life, love";
}
<p><i>
    Updated on: April 15<sup>th</sup> 2019
</i></p>
<p>
    We fully understand the importance of protecting the personal information collected from our users in their use of or interaction with our Website. Reasonable preventive and protection measures to keep all your data secure while also maintaining its integrity and privacy are of great importance to us.
</p>
<p>
    By using or interacting with this Website or submitting your information, you give your consent to the terms of this Privacy Policy, Terms of Service and any other terms and conditions provided on the website.
</p>
<p>
    Anyone of less than 18 years of age shall only use the website after seeking parental/guardian’s permission for the same. If you are below 18 years of age kindly refrain from providing any personal details to our website or to other users on the website. We do not knowingly collect any personal information from anyone below 18 years of age.
</p>
<p>
    This policy lays out and describes our collection, use, storage, disclosure and protection of your data and information. It also explains the options available to you in deciding our use of your data and the measures you can take to contact us for any queries or removal/updating of your information.
</p>
<p>
    SATRIMONO.COM, referred herein as Us/We/Our, offers digital informative content and bulk orders for the sale of books.
</p>
<p>
    Your privacy is of utmost importance to us and we do everything in our capacity to ensure rigorous protection for it. We do not sell or rent your information to other third-parties (please read the specific terms herein to know more about our sharing and disclosure with third parties).
</p>
<h3>
    Modes of Collection
</h3>
<p>
    We collect information:
</p>
<p>
    A. Directly
</p>
<ul class="mission-points">
    <li>
        When you voluntarily submit your information by giving consent to receiving updates or emails, or by signing up for our newsletters or marketing emails.
    </li>
    <li>
        When you directly submit your personal information such as your name, email, phone number, address, DOB etc, in order to make an account with us, or comment on any content on our website, or if you wish to contact us via the “contact form” on the website.
    </li>
    <li>
        When you directly communicate with us in any other manner and submit any information in the furtherance of such communication.
    </li>
    <li>
        When you connect to us through third-party social media platforms we may collect the information provided on your profile on such platforms.
    </li>
    <li>
        When you order a product or service from our website, we may collect billing and credit card information strictly for completing your purchase and as provided under this policy.
    </li>
</ul>
<p>
    B. Automatically
</p>
<ul class="mission-points">
    <li>
        As with almost all other sites on the internet, visiting our website automatically results in the collection of some of the basic information about you like, your IP address, hardware configuration, internet browser, domain names, time of visit, subsequent website visit, antecedent website visit etc.
    </li>
    <li>
        We may also store other anonymised information from you for the purposes of analytics and research.
    </li>
    <li>
        Information through Cookies.
    </li>
</ul>
<h3>
    Cookies
</h3>
<p>
    Cookies are miniature text files which are stored on your computer when you access or interact with a website which uses cookies. Cookies are perfectly safe from any risk of carrying viruses or running any unapproved programs on your computer remotely. Information collected by us through cookies may include your IP address, hardware configuration, internet browser, files or pages viewed on our website, clickstream data, domain names, ISP, time of visit, subsequent website visit, antecedent website visit etc.
</p>
<p>

    We along with our partners use cookies to enhance the experience on our website and to analyse user behavioural preferences on our website which helps to provide more efficient and better content catered to your preferences. It also helps us to collect demographic details about our users. Cookies aid in personalising the features and content on our website and help to save time when you return by already having your details saved like your shipping and billing information.
</p>
<p>
    You can always choose to disable cookies through your web browser. Kindly keep in mind that disabling cookies may hamper your experience on the website and might result in some of the interactive features not working for you.
</p>
<h3>
    Processing And Use Of Information Collected
</h3>
<p>
    Other than the aforementioned methods we may also analyse or process your data on this website through algorithms processing your record of purchase, behavioural preferences, location history (if permitted by you) etc.
</p>
<p>
    We may use your information to fulfil any transactions with you, for any legal requirements, or to enhance and improve the services and products provided by us. Such enhancement or improvement would include but not be limited to direct marketing, personalisation or customisation of our features and communication, measuring the success of our promotions and advertising, investigating any frauds or forbidden activity on the website and maintaining general security of our website.
</p>
<p>
    We do not store any information longer than the period of its intended use. After such period is over we make such information inaccessible or delete or destroy it. If applicable, we also destroy such information on a request from you to erase and destroy all your personal information. Retention for legal purposes is an exception to this provision.
</p>
<h3>
    Disclosure Of Your Information
</h3>
<p>
    As a general guiding principle, we do not share your information with third-parties. However, there may be some exceptions to this. All information shared/disclosed by us will still be handled according to the terms of this Privacy Policy by any third-party it is disclosed to.
</p>
<p>
    Any disclosure you make by voluntarily sharing information with a third-party by following any external links or advertisements provided on our website shall be your sole responsibility.
</p>
<p>
    We may disclose information to third-parties/service-providers where they provide us with administrative, analytical, payment, management, office or technical services. All such disclosures will only be made to the extent that such third-parties/service-providers need to provide their services. All such third-parties/service-providers will be required to comply with all the terms of this policy.
</p>
<p>
    Your information might also be visible to a few personnel, employees, agents, contractors etc. which serve in operations, sales, administrative or other similar capacities with us.
</p>
<p>
    We shall have the sole discretion to disclose your information, personal or otherwise, where we are mandated by law to do so or if we believe in good faith that such disclosure is in the interest of national security, public importance or essential to protect our rights and interests. This shall include any valid legal requests from law enforcement authorities or government agencies or any court orders or subpoenas. We shall also be entitled to make any such disclosure to prevent/investigate any violation of our Terms of Service, any intellectual property infringements, or to safeguard the proper functioning of our website and its services and protect the rights of our users and any other third-parties.
</p>
<p>
    We may also disclose any other anonymized information to third-parties including but not limited to the combined usage statistics on our website, services or published content, or demographic information on a part of our user base which interacts with any content or services provided by such third-parties. Any such disclosure will be anonymized and completely rid of any personally identifiable information.
</p>
<h3>
    Voluntary Public Disclosure By You
</h3>
<p>
    Any information, including personal information like your name, address, email, phone number etc., which you choose to publicly disclose on our website while interacting with our commenting feature, public message boards or chat rooms or any other personal/public means of communication with other users on our website, will be visible and disclosed openly by you. Any such disclosed information including any comments you make on our content can be accessed, stored, misused and further disclosed by third-parties. We disclaim any responsibility for such voluntary disclosure by you.
</p>
<p>
    Where the commenting service is provided by a third-party it may collect the data on web-traffic even if you do not use the comment box. Such data will not be personally identifiable.
</p>
<h3>
    Amendments to Privacy Policy
</h3>
<p>
    We reserve the right to change, modify, remove or add any terms to this Privacy Policy at any time and without any notice. We advise you to keep checking this Privacy Policy regularly as the last date of updating will be visible on top and you can check for any changes in the document. We may notify you of any substantial changes with an additional prompt, or notification on the website, or via email. Your use of the website shall mean that you consent to the present and the most recent version of the Privacy Policy.
</p>
<h3>
    Protection Of Your Information
</h3>
<p>
    We make all reasonable necessary arrangements to prevent any unauthorized access to your information. All data processing and analytics are conducted by following strict procedures and only to the extent of the purpose indicated; while access to such data is limited to only those who need such access to perform their responsibilities.  We protect your information against any loss, theft, abuse, modification, deletion, destruction etc.
</p>
<p>
    However, nothing on the internet is truly invulnerable or private. You hereby acknowledge that we are not liable for any interception of information while transmitting your information over the internet. You release us from all possible claims arising out of any misuse or unlawful use of such intercepted information.
</p>
<p>
    All personal information when transmitted to other websites for processing of a transaction, like the credit card numbers, is encrypted.
</p>
<h3>
    Opt-out
</h3>
<p>
    We provide you with the option to opt-out of receiving our marketing or promotional direct mails or any other communication from us. You can unsubscribe by clicking a link at the bottom of any email by us. You may also contact us regarding your wish to opt-out by any of the means provided at the end of this policy.
</p>
<h3>
    Third-Party Accounts/Websites/Services
</h3>
<p>
    We use several third-party tools for analytics, management and marketing. As a general rule, none of these collects personal information. However, we urge you to look at the privacy policy of each of these to get acquainted by their independent data handling process.
</p>
<p>
    Tools used by us include <a href="https://upviral.com/privacy-policy/" target="_blank">UpViral</a> (for referral marketing among other things) & <a href="https://ontraport.com/legal" target="_blank">Ontraport</a> (for email marketing and automation among other things).
</p>
<p>
    We also use <a href="https://marketingplatform.google.com/about/analytics/">Google Analytics</a> and you can read about "How Google uses data when you use our partners” sites or apps," <a href="https://www.google.com/policies/privacy/partners/">here</a>.
</p>
<p>
    Any other links or advertisements you follow or click on from our website shall be governed by the separate terms and conditions and privacy policy of that particular website.
</p>
<p>
    You may be able to connect any of your third-party accounts to your account on our website. You acknowledge and consent that by making such connection you agree to a continuous release of information, personal or otherwise, from any of those third-party accounts to the extent allowed by such third-party websites/apps.
</p>
<h3>
    Purchases
</h3>
<p>
    While making some of the purchases on our website you may be transferred to other third-party sites to complete such purchase, like Amazon or iTunes. In such an event any information collected on you by such third-parties shall be governed by the privacy policies of those third-parties.
</p>
<h3>
    Tracking
</h3>
<p>
    Some of our emails may utilize a trackable clickthrough link to measure the effectiveness of our marketing strategies and consumer interests among other uses. If you prefer not to be tracked please do not click any links or pictures in these emails.
</p>
<h3>
    Disclaimer
</h3>
<p>
    Our website and all its services are available on an “as is” basis. We make no warranties that they will be accessible or available at all times or that the use of the website or related services will be error-free and/or uninterrupted.
</p>
<h3>
    Your Rights
</h3>
<p>
    You can write to us to inquire if any of your information is being stored with us. You also have the right to ask us the kind of information we are storing related to you, the purpose and use of such information, the security mechanisms to protect the information, any disclosures being made on the information, and if there exists any automated decision making regarding your information. You can further request us to delete, transfer or modify your information and you can object to our usage and processing of the information if you think it is not for justified purposes. You can also object to the automated decision making regarding your data and any subsequent profiling. You can object to and opt-out of any direct marketing from us.
</p>
<p>
    You can send all your complaints and queries to <a href="mailto:etienne@HanumanInstitute.com">etienne@HanumanInstitute.com</a> or to the address given below to our data protection officer.
</p>
<h3>
    Governing law
</h3>
<p>
    This Privacy Policy is governed by the laws of Canada.
</p>
<h3>
    Contact Us
</h3>
<p>
    If you have any queries, complaints or requests regarding the handling, changing, or deletion of your data you can write to the Owner at: <a href="mailto:etienne@HanumanInstitute.com">etienne@HanumanInstitute.com</a> or
</p>
<p>
    <i>
        Etienne Charland<br />
        1082 Main Street North<br />
        Richmond, QC<br />
        Canada J0B 2H0
    </i>
</p>