@page "/"
<Page Title="Home page" />

<div class="text-center">
    <h1>Satrimono Remote Healing Technologies</h1>
    <p><a asp-area="Subscribe" asp-page="Free-Trial">Sign up for a Free Trial</a></p>
</div>
