@page "/confirm"
<Page Title="Payment Confirmation" />

<h1>Your payment has been processed.</h1>
<p class="blue">Thanks for doing business with us!</p>
<p class="blue"><a href="https://www.spiritualselftransformation.com">Continue to home page >></a></p>

@code {
}
