@page "/crystal-attunement-confirm"
<Page Title="Payment Confirmation" />

<h1>Your payment has been processed.</h1>
<p class="blue">Send a picture of your crystals by email to etienne@spiritualselftransformation.com and he will attune them within 3 days.</p>
<p class="blue"><a href="https://www.spiritualselftransformation.com">Continue to home page >></a></p>

@code {
}
