@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Authentic Attraction With Hot Women";
    layout.Description = "Change from within to authentically connect with women on four different levels. Life your relationships with passion instead of commitment.";
    layout.Keywords = "Authentic Attraction, authentic self, sexual attraction, physical attraction, sexual attractiveness, physical attractiveness, attraction, authenticity, attract women, attracting women, meet women, sexual magnetism";
}
@section Sidebar {
    <partial name="_BoxAboutEtienne" />
    <partial name="_BoxTestimonials" />
}
<div class="productRow">
    <h1>Authentic Attraction</h1>
    <h4 style="border-bottom: 2px solid #6e90a6; margin-bottom: 10px;">
        Live your Relationships with Authenticity,
        Empowerment and Freedom
    </h4>
    <br />
    <div>
        <div class="h1">
            Finally revealed, the MISSING KEY to blissful attraction in your relationships
        </div>
    </div>
    <p class="blue" style="margin-top: 6px">Who is this for?</p>
    <ul>
        <li>Men who feel there is something missing in how men and women relate in the Western world</li>
        <li>Men who want more out of their relationships</li>
        <li>Women who want to understand the male perspective of relationships</li>
    </ul>
    <p>
        People grow up with all kinds of misconceptions about love, sex and relationships that bring struggle,
        confusion, drama, dillema, deception and loneliness. Here are the top 7 misconceptions. Check the box
        next to the ones that apply to you.
    </p>
    <p style="margin-top: 14px">
        <input id="Checkbox1" type="checkbox" />&nbsp;
        <label for="Checkbox1"><strong>MISCONCEPTION #1: YOU HAVE ONLY ONE RELATIONSHIP</strong></label><br />
        Some people consider that there is only one relationship that matters in their life. Even if you are
        married, you also have your relationships with yourself, your relationships with friends and your relationships
        with strangers. You may have sex with only one woman for a long period of time if this is what you want,
        but you will still love and interact with many women unless you live isolated. The richness and abundance
        of life comes from loving and interacting with many people.
    </p>
    <p>
        <input id="Checkbox2" type="checkbox" />&nbsp;
        <label for="Checkbox2"><strong>MISCONCEPTION #2: SEX IS DIRTY</strong></label><br />
        Religions made many people believe that sex is dirty. Even though most people now went away from these
        religions, the beliefs around sexuality are still deeply ingrained in people's unconscious minds. Many
        people in the Western world get very uptight whenever you talk about sexuality and women are viewed
        as sluts if they express their sexuality. Maybe you are also uncomfortable expressing your sexuality.
        The truth is, sexuality is a very spiritual experience and it is unhealthy NOT to have sex for too long.
    </p>
    <p>
        <input id="Checkbox3" type="checkbox" />&nbsp;
        <label for="Checkbox3"><strong>MISCONCEPTION #3: ONE-NIGHTS ARE SUPERFICIAL</strong></label><br />
        This is another deeply ingrained belief around sexuality. The truth is, some long-term relationships
        can be superficial while some one-nights can be very profound. The depth of a relationships depends
        on the emotional and energetic interaction between two or more people, not on the amount of time they
        are together. A passionate one-night may very well be what two people need in the present moment to
        grow.
    </p>
    <p>
        <input id="Checkbox4" type="checkbox" />&nbsp;
        <label for="Checkbox4"><strong>MISCONCEPTION #4: IT TAKES TIME TO KNOW SOMEONE</strong></label><br />
        What does it mean to get to know someone? To know all the logical information about his or her name,
        age and job, or to feel his or her inner strength, weaknesses, passion and integrity? You can get to
        know someone more in a minute of presence than in a year of mental discussions. The best way to really
        get to know a woman is by sleeping with her.
    </p>
    <p>
        <input id="Checkbox5" type="checkbox" />&nbsp;
        <label for="Checkbox5"><strong>MISCONCEPTION #5: SEX WITH A GORGEOUS PORN STAR IS THE BEST</strong></label><br />
        Many men have the fantasy of having a three-some with gorgeous porn stars. Those who tried it reported
        that it looks better on pictures than in reality. Sex is an emotional and energetic experience. The
        quality of sex depends on how much energy circulates through the souls and bodies. If you sleep with
        a porn star who has a very nice facade but who is completely disconnected from her emotions and soul,
        sex will be flat. Sex is most passionate with women who are deeply connected with their emotions and
        who authentically express their femininity.
    </p>
    <p>
        <input id="Checkbox6" type="checkbox" />&nbsp;
        <label for="Checkbox6"><strong>MISCONCEPTION #6: COMMITMENT IS WHAT HOLDS RELATIONSHIPS</strong></label><br />
        Lots of people, especially women, try to get commitment to make a relationship work. The synergy, polarity
        and complimentariness is what brings two people together and holds the relationship. When a relationship
        doesn't have this effortless synergy and they try to keep it together through a commitment, it's only
        a matter of time before they break up and sometimes end up in a court of law like we see too often.
        If a relationship won't work without commitment, it won't work with commitment either.
    </p>
    <p>
        <input id="Checkbox7" type="checkbox" />&nbsp;
        <label for="Checkbox7"><strong>MISCONCEPTION #7: SEX WITH A WOMAN GETS BORING AFTER A WHILE</strong></label><br />
        The more experience you have with another person, the more intense the exchange of energy becomes. If
        you follow a spiritual path, both of you grow in maturity, experience and intensity over the years.
        The synergy and polarity keeps deepening with time. This applies when you have the right partner.
    </p>
    <p>&nbsp;</p>
    <p>If you checked several boxes, what follows will have a profound impact in your life.</p>
    <p class="blue">Do you want authenticity, empowerment and freedom in your love life? </p>
    <p>
        <em>Authentic Attraction</em> will help you uncover your <strong>authentic self</strong> to connect with
        women on four different levels. It is for men who believe something is missing in how men and women
        relate and who want to <strong>empower and deepen</strong> their relationships. <em>Authentic Attraction</em>
        will not only bring more <strong>intimacy</strong> and <strong>peace of mind</strong> with one or several
        women you love. It will also empower your relationships with friends, family, coworkers, strangers and
        that hot blonde who used to keep you just as a friend.
    </p>
    <br />
    <div class="h1">
        Authentic Attraction audio-book
    </div>
    <h4>Live your Relationships with Authenticity, Empowerment and Freedom</h4>
    <p class="blue">This is an instant download so you can listen to it right now.</p>
    <div class="testimonal">
        <ul>
            <li>
                <strong>I think we're years ahead of things.</strong> When the self-help and seduction industries catch
                up and realizes it's not about inner game and ego, they'll start focusing on what we have the most:
                behavior, energy, physiology and sexuality.&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br />
                <em>&ndash; Rion Williams (USA), International Peak State Expert</em>
            </li>
        </ul>
    </div>
    <p>&nbsp;</p>
    <div class="productRow">
        <div class="productBox" style="width: 300px !important;">
            <div class="productDec">
                <h4><span class="stit dark">Do you experience this? </span></h4>
                <ul class="blue">
                    <li>Being stuck in women&rsquo;s friend zone</li>
                    <li>Relationship with low sexual attraction</li>
                    <li>Relationship drama</li>
                </ul>
            </div>
        </div>
        <div class="productBox" style="width: 300px !important;">
            <div class="productDec">
                <h4><span class="stit dark">Solutions offered</span></h4>
                <ul class="blue">
                    <li>Connect with women on four levels</li>
                    <li>Bring physical and emotional intimacy</li>
                    <li>Take responsibility for your life</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="productRow">
        <div class="productBox" style="width: 300px !important;">
            <div class="productDec">
                <h4><span class="stit dark">Other problems covered</span></h4>
                <ul>
                    <li>Loneliness</li>
                    <li>Depression</li>
                    <li>Fears and anxieties</li>
                    <li>Power struggles</li>
                    <li>Lack of sexual attractiveness</li>
                    <li>Lack of self-confidence</li>
                    <li>Lack of self-esteem</li>
                    <li>Lack of trust</li>
                </ul>
            </div>
        </div>
        <div class="productBox" style="width: 300px !important;">
            <div class="productDec">
                <h4><span class="stit dark">Solutions</span></h4>
                <ul>
                    <li>Surround yourself with respectful people</li>
                    <li>Experience synergy in your relationships</li>
                    <li>Be sexually attractive</li>
                    <li>Uncover your authentic self</li>
                    <li>Develop your self-confidence</li>
                    <li>Understand love and emotions</li>
                    <li>Understand sexual polarity</li>
                    <li>Compensate for her weaknesses</li>
                    <li>Live with relationship freedom</li>
                    <li>Live with spiritual freedom</li>
                    <li>Experience well-being and carefreeness</li>
                </ul>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>
        <h4 class="blue">Authentic Attraction comes with these bonuses.</h4>
    </p>
    <p>
        <span class="blue">
            <strong class="dark">BONUS #1</strong><strong>
                : Bonus track to master your fears and
                anxieties.
            </strong><br />
        </span>It has been reported as being worth the price of the entire program by itself.
    </p>
    <p>
        <span class="blue">
            <strong class="dark">BONUS #2</strong><strong>
                : The 7 Pillars of Authentic Charisma
                e-book.
            </strong>
        </span><br />
        This is a very powerful e-book that will challenge your beliefs in a way that allows transformation
        to happen.
    </p>
    <p>
        <span class="blue"><strong class="dark">BONUS #3</strong><strong>: Natural Grounding 2011 Guide e-book.</strong></span><br />
        This e-book from Rion Williams covers many aspects of Natural Grounding meditation which have proven
        to be extremely powerful for many guys.
    </p>
    <p>&nbsp;</p>
    <div class="productRow">
        <div class="testimonal">
            <h4 class="blue">TESTIMONIALS</h4>
            <ul>
                <li>
                    Authentic Attraction is a great tool for understanding polarity between men and women in this world.
                    It's something that's supposed to be natural, not a confusing, logical process. Polarity is discussed
                    at great length and helps you understand how male/female dynamics can and SHOULD occur. This gives modern
                    men in the western world much relief. For me even the add-on bonus on releasing fears was worth what
                    I paid.&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br />
                    <em>&ndash; Daniel (USA)</em>
                </li>
                <li>
                    I am married since 19 years with two kids and the relationship went great except that she didn't feel
                    like having sex often. After listening to Authentic Attraction, I understood much more clearly what
                    I wanted form the relationship and I could talk about it. It also gave me tools to improve the relationship.
                    I tried several things to improve the heart connection in the past, but it didn't bring the kind of
                    results I am seeing now. Our relationship was mostly on the mental level. It is now an energetic connection
                    on several levels. The lady is happy and she now wants sex everyday despite her health issues. Listening
                    to Authentic Attraction was the trigger for great changes in our relationship!&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br />
                    <em>&ndash; Mario (Canada)</em>
                </li>
                <li>
                    I think this is an excellent talk! There's so much material out there, but what you say is very clear
                    and makes so much sense! It's very well done.
                    <br />
                    <em>&ndash; Cathy (USA)</em>
                </li>
            </ul>
        </div>
        <br />
        <p class="blue">This product was sold $34 and is now available for FREE!</p>
        <p>
            Simply register to our mailing list and share with at least 3 friends to get access to all our free products.<br />
            We have a zero-spam policy.
        </p>
        @*<uc1:ViralShareSignUp ID="ViralShareSignUp1" ProductName="Authentic Attraction"
                              ProductUrl="https://www.shamanicattraction.com/files/authenticattraction.zip" />
        <asp:Panel ID="pnlRegistered" Visible="false">
            <center class="actionbox">
                <p><a href="https://www.shamanicattraction.com/files/authenticattraction.zip" target="_blank">Download Authentic Attraction here</a></p>
                <p>BONUS #1: Included in main download.</p>
                <p><a href="https://www.shamanicattraction.com/files/authenticcharisma.pdf" target="_blank">BONUS #2: The 7 Pillars of Authentic Charisma e-book.</a></p>
                <p><a href="https://www.shamanicattraction.com/files/ngguide2011.pdf" target="_blank">BONUS #3: Natural Grounding 2011 Guide e-book.</a></p>
            </center>
        </asp:Panel>*@
        <p class="blue">This is an instant download so you can listen to it right now.</p>
        <p>&nbsp;</p>
        <p style="margin-left: 40px;">
            <img id="Img3" src="~/images/sign.jpg" alt="To your spiritual freedom" width="394" height="164" hspace="10"
                 align="left" style="padding-right: 5px;" />
        </p>
        <p>&nbsp;</p>
    </div>
    <!--product-row-->
    <div class="productRow">
    </div>
    <!--product-row-->
    <div class="pagingDiv">
    </div>
</div>