@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Transform Within To Achieve Concrete Results";
    layout.FacebookLike = true;
    layout.ShareBar = true;
    layout.Description = "Transform within to achieve concrete results in dating, relationships, health, business and life. Attract women, emotional security, healing therapy.";
    layout.Keywords = "authentic self, sexual attraction, sexual attractiveness, physical attractiveness, emotions and intimacy, attraction and intimacy, sexual abundance, sexual magnetism, authentic attraction, spiritual freedom, sexual transmutation, relationship freedom, Shakti energy, fear of women, animal magnetism";
}
<h1>
    Transform From Within to Effortlessly<br />
    Attract Women of Great Inner and Outer Beauty
</h1>
<p>
    Single men: How would your life change if you had consistent and effortless success with women of great
    inner and outer beauty? Whether young or old we show you the secrets to attracting women through the
    exploration of your true powerful self. You don't have to compromise your authenticity and integrity.
</p>
<div class="productRow">
    <div style="border: #CC9900 solid 1px; margin-top: 20px; padding: 10px; width: 280px !important; float: left">
        <span class="stit">
            <img src="~/images/moneyback100.gif" alt="Guaranteed to attract women" width="75" height="75" hspace="10"
                 align="left" style="padding-right: 5px;" />
        </span> <div class="blue, dark" style="font-weight:bold; padding-top:8px;">ALL OUR PRODUCTS ARE COVERED WITH A <u>365-DAYS</u> MONEY-BACK GUARANTEE!!</div>
    </div>
    <div style="padding: 10px; float: right;">
        <iframe width="320" height="200" src="//www.youtube-nocookie.com/embed/GvtZ1CiKSAk?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <br />
</div>
<div class="productRow">
    <div class="productBox" style="height: 355px">
        <a href="~/transform-from-within" class="imgbox imgboxman">Transform From Within to Attract Women</a>
        <div class="productDec">
            <h4><a href="~/transform-from-within">Transform From Within to Attract Women</a></h4>
            <p>
                Claim your FREE 3-part audio course to learn what works and what doesn't work to attract women in an
                authentic and effortless way. Learn the mistakes that 95% of men do. Discover a holistic approach to
                dating and sexuality that not only feels right but also empowers every aspect of your life.
            </p>
            <strong><a href="~/transform-from-within">Read More </a></strong>
        </div>
    </div>
    <div class="productBox" style="height: 355px">
        <a href="~/sexual-magnetism" class="imgbox imgboxsexualmagnetism">Sexual Magnetism</a>
        <div class="productDec">
            <h4><a href="~/sexual-magnetism">Sexual Magnetism</a></h4>
            <p>
                Develop a magnetic presence to have effortless and consistent success with partners of great inner and
                outer beauty. In this theoretical, practical and applied blueprint, you will learn a proven system to
                attract women through the exploration of your true powerful self.
            </p>
            <strong><a href="~/sexual-magnetism">Read More</a></strong>
        </div>
    </div>
    <div class="productBox" style="height: 355px">
        <a href="https://www.forceoflife.net" class="imgbox imgboxauthenticattraction">Force of Life Training</a>
        <div class="productDec">
            <h4><a href="https://www.forceoflife.net">Force of Life Training</a></h4>
            <p>FREE audio training series. Live a healthier, wealthier and truly fulfilling life by aligning with your soul's purpose.</p>
            <strong><a href="https://www.forceoflife.net">Read More</a></strong>
        </div>
    </div>
</div>
<div class="productRow" style="padding-bottom: 20px">
    <iframe width="203" height="114" src="//www.youtube-nocookie.com/embed/Gxed8FTnB2Y?rel=0;showinfo=0" frameborder="0" allowfullscreen style="padding-right: 15px;"></iframe>
    <iframe width="203" height="114" src="//www.youtube-nocookie.com/embed/0thY4WKT3CQ?rel=0;showinfo=0" frameborder="0" allowfullscreen style="padding-right: 15px;"></iframe>
    <iframe width="203" height="114" src="//www.youtube-nocookie.com/embed/t9vPSxZfPXI?rel=0;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<partial name="_Benefits" />