@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Join our mailing list";
}
@section Sidebar {
    <partial name="_BoxPromo" />
}
@section Head  {
    <meta name="robots" content="noindex">
}
<div class="productRow">
    <div class="productRow">
        <h1>Your subscription has been validated.</h1>
        <p>&nbsp;</p>
        <p class="blue">Whitelist 'etienne@HanumanInstitute.com' to ensure you receive all emails</p>
        <p><a href="https://www.spiritualselftransformation.com/whitelist">Click here for instructions</a></p>
    </div>
</div>
