@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Sexual Attraction Products";
    layout.Description = "Want a better sex life and attract hotter women? Here are somem products that can help you.";
    layout.Keywords = "attraction and intimacy, spirituality, sexuality, emotions, intimacy, relationships, etienne charland, female coaches, seduction coach, authentic self, physical attractiveness, sexual attraction, well-being, self-confidence, emotional mastery, self healing";
}
@section SideBar {
    <partial name="_BoxSubscribe" />
}
<div class="productRow">
    <h2>Want a better sex life and attract hotter women? Here are some products that can help you.</h2>
    <p>&nbsp;</p>
    <div class="productBox" style="height:310px">
        <div class="productDec">
            <h4><a href="~/transform-from-within">TRANSFORM FROM WITHIN TO ATTRACT WOMEN</a></h4>
            <p>
                Claim your <strong>FREE 3-Part Audio Course</strong> which covers 7 Benefits of Self-Transformation, 10 Mistakes Men Make With Women, 7 Misconceptions of Spirituality...
            </p>
            <strong><a href="~/transform-from-within">Read More </a></strong>
        </div>
    </div>
    <div class="productBox" style="height:310px">
        <div class="productDec">
            <h4><a href="~/sexual-magnetism">SEXUAL MAGNETISM</a></h4>
            <p>
                <strong>Do You Want to Become a Women Magnet Without Compromising Your Authenticity and Integrity?</strong><br /> It doesn't have to be complicated and you don't have to play games.
            </p>
            <strong><a href="~/sexual-magnetism">Read More </a></strong>
        </div>
    </div>
    <div class="productBox" style="height:310px">
        <div class="productDec">
            <h4><a href="~/result-oriented-spirituality">RESULT-ORIENTED SPIRITUALITY</a></h4>
            <p>
                <strong>Do You Want to Make All Your Dreams Come True by Changing From the Inside Out?</strong><br />
                Changing your life is difficult. Most people don't reach their goals because they only focus on changing their words and actions. If you want to bring real, concrete and satisfying changes to your life, you must change from within yourself.
            </p>
            <strong><a href="~/result-oriented-spirituality">Read More </a></strong>
        </div>
    </div>
</div>
