@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Recommended links";
}
@section SideBar {
    <partial name="_BoxPromo" />
}
<div class="productRow">
    <h1>Recommended Links</h1>
    <p>&nbsp;</p>
    <p class="blue"><a target="_blank" href="http://www.self-awakening.com">FREE Self-Awakening Kit</a></p>
    <p class="blue"><a target="_blank" href="http://rionfreeberg.com">Rion Freeberg</a></p>
    <p class="blue"><a target="_blank" href="http://www.saulat.com">Love Spells</a></p>
    <p>Love Spells for all, lost love spells, binding spells, soul mate spells, rekindle lost love and more, spell casting services for all the problems relation to Love.</p>
    <p class="blue"><a target="_blank" href="http://intellectualexpat.blogspot.com">Expat Blog</a></p>
    <p class="blue"><a target="_blank" href="http://www.myhoroscopeastrology.com">Astrological Horoscope</a></p>
    <p>
        Provides online Accurate Indian Vedic Astrological Prediction with Kundli Reading, Matching, Free Remedial
        Astrology, Free Hindu Astrology with Zodiac Rashi Sign by Daily, Weekly, Monthly, Yearly Forecast.
    </p>
    <p class="blue"><a target="_blank" href="http://www.myastrologypuja.com">Indian Astrology</a></p>
    <p>
        Provides online Accurate Indian Vedic Astrological Prediction with Kundli Reading, Matching, Free Remedial
        Astrology, Free Hindu Astrology with Zodiac Rashi Sign by Daily, Weekly, Monthly, Yearly Forecast.
    </p>
    <p>&nbsp;</p>
</div>