@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Result-Oriented Spirituality - Change From Within";
    layout.Description = "Change from within to achieve concrete results in terms of dating, relationships, health, business and life in general.";
    layout.Keywords = "result oriented spirituality, spirituality, concrete results, sexual attraction, animal magnetism, sexual magnetism, attraction and intimacy, meditation, energy healing, self healing, authentic self";
}
@section Sidebar {
    <partial name="_BoxAboutEtienne" />
    <partial name="_BoxTestimonials" />
}
<div class="productRow">
    <a style="font-size: 18px !important;" href="https://store.spiritualselftransformation.com/result-oriented-spirituality"
       target="_top" onclick="allowExit=true">
        <img src="~/images/btn_buy_short.png" width="159" height="33" border="0" alt="Buy Result-Oriented Spirituality"
             align="right" />
    </a>
    <h1>Result-Oriented Spirituality</h1>
    <h4 style="border-bottom: 2px solid #6e90a6; margin-bottom: 10px;">
        Change From Within to Achieve Concrete
        Results
    </h4>
    <div class="h1">
        Do You Want to Make All Your Dreams Come True by Changing From the Inside Out?
    </div>
    <br />
    <p>
        Changing your life is difficult. Most people don't reach their goals because they only focus on changing
        their words and actions. If you want to bring real, concrete and satisfying changes to your life, you
        must change from within yourself.
    </p>
    <p>
        Spirituality re-emerged and has become very popular since the last ten years. It has allowed many people
        around the world to change from the inside out, and to live happier lives. The problem is that spirituality
        is generally not applied towards achieving anything concrete. There are people who are broke and single
        who meditate to become happier. They succeed, except that they still remain broke and single.
    </p>
    <p>Even if you know what you are doing and work on overcoming fears holding you back...</p>
    <p class="blue">
        It's easy to get lost or confused when you start working on the emotions within yourself,
        especially when your objectives are not clear.
    </p>
    <p>
        I have been using spirituality in the last few years to achieve many concrete goals that others have
        been unable to acomplish in ten, or more, years of self-development. I finally clarifed and wrote down
        the foundation of <i>Result-Oriented Spirituality</i> which made this success possible.
    </p>
    <div class="testimonal">
        <ul>
            <li>
                If you have an objective but are afraid to consider it because you don't know how to get there and you
                don't think you'll be able to reach it, this book can help you a lot. It helps to move towards the direction
                you deep-down feel you want to move in life.<br />
                <em>&ndash; Raul (Spain)</em>
            </li>
        </ul>
    </div>
    <p>
        <i>Result-Oriented Spirituality</i> bridges the gap between the Western philosophies of goal-setting
        and the Eastern philosophies of changing from the inside out. It allows you to change from within while
        remaining focused on specific outcomes. It allows you to do spiritual work with clarity and precision
        that drastically reduces the time required to reap the rewards.
    </p>
    <p>
        Compare this with a popular meditation technique: breathing to reach stillness. How much breathing will
        you need before getting a girlfriend or building a business? You may not see these results in your lifetime
        with this approach, but at least you'll feel better about not having them!
    </p>
    <p class="blue">
        Spirituality and meditation is so powerful.<br />
        There has to be some way to achieve something with it!
    </p>
    <div class="testimonal">
        <ul>
            <li>
                I have bought other products and they all work towards being something that is not you. Whereas your
                guidance and philosophy through your products touch on more about healing oneself and the energy flow
                that surrounds us and use it to help with your everyday life. Making authentic connections and lasting
                relationships. To solve my dating and emotional problems is worth more than winning the lottery because
                'money can't buy you love'. I wish to have a happy life where I can connect with fantastic women on
                all levels.<br />
                <em>&ndash; Jugjit (UK)</em>
            </li>
        </ul>
    </div>
    <p>
        I will show you how to use your mind and inner powers in a precise and directed way to achieve all of
        your goals and dreams.
    </p>
    <p>
        <i>Result-Oriented Spirituality</i> is the foundation of my methodology which has allowed me to change
        my life and change the lives of many customers.
    </p>
    <p>
        It is actually very simple and anyone can learn the 5 basic steps. It is the process I have been practicing,
        intuitively, over the last few years, and it has proven to be very powerful and effective over and over
        again. The more you use it, the more effective it will be for you; and there's no limit to what you
        can achieve.
    </p>
    <p>
        <i>Result-Oriented Spirituality</i> can be applied towards health, dating, relationships, business or
        any other area of your life. Your goals will keep evolving as life is a path, not a destination.
    </p>
    <p class="blue">
        Warning: This is not for weak hearts. Self-transformation is a journey that has deeper implications
        than you may realize.
    </p>
    <p>&nbsp;</p>
    <div class="h1">
        Result-Oriented Spirituality
    </div>
    <h4>Change From Within to Achieve Concrete Results.</h4>
    <p>
        Apply self-transformation and spirituality to achieve all your goals related to health, wealth, sex
        and many others. Instead of being someone you’re not and instead of meditating for life, learn a methodology
        to change from within in a focused and targeted way to make your dreams a reality.
    </p>
    <p class="blue">The value in this e-book is <u>priceless</u>.</p>
    <p style="border: #CC9900 solid 1px; padding: 10px; height: 75px;">
        <strong>
            <span class="stit">
                <img src="~/images/moneyback100.gif" alt="Guaranteed to attract women" width="75" height="75"
                     hspace="10" align="left" style="padding-right: 5px;" />
            </span> <span class="blue, dark">
                365 DAYS MONEY-BACK
                GUARANTEE
            </span>
        </strong>
        <br />
        I am very confident <i>Result-Oriented Spirituality</i> will have a huge impact in your life. If it
        doesn't, send me an email within a year and I will refund your money. The risk is on me.
    </p>
    <p>&nbsp;</p>
    <div class="belchertitle">
        &ldquo;Result-Oriented Spirituality&rdquo;
    </div>
    <center class="belcherbox">
        <div class="belchertext">
            Regular Price <s>$99</s> Today $27
        </div>
        <div class="belcherbuy">
            <a href="https://store.spiritualselftransformation.com/result-oriented-spirituality" target="_top" onclick="allowExit=true">&nbsp;</a>
        </div>
        <div class="belcherlink">
            <a href="https://store.spiritualselftransformation.com/result-oriented-spirituality" target="_top" onclick="allowExit=true">Add To Cart</a>
        </div>
        <img src="~/images/belcher-visa.gif" width="344" height="52" alt="Credit Cards Accepted" />
    </center>
    <p class="blue">This is an instant download so you can read it right now.</p>
    <p>&nbsp;</p>
    <p style="border: #CC9900 solid 1px; padding: 10px; height: 75px;">
        <strong>
            <span class="stit">
                <img src="~/images/moneyback100.gif" alt="Guaranteed to attract women" width="75" height="75"
                     hspace="10" align="left" style="padding-right: 5px;" />
            </span> <span class="blue, dark">
                365 DAYS MONEY-BACK
                GUARANTEE
            </span>
        </strong>
        <br />
        I am very confident <i>Result-Oriented Spirituality</i> will have a huge impact in your life. If it
        doesn't, send me an email within a year and I will refund your money. The risk is on me.
    </p>
    <p style="margin-left: 40px;">
        <img src="~/images/sign.jpg" hspace="10" height="164" align="left" width="394" style="padding-right: 5px;
            float: none;" alt="To your spiritual freedom" />
    </p>
</div>
