@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Authentic Attraction With Hot Women";
    layout.Description = "Change from within to authentically connect with women on four different levels. Life your relationships with passion instead of commitment.";
    layout.Keywords = "Authentic Attraction, authentic self, sexual attraction, physical attraction, sexual attractiveness, physical attractiveness, attraction, authenticity, attract women, attracting women, meet women, sexual magnetism";
    layout.SidebarVisible = false;
}
<div class="productRow">
    <div class="subHeading">
        Before you continue... here&#39;s an opportunity you shouldn&#39;t miss:
    </div>
    <h1 class="headline">
        Learn how to create and keep the relationships and love life you&#39;ve always wanted
        — without even trying
    </h1>
    <div id="upsell">
        <!-- Key Benefits BEGIN -->
        <ul>
            <li>Connect deeply with women by understanding their true nature</li>
            <li>Uncover your true self and conquer your relationship fears and anxietes</li>
            <li>Consistently bring physical and emotional intimacy into your relationships</li>
        </ul>
        <!-- Key Benefits END -->
    </div>
    <p class="subHeading">
        The <em class="red">Authentic Attraction</em> audio book reveals all that and more
        for &nbsp;<span class="strikeOut">$97</span>&nbsp; <strong class="red">$20</strong> only
    </p>
    <div id="productFeature">
        <!-- Upsell Product Box BEGIN -->
        <div class="content">
            <p>
                <span class="title">Authentic Attraction Audiobook</span> (mp3)
                <br />
                <span class="subtext">by Etienne Charland</span>
            </p>
            <p class="notes">
                <span class="subTitle">Content:</span> &nbsp;This audio is packed with practical, useful
                insights from years of expertise and relationship coaching dealing with issues that perplex most men
                today. It is an easy guide to walk you through from uncovering your true self to creating and keeping
                stable, no-drama relationships with women and people around you &#8212;a must-have complement to the
                &quot;<em><strong>Sexual Magnetism</strong></em>&quot; ebook.
                <br />
                <br />
                <span class="subTitle">Audio Format:</span> &nbsp;.mp3
                <br />
                <span class="subTitle">Your Price:</span> &nbsp;<span class="strikeOut">$97</span> &nbsp;<span class="red">
                    <sup>$</sup>20
                    ONLY
                </span> with <em>"Sexual Magnetism"</em>
            </p>
        </div>
        <div class="preview">
            <img src="~/images/authentic-attraction-audiobook-cover.gif" width="220" height="220" alt="Authentic Attraction Audiobook"
                 border="0" />
        </div>
        <!-- Upsell Product Box END -->
    </div>
    <div class="clear">
        <div class="aabtnyes">
            <a href="https://store.spiritualselftransformation.com/sexual-magnetism?upgrade=1" target="_top" onclick="allowExit=true;return OpenLink(this);">&nbsp;</a>
        </div>
        <div class="aabtnno">
            <a href="https://store.spiritualselftransformation.com/sexual-magnetism" target="_top" onclick="allowExit=true;return OpenLink(this);">&nbsp;</a>
        </div>
    </div>
    <div class="clear" style="padding-top: 10px">
        <div style="width: 300px; float: left;">
            <a href="https://store.spiritualselftransformation.com/sexual-magnetism?upgrade=1" target="_top" onclick="allowExit=true;return OpenLink(this);">Yes please, add this audiobook to my order</a>
        </div>
        <div>
            <a href="https://store.spiritualselftransformation.com/sexual-magnetism" target="_top" onclick="allowExit=true;return OpenLink(this);">No thanks, I want to buy Sexual Magnetism only</a>
        </div>
    </div>
    <p>&nbsp;</p>
</div>
