@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Sexual Magnetism Blueprint";
    layout.Description = "Be fully authentic and confident to effortlessly and consistently attract women of great inner and outer beauty. In Sexual Magnetism, you will learn a proven system to attract women without compromising your authenticity and integrity.";
    layout.Keywords = "sexual magnetism, animal magnetism, authentic sWelf, sexual attraction, sexual attractiveness, physical attraction, spiritual freedom, self healing, spirituality, attract women, meet women, well being, relationship freedom";
}
@section Sidebar {
    <partial name="_BoxAboutEtienne" />
    <partial name="_BoxTestimonials" />
}
<div class="productRow">
    <a style="font-size: 18px !important;" href="~/sexual-magnetism-buy" target="_top" onclick="allowExit=true">
        <img src="~/images/btn_buy_short.png" width="159" height="33" border="0" alt="Buy Sexual Magnetism"
             align="right" />
    </a>
    <h1>Sexual Magnetism Blueprint</h1>
    <h4 style="border-bottom: 2px solid #6e90a6; margin-bottom: 10px;">
        Attract Women of Great Inner and Outer
        Beauty
    </h4>
    <div class="h1">
        Do You Want to Become a Women Magnet Without Compromising Your Authenticity and Integrity?
    </div>
    <p class="blue">It doesn't have to be complicated and you don't have to play games.</p>
    <img src="~/images/sexual-magnetism-ebook-cover.gif" width="220" height="275" border="0" alt="Sexual Magnetism eBook"
         style="float: right;" />
    <p>
        Do you ever have difficulty moving relationships with women beyond the friend zone? Developing a strong
        sexual presence can allow you to connect with people around you in a deeper way. Your simple presence
        can make women feel good around you, no matter what you say. This leads to authentic sexual attraction
        and completely changes the dynamics. They are the ones interested in you and you don't have to worry
        about what to say.
    </p>
    <p>
        Do you ever feel unworthy when talking with women? Mating is meant to be the easiest and most natural
        thing in the world. By removing fears, anxieties and confusion, you can authentically and deeply connect
        with women in a way that makes sex inevitable. You deserve to have beautiful women in your life who
        support you and care about you.
    </p>
    <p>
        Instead of spending your time and energy pursuing women and trying to be someone you are not, you can
        choose the path of authenticity and integrity. You can use your time and energy to achieve greater things
        in life while women come to you by themselves. Wouldn't that be wonderful? <em>Sexual Magnetism</em>
        will teach you how to make this a reality. You can achieve much greater success while spending much
        less time.
    </p>
    <div class="testimonal">
        <ul>
            <li>
                Thanks for creating a real and truthful product like <em>Sexual Magnetism</em>. It is because of a few
                authentic people like you that even we, AVERAGE FRUSTRATED GUYS, have a chance and hope... You are absolutely
                right brother. Pick up is a wrong, fake and shallow goal in itself... It is like a sand structure made
                on beach by someone... When one wave of reality and authenticity comes all washes away... Thank you
                from bottom of my heart brother, the real gem of a person like You save guys like us a lot of aimless
                wandering and trouble for years up head...<br />
                <span class="signature">&ndash; Nishant (India)</span><br />
            </li>
            <li>
                I have known Etienne for a couple of years. Since the first moment he revealed himself as one of the
                most developed persons I have met. His understanding of subtle energy forces, and his knowledge on how
                to use them in daily life and seduction for succeeding, has strongly enriched my own sarging. When we
                met personally, I had a great impression of his success among women. He is one of the best ladies' men
                I know.<br />
                <span class="signature">&ndash; Victor (Spain)</span><br />
            </li>
        </ul>
    </div>
    <p>&nbsp;</p>
    <p class="blue">Let me tell you my story, which is not as unique as I thought.</p>
    <img src="~/images/couple1.jpg" width="250" height="389" style="float: right; padding: 10px;" alt="Sexy couple"
         />
    <p>
        I was born an indigo child. I didn't know it back then but I was one of the first of a new generation
        now called the millennials. I had a stronger spiritual connection than most people even though I wasn't
        aware of it. I didn't feel like I fit in the social environment at school and grew up very shy, lonely
        and misunderstood. I felt unworthy and anxious around women, and I always fell into women's friend zone
        when I wanted more. I didn't know how to get women to care about me. I didn't understand women and I
        longed to have a beautiful woman beside me. It was also surrounded by people who consider that having
        a successful career is more important than living life itself.
    </p>
    <p>
        I started feeling alive when I went abroad for training in Finland. It was a completely different life.
        People trusted, supported and respected me; they were partying all the time and there was always something
        to do. After coming back to my old life in Quebec, I quickly realized the cultural differences. I didn't
        want to live an isolated life after tasting something so much better, so I kept traveling. I have spend
        many years of my life living in various cultures. What I discovered is shocking, and extremely powerful.
    </p>
    <p>
        I am bringing you these answers in <em>Sexual Magnetism</em>. You deserve to be surrounded by quality
        people who support you, who care about you and who work to live instead of living to work. You deserve
        to find your place in this individualistic society. You deserve to be fully authentic and confident
        when speaking with women.
    </p>
    <p>
        What I offer you is unlimited success with women. What does that mean? It means you can have whatever
        you want. Some guys define success as getting laid with 3 different girls from nightclubs per week.
        Others define it as finding a life partner that truly inspires them and makes them feel passionate and
        alive.
    </p>
    <p>
        For me, I define success with women as the ability to create new relationships and the ability to keep
        relationships. That means I can have medium-term relationships with high quality, sexy and intelligent
        women while keeping my freedom and while keeping the relationships stable. I can always form new relationships
        very quickly no matter where I am in the world. Some people asked me how many women I have been with.
        I stopped counting and I think it's irrelevant. Getting laid with a thousand women is great but it's
        a LOT of work to constantly look for new women because you couldn't keep the previous ones or they didn't
        satisfy you. Finding 1 to 3 quality girls and keeping them for several months brings much better sex,
        you get laid with more consistency and it gives you much more time to do what you really enjoy &mdash;
        unless you truly enjoy wasting 10 hours per week running after girls. The way you define success is
        totally up to you.
    </p>
    <div class="testimonal">
        <ul>
            <li>
                Etienne's product <em>Sexual Magnetism</em> helped me cultivate a new understanding of masculine and
                feminine energies. I used to be one of the millions of men who was stuck in the illusion that our Western
                media feeds us; that fake tits and eyelashes, high heeled boots, and a bitchy attitude are "hot". Now
                I've been enlightened to seeing true feminine energy, and once you've seen it, you can never go back.
                I now see that feminine energy is light, care free, spontaneous, nurturing, supportive, and free flowing,
                and I can look for this actively in my relationships. Along the way you will undoubtedly have to battle
                with your old habits. You may find yourself reacting to women who aren't truly what you desire, simply
                because the media has socially conditioned you to do so. Just keep in mind your true desires and Etienne's
                teachings and you'll see enormous growth! I highly recommend this product to ANYONE seeking to learn
                how to create the relationships and love life they've always wanted.<br />
                <span class="signature">&ndash; Kurt Spelling (USA)</span><br />
            </li>
            <li>
                I think we're years ahead of things. When the rest of the seduction industry catches up and realizes
                it's not about inner game and ego, they'll start focusing on what we have the most: behavior, energy,
                physiology and sexuality. There is some stuff Etienne talked about that I haven't even done or tried
                yet so in a way he's more advanced than I am. He also did Kundalini Natural Grounding before I ever
                did.<br />
                <span class="signature">&mdash; Rion Williams (USA)</span><br />
            </li>
            <li>
                Your general approach to the subject of women is the most enlightened I've seen in the genre of men's
                self-help. Very cool.<br />
                <span class="signature">&ndash; Colin (Canada)</span><br />
            </li>
        </ul>
    </div>
    <p>&nbsp;</p>
    <p>
        I have spent years of my life traveling in different cultures and learning everything I could about personal
        magnetism, spirituality, relationships, healing and personal power. I was trained as a Reiki Master
        and Master Alchemist among other practices. I have experimented which approach works the best in each
        situation to achieve results quickly and effectively.
    </p>
    <p>I'm bringing you a proven system to attract women that...</p>
    <ul>
        <li>
            <b>Has a greater vision of you.</b> You will feel great about yourself, live your life fully and be
            better with women than any of your friends.
        </li>
        <li><b>Is enlightened.</b> You won't need to be someone else to have success. You are unique.</li>
        <li>
            <b>Is completely out of the box.</b> It takes someone who has traveled the world and who speaks at least
            three languages to have this perspective that transcends cultural limitations.
        </li>
        <li>
            <b>Goes to the root.</b> You won't waste your time with the 95% that won't bring lasting changes. Go
            to the 5% at the core of your being that bring lasting changes.
        </li>
        <li>
            <b>Goes straight to the point.</b> This system is very precise and concise. It presents complex topics
            in a very simple way.
        </li>
    </ul>
    <div class="testimonal">
        <ul>
            <li>
                I started to combine your style with my style, and the results are... incredible. My frame creates a
                void, and women feel compelled to fill it.<br />
                <span class="signature">&ndash; Eric (Spain)</span><br />
            </li>
        </ul>
    </div>
    <p>&nbsp;</p>
    <p>
        After having more success with women in two years than people who have spent over 10 years in self-development,
        I wrote <em>Sexual Magnetism</em> which lays out the foundation of the a proven system to attract women
        effortlessly and consistently. Now that the path is uncovered, you can achieve the same success much
        faster than I did.
    </p>
    <p>
        How long will it take? It depends on your commitment to transform. Many people wrote me 6 months after
        reading <em>Sexual Magnetism</em> and their life had unfolded like a snowball of spiritual evolution.
        Confusion, depression and unworthiness are the first to go away. Then, you'll love and enjoy your life
        much more. Then, you'll have interesting and unexpected sexual experiences. Finally, you'll have more
        than you ever wished for. Life is a path, not a destination. <em>Sexual Magnetism</em> will present
        you a solid foundation that can make all your dreams possible. The question is how far do you want to
        go and how much success are you able to handle? You can have it all, and you don't have to give up your
        authenticity and integrity along the way.
    </p>
    <div class="testimonal">
        <ul>
            <li>
                It's just money. There's plenty of it. I unlearned a lot because of the book, there is a sense of lightness
                to it, of how effortless the attraction really is, it's like taking off a shirt.<br />
                <span class="signature">&ndash; Jared (Finland)</span><br />
            </li>
            <li>
                I think this book will influence my life as much as Tony Robbins' "Awaken the Giant Within." I am now
                absolutely fearless around everyone, as well as unattached to any outcome. I now understand HOW I have
                easily seduced every single woman I ever wanted. Now that my energies have shifted, I constantly catch
                women looking at me from a distance and smiling. Sell your car if you have to, pawn your mother's jewelry...
                do whatever you have to do to get your hands on this information. Now.<br />
                <span class="signature">&ndash; Gabriel (Canada)</span><br />
            </li>
        </ul>
    </div>
    <p>&nbsp;</p>
    <p style="border: #CC9900 solid 1px; padding: 10px; height: 75px;">
        <strong>
            <span class="stit">
                <img src="~/images/moneyback100.gif" alt="Guaranteed to attract women" width="75" height="75"
                     hspace="10" align="left" style="padding-right: 5px;" />
            </span> <span class="blue, dark">
                365-DAYS MONEY-BACK
                GUARANTEE
            </span>
        </strong>
        <br />
        All products on this website are covered with a one year money-back guarantee. If a product doesn't
        have a huge impact in your life, send me an email and I will refund your money. The risk is on me.
    </p>
    <p>&nbsp;</p>
    <p>Sexual Magnetism eBook is divided into three parts:</p>
    <p class="blue">Chapter 1: Awaken Your Sexual Magnetism</p>
    <ul>
        <li>Step into a higher lifestyle</li>
        <li>Clear the confusion around spirituality</li>
        <li>Lay out a proven path to attract women</li>
        <li>Awaken the full power of your emotional system</li>
        <li>Clear the confusion about yourself, women, and society</li>
        <li>Develop your masculinity</li>
        <li>Connect the femininity from within women</li>
        <li>Step into your life purpose</li>
        <li>Life fully grounded within the western society</li>
    </ul>
    <br />
    <p class="blue">Chapter 2: Heal Your Fears and Limitations</p>
    <ul>
        <li>Healing through awareness</li>
        <li>Healing through acceptance and love</li>
        <li>Let go of your issues</li>
        <li>Develop emotional intelligence with natural grounding</li>
        <li>Use reiki to enhance your animal magnetism</li>
        <li>Increase your sexual power with tantra</li>
        <li>Amplify your healing powers exponentially with alchemy</li>
        <li>Heal the enrgetic weaknesses pulling you down</li>
        <li>Visualize in a powerful way that is guaranteed to eliminate procrastination</li>
        <li>Keep track of your progress</li>
    </ul>
    <br />
    <p class="blue">Chapter 3: Integrate Sexual Magnetism into Your Life</p>
    <ul>
        <li>Become a master of emotional communication</li>
        <li>Transcend the limitations of your language</li>
        <li>Stop playing games and get real</li>
        <li>Eliminate approach anxiety forever</li>
        <li>Physically escalate with women in a smooth and natural way</li>
        <li>Kiss her and close the deal</li>
        <li>Become a master in bed</li>
        <li>Learn relationship management strategies</li>
        <li>Develop an amazing social life</li>
    </ul>
    <br />
    <p>
        <a style="font-size: 18px !important;" href="~/sexual-magnetism-buy" onclick="allowExit=true">
            <img src="~/images/btn_buy.png" width="250" height="33" border="0" alt="Buy Sexual Magnetism" />
        </a>
    </p>
    <p>&nbsp;</p>
    <h4 class="blue">Sexual Magnetism comes with over $300 worth of bonuses.</h4>
    <p>Go through the two first bonuses to introduce concepts before reading Sexual Magnetism.</p>
    <p class="blue">BONUS #1: Breaking The Limits of Inner &amp; Outer Game video.</p>
    <p>
        Watch this hour-long video from Rion Williams before reading Sexual Magnetism as it is a very good introduction
        to the subject. It will reframe your view of reality to see beyond inner and outer game. It will prepare
        your mind to soak in Sexual Magnetism more effectively.
    </p>
    <p class="blue">BONUS #2: Financial Magnetism e-book.</p>
    <p>
        I know many of you are in difficult financial situations or have been convinced by the media that you
        should live a recession. However, it doesn't have to affect you. You are responsible for your own wealth.
        This e-book takes the principles of sexual magnetism and applies them to financial magnetism. The principles
        to attract abundance are the same in all areas of life.
    </p>
    <p class="blue">BONUS #3: Natural Grounding Guide 2011 e-book.</p>
    <p>
        This e-book explains the Natural Grounding meditation in depth. It has proven to be extremely powerful
        to develop self-confidence and worthiness, to overcome shyness, to overcome porn addiction and much
        more.
    </p>
    <p>&nbsp;</p>
    <p>
        <em>Sexual Magnetism</em> is not just about breaking through your shyness and finding your place in society.
        It is about fully living your life in a way that feels right, with confidence and humility. You won't
        have to pretend you're better than others anymore. You won't have to "neg" women to bring them down
        anymore. You won't have to talk women into bed anymore, which often looks like a minefield as it blows
        up whenever you do a false step. Instead, she will do the work with you to make dating effortless, simple
        and... enjoyable for both!
    </p>
    <div class="testimonal">
        <ul>
            <li>
                As a result of your book and your way to see if a woman's energy matches yours before you even approach,
                I got my "transmission"/attunement just this last weekend. I have actually already met someone who is
                quite a match and resonates with me on many levels. Other things are clicking into place.
                <br />
                <span class="signature">&ndash; Paul (USA)</span><br />
            </li>
            <li>
                First of all I wanted to thank you for everything. You've completely changed my life for the better.
                I've applied your stuff (natural grounding worked great) and I'm happy I discovered your valuable content
                so soon.<br />
                <span class="signature">&ndash; Nils (Switzerland)</span><br />
            </li>
        </ul>
    </div>
    <p>
        Instead of having mechanical sex with a drunken girl after a party who won't remember you the next day,
        you can enjoy mind-blowing sexual experiences that bring you closer to the spiritual source. When you
        play at that level of authenticity and personal power, women will always want more from you. This leads
        to a lifestyle where you have more women than you can handle while not wasting energy on finding women
        as they come to you. You will not have a woman leave you for a richer guy ever again as you have something
        more valuable to offer. Keeping your power allows you to have more freedom and honesty in your relationships,
        whether you want a stable relationship or no-strings-attached relationships.
    </p>
    <div style="text-align: center;">
        <img src="~/images/couple2.jpg" width="500" height="298" alt="Sexy couple" style="padding-top: 10px; padding-bottom: 10px;" />
    </div>
    <div class="belchertitle">
        &ldquo;Sexual Magnetism Blueprint&rdquo;
    </div>
    <p>
        Be fully authentic and confident to effortlessly and consistently attract women of great inner and outer
        beauty. In this theoretical, practical and applied e-book, you will learn a proven system to attract
        women without compromising your authenticity and integrity.
    </p>
    <center class="belcherbox">
        <div class="belchertext">
            Regular Price <s>$197</s> Today $7
        </div>
        <div class="belchersub">
            With 12 months money-back guarantee
        </div>
        <div class="belcherbuy">
            <a href="~/sexual-magnetism-buy" target="_top" onclick="allowExit=true">&nbsp;</a>
        </div>
        <br />
        <div class="belcherlink">
            <a href="~/sexual-magnetism-buy" target="_top" onclick="allowExit=true">Add To Cart</a>
        </div>
        <img src="~/images/belcher-visa.gif" width="344" height="52" alt="Credit Cards Accepted" />
    </center>
    <p style="border: #CC9900 solid 1px; padding: 10px; height: 75px;">
        <strong>
            <span class="stit">
                <img src="~/images/moneyback100.gif" alt="Guaranteed to attract women" width="75" height="75"
                     hspace="10" align="left" style="padding-right: 5px;" />
            </span> <span class="blue, dark">
                365-DAYS MONEY-BACK
                GUARANTEE
            </span>
        </strong>
        <br />
        All products on this website are covered with a one year money-back guarantee. If a product doesn't
        have a huge impact in your life, send me an email and I will refund your money. The risk is on me.
    </p>
    <p class="blue">This e-book is an instant download so you can read it right now.</p>
    <p>
        This e-book is in a special format allowing you to easily navigate the content. It requires a Windows
        operating system. If you use a different system such as Mac OS, we can also provide you a PDF version
        of it on request.
    </p>
    <p>&nbsp;</p>
    <p>
        If you believe you can't afford this, how long will you let external circumstances dictate your life?
        It may be time to turn the table around and take decisive action so that external circumstances, money
        and also women, reflect what you really want. You are the one creating your own reality.
    </p>
    <p>So, are you in?</p>
    <p>
        <a style="font-size: 18px !important;" href="~/sexual-magnetism-buy" target="_top" onclick="allowExit=true">
            <img src="~/images/btn_buy.png" width="250" height="33" border="0" alt="Buy Sexual Magnetism" />
        </a>
    </p>
    <p style="margin-left: 40px;">
        <img src="~/images/sign.jpg" hspace="10" height="164" align="left" width="394" style="padding-right: 5px;"
             alt="To your spiritual freedom" />
    </p>
    <p>&nbsp;</p>
    <div class="pagingDiv">
    </div>
</div>
