@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Terms and Conditions";
    layout.Description = "Please read the following Terms and Conditions carefully. These Terms and Conditions, along with any other provided supplementing terms of service documents, govern your access to and use of the website (the “Website”), including the use of any content, information, products and/or services (the “Services”) therein.";
    layout.Keywords = "terms of use, terms and conditions, metatron, federation of light, disclosure, truth, life, love, freedom, ascension";
    layout.SidebarVisible = false;
}
<h1>Terms and Conditions</h1>
<p>
    <i>
        Updated on: April 15<sup>th</sup> 2019
    </i>
</p>
<p>
    <strong>
        Please note that by using this Website you agree to be bound by the Terms and Conditions set out below. Ignorance to the Terms and Conditions stated herein shall not be a defence in case of breach of any of the Terms and Conditions in this or any of the other supplementing terms of service or agreements on this Website.
    </strong>
</p>
<p>
    Please read the following Terms and Conditions carefully. These Terms and Conditions, along with any other provided supplementing terms of service documents, govern your access to and use of the website (the “Website”), including the use of any content, information, products and/or services (the “Services”) therein. This is a legal agreement between you and www.shamanicattraction.com (Shamanic Attraction).
</p>
<h3>
    1. NATURE OF THE WEBSITE
</h3>
<p>
    1.1 SHAMANIC ATTRACTION offers digital informative content, bulk orders for the sale of books, coaching and other consultancy services.
</p>
<p>
    1.2 By using this Website, subscribing to Services and/or placing an Order or uploading/downloading any other content, you agree to be bound by the Terms and Conditions set out herein.
</p>
<p>
    1.3 IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS HEREIN, PLEASE DO NOT USE OR ACCESS THIS WEBSITE.
</p>
<p>
    1.4 From time to time, it will be necessary to update the Terms and Conditions. SHAMANIC ATTRACTION reserves the right to revise, modify or change the Terms and Conditions at any given time. You shall be bound by the most recent and the present version of the Terms and Conditions on the Website.
</p>
<p>
    1.5 We may also process your data for carefully considered purposes which enable us to enhance the service we provide. For the sake of clarity this refers to the processing of personal data such as, but not limited to, names, email addresses and IP addresses for the purposes of analysing how the site is used by the visitors and for the distribution of emails relating to the Service.
</p>
<h3>
    2. WARRANTY
</h3>
<p>
    2.1 You warrant and represent that you are at least eighteen (18) years of age, you have the right and authority to enter into this Agreement by using this Website. You acknowledge that you have read and understand SHAMANIC ATTRACTION’s Privacy Policy and Terms and Conditions (herein) and any other provided terms of service or use, as more fully described on the Website, and by using the Services and the Website you have expressly accepted the terms of service set forth in such Privacy Policy, Terms and Conditions (herein) as same may be amended from time to time.
</p>
<p>
    2.2   You shall defend and indemnify SHAMANIC ATTRACTION and any of its affiliates (including any directors, members, officers, employees and other representatives) and hold them harmless against any third-party claims or expenses and losses resulting from breach or a claim which, if true, would constitute a breach of the foregoing representations and warranties or any of the agreements contained in these Terms and Conditions, including reasonable attorneys’ fees and expenses.
</p>
<p>
    2.3 THERE ARE NO REPRESENTATIONS OR WARRANTIES BY SHAMANIC ATTRACTION, EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, OTHER THAN AS EXPRESSLY SET FORTH IN THE TERMS AND CONDITIONS.
</p>
<h3>
    3. GENERAL
</h3>
<p>
    3.1 The Website and Services may be used and accessed solely for lawful purposes. You agree to abide by all applicable local, state, national and foreign laws, treatises and regulations in connection with your use of the Website and Services, including, without limitation, applicable common law, and all relevant statutes. In addition, without limitation, you agree that you will not do any of the following while using or accessing the Website and Services:
</p>
<p>
    (a) Disable, hack, circumvent or otherwise interfere with security related features of the Website or features that prevent or restrict use or copying of any SHAMANIC ATTRACTION content or materials;
</p>
<p>
    (b) Use any metadata, meta tags or other hidden text utilizing a SHAMANIC ATTRACTION name, trademark, URL or product name;
</p>
<p>
    (c) Upload, submit, post, email or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, so-called pyramid schemes or any other form of solicitation;
</p>
<p>
    (d) Forge any TCP/IP packet header or any part of the header information in any posting or in any way use the Website or Services to send altered, deceptive or false source-identifying information;
</p>
<p>
    (e) Upload, submit, post, email, or otherwise transmit, via the Website or Services, any content or other materials that is, in the sole opinion of SHAMANIC ATTRACTION, unlawful, harmful, threatening, obscene, harassing, defamatory or hateful or that contain objects or symbols of hate, invade the privacy of any third party, contain nudity (including, without limitation, any pornography, erotica, child pornography or child erotica), are deceptive, threatening, abusive, inciting of unlawful action, defamatory, libellous, vulgar or violent or constitute hate speech or are otherwise objectionable;
</p>
<p>
    (f) Destroy, interfere with or disrupt, or attempt to interfere with or disrupt, any web pages available on the Website, servers or networks connected to the Website or the technical delivery systems of SHAMANIC ATTRACTION’s providers or break any requirements, procedures, policies or regulations of networks connected to the Website;
</p>
<p>
    (g) Attempt to decompile, disassemble, decipher or reverse engineer any of the software used to provide the Website or Services;
</p>
<p>
    (h) Attempt to scan, probe or test the vulnerability of any SHAMANIC ATTRACTION’s system or network or breach, impair or circumvent any security or authentication measures protecting and providing security for the Website or Services;
</p>
<p>
    (i) Attempt to search, meta-search or access the Website with any engine, software, tool, agent, device or mechanism other than software and/or search agents provided by SHAMANIC ATTRACTION or other generally available third-party web browsers (e.g., Internet Explorer, Firefox, Safari), including, without limitation, any software that sends queries to the Website to determine how a website or web page ranks;
</p>
<p>
    (j) Collect or store personal data about other users of the Website or Services without their express and explicit permission;
</p>
<p>
    (k) Misrepresent or impersonate your affiliation with any person or entity, through pretext or some other form of social engineering or otherwise commit fraud;
</p>
<p>
    (l) Use the Website or Services in any manner not permitted by the Terms and Conditions; or
</p>
<p>
    (m)  Instruct or encourage any other individual to do any of the foregoing or to breach and/or violate any of the Terms and Conditions.
</p>
<p>
    3.2 You agree that the Terms and Conditions and the rules, restrictions and policies contained herein, and SHAMANIC ATTRACTION’s enforcement thereof, are not intended to confer and do not confer any rights or remedies upon any person other than you and SHAMANIC ATTRACTION.
</p>
<p>
    3.3 SHAMANIC ATTRACTION RESERVES THE RIGHT, IN ITS SOLE DISCRETION, TO REFUSE TO PROVIDE ITS SERVICES TO YOU OR ANY CUSTOMER FOR ANY OR NO REASON WHATSOEVER.
</p>
<h3>
    4. REGISTRATION
</h3>
<p>
    4.1 In accessing this Website or certain of the resources on the Website, you may be asked to provide registration details. It is a condition of use of this Website that all the details you provide will be correct, current, and complete. If SHAMANIC ATTRACTION believes the details are not correct, current, or complete, we have the right to refuse you access to the Website or any of its resources.
</p>
<h3>
    5. DISCLAIMER
</h3>
<p>
    5.1 The materials on SHAMANIC ATTRACTION are provided on an ‘as is’ basis. SHAMANIC ATTRACTION makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. We do not warrant that our Website will always be available, access will be uninterrupted, be error-free, meet your requirements, or that any defects in our Website will be corrected. Information on our Website should not necessarily be relied upon and should not to be construed to be professional advice from us.
</p>
<p>
    5.2 The information contained in any books, articles or other products sold, provided or promoted on this Website are intended to be educational. This information is not for diagnosis, prescription, treatment or resolution of any health disorder or financial matters whatsoever. This information should not replace consultation with a competent professional. The content of these products is intended to be used as an adjunct to a rational and responsible program prescribed by an appropriate professional. SHAMANIC ATTRACTION, its affiliates and any authors, directors, sellers and publishers of these products are in no way liable for any misuse of the material they contain.
</p>
<h3>
    6. LIMITATIONS
</h3>
<p>
    6.1 In no event shall SHAMANIC ATTRACTION its affiliates, authors, partners, subsidiaries or directors be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on SHAMANIC ATTRACTION, even if SHAMANIC ATTRACTION or a SHAMANIC ATTRACTION’s authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
</p>
<p>
    6.2 Your sole and exclusive remedy relating to your use of the site shall be to discontinue using the site. Under no circumstances will we be liable or responsible for any direct, indirect, incidental, consequential (including damages from loss of business, lost profits, litigation, or the like), special, exemplary, punitive, or other damages, under any legal theory, arising out of or in any way relating to our Website, your Website use, or the content, even if advised of the possibility of such damages. Our total liability for any claim arising out of or relating to our Website shall not exceed one hundred ($100) dollars and that amount shall be in lieu of all other remedies which you may have against us or our affiliates. Any such claim shall be subject to confidential binding arbitration as described later in these Terms and Conditions of use.
</p>
<h3>
    7. ACCURACY OF MATERIALS
</h3>
<p>
    7.1 The materials appearing on SHAMANIC ATTRACTION could include technical, typographical, or photographic errors. SHAMANIC ATTRACTION does not warrant that any of the materials on its Website are accurate, complete or current. SHAMANIC ATTRACTION may make changes to the materials contained on its Website at any time without notice. However, SHAMANIC ATTRACTION does not make any commitment to update the materials.
</p>
<h3>
    8. LINKS
</h3>
<p>
    8.1 SHAMANIC ATTRACTION has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by SHAMANIC ATTRACTION. Use of any such linked web site is at your own risk.
</p>
<h3>
    9. PERMISSION TO USE
</h3>
<p>
    9.1 Where expressly provided in case of free offers or downloads:
</p>
<p>
    a) Permission is granted to temporarily download one copy of the materials (information) on SHAMANIC ATTRACTION for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
</p>
<p>
    i. modify or copy the materials;
</p>
<p>
    ii. use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
</p>
<p>
    iii. attempt to decompile or reverse engineer any software contained on SHAMANIC ATTRACTION;
</p>
<p>
    iv. remove any copyright or other proprietary notations from the materials; or
</p>
<p>
    v. transfer the materials to another person or “mirror” the materials on any other server.
</p>
<p>
    b) This license shall automatically terminate if you violate any of these restrictions and may be terminated by SHAMANIC ATTRACTION at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
</p>
<h3>
    10. INTELLECTUAL PROPERTY
</h3>
<p>
    10.1 You acknowledge that the SHAMANIC ATTRACTION contains Content that are protected by copyrights, trademarks, trade secrets, or other proprietary rights, and that these rights are valid and protected in all forms, media and technologies existing now or hereinafter developed. All Content is copyrighted as a collective work under the Canadian copyright laws, and SHAMANIC ATTRACTION owns a copyright in the selection, coordination, arrangement, and enhancement of such Content. You may not modify, remove, delete, augment, add to, publish, transmit, participate in the transfer or sale of, create derivative works from, or in any way exploit any of the Content, in whole or in part. If no specific restrictions are displayed, you may make copies of select portions of the Content, provided that the copies are made only for your personal use and that you maintain any notices contained in the Content, such as all copyright notices, trademark legends, or other proprietary rights notices. Except as provided in the preceding sentence or as permitted by the fair use privilege under the Canadian copyright laws, you may not upload, post, reproduce, or distribute in any way Content protected by copyright, or other proprietary right, without obtaining permission of the owner of the copyright or other propriety right. In addition to the foregoing, use of any software Content shall be governed by the software license agreement accompanying such software.
</p>
<h3>
    11. TERMINATION OF USAGE
</h3>
<p>
    11.1 SHAMANIC ATTRACTION may suspend or terminate any User’s access to all or any part of the Website including any account thereon, without notice, for any reason at SHAMANIC ATTRACTION’s sole discretion.
</p>
<h3>
    12. DISPUTE RESOLUTION
</h3>
<p>
    12.1 You agree to obey all applicable laws while using our Website. You agree that the laws of Canada govern these Terms and Conditions of use. You also agree that any dispute between you and SHAMANIC ATTRACTION, excluding any intellectual property right infringement claims we pursue against you, shall be settled solely by confidential binding arbitration per the Canadian Arbitration Association commercial arbitration rules. All claims must be arbitrated on an individual basis, and cannot be consolidated in any arbitration with any claim or controversy of anyone else. All arbitration must occur in Québec, Canada. Each party shall bear one half of the arbitration fees and costs incurred, and each party is responsible for its own attorney’s fees.
</p>
<h3>
    13. PURCHASES
</h3>
<p>
    13.1 (a) Additional terms and conditions may apply to purchases of goods or services and to specific portions or features of the Website, including promotions or other similar features, all of which terms are made a part of these Terms and Conditions by this reference. You agree to abide by such other terms and conditions, including where applicable representing that you are of sufficient legal age to use or participate in such service or feature. If there is a conflict between these Terms and Conditions and the terms posted for or applicable to a specific portion of the Website or for any service offered on or through the Website, the latter terms shall control with respect to your use of that portion of the Website or the specific service.
</p>
<p>
    (b) SHAMANIC ATTRACTION’s obligations, if any, with regard to its products and services are governed solely by the agreements pursuant to which they are provided, and nothing on this Website should be construed to alter such agreements.
</p>
<p>
    (c) We reserve the sole discretion to provide/deny any refunds unless mentioned otherwise on any other part of the Website. No refund requests shall be entertained for one-on-one coaching services or specific Crystal Amplifiers. Any other money back guarantees provided elsewhere on the site shall be governed by the respective terms provided on such parts.
</p>
<h3>
    14. LOCAL REGULATIONS
</h3>
<p>
    14.1 SHAMANIC ATTRACTION makes no representation that materials or other content in the Website are appropriate or available for use outside Canada, its territories, possessions and protectorates. If you choose to access the Website from other locations you do so on your own initiative and at your own risk. You are responsible for complying with local laws, if and to the extent local laws are applicable. You specifically agree to comply with all applicable laws concerning the transmission of technical data exported from Canada or the country you reside in.
</p>
<h3>
    15. NON-WAIVER
</h3>
<p>
    15.1 The failure of any party to enforce at any time any of the provisions of these Terms and Conditions shall not be construed to be a waiver of the right of such party thereafter to enforce any such provision.
</p>
<h3>
    16. SEVERABILITY
</h3>
<p>
    16.1 If for any reason a court of competent jurisdiction finds any provision or portion of these Terms and Conditions is to be unenforceable, that provision will be enforced to the maximum extent permissible so as to affect the intent of the parties, and the remainder of these Terms and Conditions will continue in full force and effect.
</p>
<h3>
    17. ASSIGNMENT
</h3>
<p>
    17.1 You may not assign the Terms and Conditions (by operation of law or otherwise) and any prohibited assignment will be null and void. SHAMANIC ATTRACTION may assign the Terms and Conditions or any rights or obligations hereunder without your consent.
</p>
<h3>
    18. NOTICE
</h3>
<p>
    18.1 Any notice or other communication required to be given under these Terms and Conditions, shall be in writing and shall be delivered personally, or by email, or sent by pre-paid first-class post or recorded delivery or by commercial courier, to each party required to receive the notice or communication. Any notice or other communication shall be deemed to have been duly received: (i) if delivered personally, when left at the address and for the contact referred to in this clause; or (ii) if delivered by email, upon leaving the sender’s outbox; or (iii) if sent by pre-paid first-class post or recorded delivery, at 9.00 am on the second business day after posting; or (iv) if delivered by commercial courier, on the date and at the time that the courier's delivery receipt is signed.
</p>
<h3>
    19. GOVERNING LAW
</h3>
<p>
    19.1 The Terms and Conditions shall be governed by and interpreted in accordance with the laws of Canada and the province of Québec. Unless otherwise provided in this Agreement, any legal action or proceeding arising under the Terms and Conditions shall be brought exclusively in courts located in Québec, Canada, and the parties hereby irrevocably consent to the personal jurisdiction and venue therein. The parties to this agreement waive their respective rights to a trial by jury.
</p>
<h3>
    20. ENTIRE AGREEMENT
</h3>
<p>
    20.1 The Terms and Conditions, together with the rules and policies of SHAMANIC ATTRACTION, constitute the entire agreement between SHAMANIC ATTRACTION and you with respect to the subject matter hereof.
</p>
