@model IEnumerable<HanumanInstitute.Satrimono.Models.RssItem>
<ul class="articles-list">
    @foreach (var item in Model)
    {
        <li>
            <a href="@item.Uri" class="text-blue">@Html.Raw(item.Title)</a>
            @Html.Raw(item.Summary)
        </li>
    }
</ul>