<div class="sidebartop">
    &nbsp;
</div>
<div class="sidebar">
    <h2>About Etienne</h2>
    <img src="~/images/aboutetienne.jpg" align="right" alt="Etienne" style="padding: 6px 0 0 2px;" width="70"
         height="100" />
    <p class="boxdesc">Get the life that you want to enjoy closer connected relationships, increase your income, and finally feel confident with the direction you are going with your life. Etienne Charland helps you maximize your full potential on all aspects of your life.</p>
</div>
<div class="sidebarbottom">
    &nbsp;
</div>
