<div class="sidebartop">
    &nbsp;
</div>
<div class="sidebar">
    <h2>Energy Tune-Up</h2>
    <p class="boxdesc" style="padding-bottom: 10px">Get a general clean-up of your energy field to lift your consciousness up and bring awareness on the real issues holding your life back.</p>
    <a class="sidebarbutton" href="~/energy-tune-up">Get It Now</a>
</div>
<div class="sidebarbottom">
    &nbsp;
</div>
