<div class="subscribeboxtop">
    &nbsp;
</div>
<div class="subscribebox">
    <h2>FREE TRAINING</h2>
    <div>
        <div class="boxdesc">
            <p>You know you have a higher purpose you are not living.</p>
            <p>
                Join us at the <strong style="color:white;">Force of Life FREE training</strong> to live a life you love and step
                into your higher purpose.
            </p>
        </div>
        <a class="sidebarbutton" href="https://www.forceoflife.net" target="_blank">Sign Up Now</a>
    </div>
</div>
<div class="subscribeboxbottom">
    &nbsp;
</div>
