<div id="footerArea">
    <div id="footer">
        <div class="footerleft">
            <div class="footerlogo">
                <img src="~/images/footer-logo.png" alt="Self-Transformation" style="position: relative; left: -10px;" />
            </div>
            <div class="footerNav">
                <h4><a href="~/sitemap">SITEMAP</a></h4>
            </div>
            <div class="footerNav">
                <h4><a href="~/privacy">PRIVACY</a></h4>
            </div>
            <div class="footerNav">
                <h4><a href="~/terms">TERMS</a></h4>
            </div>
            <div class="footerNav">
                <h4><a href="~/definitions/">WHAT IS ALCHEMY</a></h4>
            </div>
            <div class="footerNav">
                <h4>&nbsp;<a href="~/free-training">FREE TRAINING</a></h4>
            </div>
            <div class="footerNav">
                <h4><a href="~/services">SERVICES</a></h4>
            </div>
        </div>
        <div class="copyright">
            Copyright &copy; <a href="~/">Spiritual Self Transformation</a> 2008-@DateTime.UtcNow.Year. All Right Reserved.
        </div>
    </div>
</div>
