<div class="subscribeboxtoplarge">
    &nbsp;
</div>
<div class="subscribeboxlarge">
    <div style="width: 610px; float: left;" class="subscribeboxlarge-inner-div">
        <h2>
            <a href="https://www.forceoflife.net">
                &ldquo;You Know You Have a Higher
                Purpose You Are Not Living&rdquo;
            </a>
        </h2>
        <p>Sign up for the Force of Life Free Training to</p>
        <ul>
            <li>See what is keeping you stuck so that you can turn the situation around</li>
            <li>Understand the true power hidden within you</li>
            <li>Open the door to stepping into your greater path, purpose and freedom</li>
        </ul>
    </div>
    <div class="arrow-right-dir" style="width: 80px; float: left; padding-top: 90px">
        <img src="~/images/arrowrightsmall.gif" width="42" height="20" alt="Register now" />
    </div>
    <div class="register-now-btn" style="float: left; padding-top: 82px;">
        @*<a class="sidebarbutton" href="https://www.forceoflife.net" target="_blank">&gt;&gt; Register Now &lt;&lt;</a>*@
        <a class="sidebarbutton" href='javascript://' data-opf-trigger='p2c20557f58'>&gt;&gt; Register Now &lt;&lt;</a>
        <script type='text/javascript' async='true' src='https://app.ontraport.com/js/ontraport/opt_assets/drivers/opf.js' data-opf-uid='p2c20557f58' data-opf-params='borderColor=#000000&borderSize=0px&formHeight=325&formWidth=100%&popPosition=mc&instance=1690991299'></script>
    </div>
    <div class="clear">
    </div>
</div>
<div class="subscribeboxbottomlarge">
    &nbsp;
</div>