<a href="~/" class="logo">
    <img class="logoimg" src="~/images/logo-header.png" height="84" width="84" alt="Spiritual Self Transformation" />
    <h1 class="logotext">Spiritual Self&nbsp;Transformation</h1>
</a>
<div class="rightheader">
    <div class="icons">
        <div class="f1">
            <a target="_blank" href="https://www.facebook.com/HanumanInstitute" title="Facebook">&nbsp;</a>
        </div>
        <div class="t1">
            <a target="_blank" href="https://twitter.com/satrimono" title="Twitter">&nbsp;</a>
        </div>
        <div class="y1">
            <a target="_blank" href="https://www.youtube.com/user/myselftransformation" title="YouTube">&nbsp;</a>
        </div>
    </div>
    <div id="myslidemenu" class="jqueryslidemenu">
        <div class="mobile-menu">
          <div class="menu-icon menu-parent">
            <img src="https://img.icons8.com/cotton/2x/menu.png" align="menu"> <span>Menu</span>
          </div>
        </div>
        <ul class="menu-child">
            <li><a href="~/blog/">Blog</a> <span> | </span></li>
            <li><a href="~/free-training">Free Training</a> <span> | </span></li>
            <li>
                <a href="~/services">Services</a> <span> | </span>
                <ul>
                    <li><a href="~/alchemy-rings">Gemstones &amp; Alchemy Rings</a></li>
                    <li><a href="~/strategy-session">Strategy Session</a></li>
                    <li><a href="~/god-connection">God Connection Attunement</a></li>
                    <li><a href="~/remote-cell-reprogramming">Remote Cell Reprogramming</a></li>
                    <li><a href="~/crystal-attunement">Crystal Attunement</a></li>
                    <li><a href="~/soul-alignment-reading">Soul Alignment Reading</a></li>
                    <li><a href="~/powerliminals-nonrivalry">Powerliminals</a></li>
                </ul>
            </li>
            <li><a href="~/about-us">About Us</a> <span> | </span></li>
            <li><a href="~/contact-us">Contact Us</a></li>
        </ul>
    </div>
</div>
