<p>
    <strong>Yellow Topaz</strong>: LC (<s>$80</s> $54), M, S ($4/ct)<br />
    Helps with clarity of intent, focus and faith. It helps with manifestation of intentions.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-yellow-topaz-lc-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-yellow-topaz-lc.jpg" itemprop="thumbnail" alt="Yellow topaz gemstone" />
        </a>
        <figcaption itemprop="caption description">20-carat yellow topaz on copper base</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-yellow-topaz-s-full.jpg" itemprop="contentUrl" data-size="920x920">
            <img src="~/images/rings/gem-yellow-topaz-s.jpg" itemprop="thumbnail" alt="Yellow topaz small gemstone" />
        </a>
        <figcaption itemprop="caption description">Small 3.5 carats yellow topaz</figcaption>
    </figure>
</div>

<p>
    <strong>Amethyst (light and dark)</strong>: LC (<s>$120</s> $86), M  ($6/ct), Natural gem ($18/ct, 19-27ct)<br />
    Great for integrating energies, especially during energetic shifts. During ascension, everybody should have one.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-amethyst-light-lc-full.jpg" itemprop="contentUrl" data-size="1061x1061">
            <img src="~/images/rings/gem-amethyst-light-lc.jpg" itemprop="thumbnail" alt="Light amethyst gemstone" />
        </a>
        <figcaption itemprop="caption description">20-carats light amethyst on copper base</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-amethyst-light-m-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-amethyst-light-m.jpg" itemprop="thumbnail" alt="Light amethyst gemstone" />
        </a>
        <figcaption itemprop="caption description">Light amethysts of various sizes</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-amethyst-dark-lc-full.jpg" itemprop="contentUrl" data-size="1061x1061">
            <img src="~/images/rings/gem-amethyst-dark-lc.jpg" itemprop="thumbnail" alt="Dark amethyst gemstone" />
        </a>
        <figcaption itemprop="caption description">20-carats dark amethyst on copper base</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-amethyst-dark-m-full.jpg" itemprop="contentUrl" data-size="970x970">
            <img src="~/images/rings/gem-amethyst-dark-m.jpg" itemprop="thumbnail" alt="Dark amethyst gemstone" />
        </a>
        <figcaption itemprop="caption description">Dark amethysts of various sizes</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-amethyst-medium-nat-full.jpg" itemprop="contentUrl" data-size="1028x1028">
            <img src="~/images/rings/gem-amethyst-medium-nat.jpg" itemprop="thumbnail" alt="Natural amethyst gemstone" />
        </a>
        <figcaption itemprop="caption description">Natural amethysts of various sizes</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-amethyst-raw-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-amethyst-raw.jpg" itemprop="thumbnail" alt="Raw amethyst" />
        </a>
        <figcaption itemprop="caption description">Raw amethyst</figcaption>
    </figure>
</div>

<p>
    <strong>Golden Topaz</strong>: LC (<s>$160</s> $118)<br />
    Compared to Yellow Topaz, it brings more divine will and faith. It helps transcend the ego to be of service.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-golden-topaz-lc-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-golden-topaz-lc.jpg" itemprop="thumbnail" alt="Golden topaz gemstone" />
        </a>
        <figcaption itemprop="caption description">20-carat golden topaz on copper base</figcaption>
    </figure>
</div>

<p>
    <strong>Red Garnet (light and dark)</strong>: LC (<s>$160</s> $118), M, S ($8/ct), Natural gem ($80/ct, 8-11ct)<br />
    Grounding stone. Energizes and balances the body. It helps take care of needs and close energy leaks.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-red-garnet-light-lc-full.jpg" itemprop="contentUrl" data-size="1050x1050">
            <img src="~/images/rings/gem-red-garnet-light-lc.jpg" itemprop="thumbnail" alt="Light garnet gemstone" />
        </a>
        <figcaption itemprop="caption description">20-carats light garnet on copper base</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-red-garnet-light-m-full.jpg" itemprop="contentUrl" data-size="868x868">
            <img src="~/images/rings/gem-red-garnet-light-m.jpg" itemprop="thumbnail" alt="Light garnet gemstone" />
        </a>
        <figcaption itemprop="caption description">Light garnets of various sizes</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-red-garnet-dark-lc-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-red-garnet-dark-lc.jpg" itemprop="thumbnail" alt="Dark garnet gemstone" />
        </a>
        <figcaption itemprop="caption description">20-carats dark garnet on copper base</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-red-garnet-dark-m-full.jpg" itemprop="contentUrl" data-size="852x852">
            <img src="~/images/rings/gem-red-garnet-dark-m.jpg" itemprop="thumbnail" alt="Dark garnet gemstone" />
        </a>
        <figcaption itemprop="caption description">Dark garnets of various sizes</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-red-garnet-nat-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-red-garnet-nat.jpg" itemprop="thumbnail" alt="Natural red garnet" />
        </a>
        <figcaption itemprop="caption description">Natural red garnet</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-red-garnet-raw-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-red-garnet-raw.jpg" itemprop="thumbnail" alt="Raw garnet" />
        </a>
        <figcaption itemprop="caption description">Raw garnet</figcaption>
    </figure>
</div>

<p>
    <strong>Peridot</strong>: M  ($12/ct)<br />
    Improves cellular regeneration and helps with anti-aging. Stabilizes the third eye and helps with sight.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-peridot-m-full.jpg" itemprop="contentUrl" data-size="857x857">
            <img src="~/images/rings/gem-peridot-m.jpg" itemprop="thumbnail" alt="Peridot gemstone" />
        </a>
        <figcaption itemprop="caption description">Peridots of various sizes</figcaption>
    </figure>
</div>

<p>
    <strong>Blue Topaz</strong>: L, S  ($15/ct)<br />
    Water stone. Brings truth and wisdom. Helps with flow, direction, guidance and communication.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-blue-topaz-m-full.jpg" itemprop="contentUrl" data-size="976x975">
            <img src="~/images/rings/gem-blue-topaz-m.jpg" itemprop="thumbnail" alt="Blue topaz gemstone" />
        </a>
        <figcaption itemprop="caption description">Blue topaz of various sizes</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-blue-topaz-s-full.jpg" itemprop="contentUrl" data-size="893x893">
            <img src="~/images/rings/gem-blue-topaz-s.jpg" itemprop="thumbnail" alt="Blue topaz small gemstone" />
        </a>
        <figcaption itemprop="caption description">Small 3.5 carats blue topaz</figcaption>
    </figure>
</div>

<p>
    <strong>Ruby</strong>: L, M  ($15/ct)<br />
    Protection stone. Great for removing implants, psychic attacks and demons, and also for attracting wealth.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-ruby-m-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-ruby-m.jpg" itemprop="thumbnail" alt="Ruby gemstone" />
        </a>
        <figcaption itemprop="caption description">Rubies of various sizes</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-ruby-raw-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-ruby-raw.jpg" itemprop="thumbnail" alt="Raw ruby" />
        </a>
        <figcaption itemprop="caption description">Raw ruby</figcaption>
    </figure>
</div>

<p>
    <strong>Emerald</strong>: L, M, S ($20/ct)<br />
    Helps with circulation and balance, both physically and energetically. It is a stone of unconditional love.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-emerald-m-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-emerald-m.jpg" itemprop="thumbnail" alt="Emerald gemstone" />
        </a>
        <figcaption itemprop="caption description">Emeralds of various sizes</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-emerald-raw-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-emerald-raw.jpg" itemprop="thumbnail" alt="Raw emerald" />
        </a>
        <figcaption itemprop="caption description">Raw emerald</figcaption>
    </figure>
</div>

<p>
    <strong>Pink Sapphire</strong>: M ($18/ct)<br />
    Promotes emotional intelligence, love and generosity. Increases female hormones, sensuality and fertility.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-pink-sapphire-m-full.jpg" itemprop="contentUrl" data-size="929x929">
            <img src="~/images/rings/gem-pink-sapphire-m.jpg" itemprop="thumbnail" alt="Pink sapphire gemstone" />
        </a>
        <figcaption itemprop="caption description">Pink sapphires of various sizes</figcaption>
    </figure>
</div>

<p>
    <strong>Green Sapphire (light and dark)</strong>: M, S ($18/ct)<br />
    Gorgeous Royal + Heart. Stabilizes the heart and emotions. Helps with memories and vision.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-green-sapphire-light-m-full.jpg" itemprop="contentUrl" data-size="792x792">
            <img src="~/images/rings/gem-green-sapphire-light-m.jpg" itemprop="thumbnail" alt="Greem sapphire gemstone" />
        </a>
        <figcaption itemprop="caption description">Light green sapphires of various sizes</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-green-sapphire-dark-m-full.jpg" itemprop="contentUrl" data-size="846x846">
            <img src="~/images/rings/gem-green-sapphire-dark-m.jpg" itemprop="thumbnail" alt="Greem sapphire gemstone" />
        </a>
        <figcaption itemprop="caption description">Dark green sapphires of various sizes</figcaption>
    </figure>
</div>

<p>
    <strong>Blue Sapphire</strong>: M, S ($24/ct)<br />
    Royal stone of wisdom. Stabilizes the crown chakra. Improves lucid dreaming and psychic abilities.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-blue-sapphire-m-full.jpg" itemprop="contentUrl" data-size="967x967">
            <img src="~/images/rings/gem-blue-sapphire-m.jpg" itemprop="thumbnail" alt="Blue sapphire gemstone" />
        </a>
        <figcaption itemprop="caption description">Blue sapphires of various sizes</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-blue-sapphire-raw-full.jpg" itemprop="contentUrl" data-size="967x967">
            <img src="~/images/rings/gem-blue-sapphire-raw.jpg" itemprop="thumbnail" alt="Raw sapphire" />
        </a>
        <figcaption itemprop="caption description">Raw blue sapphire</figcaption>
    </figure>
</div>

<p>
    <strong>Aquamarine</strong>: Natural gem ($200/ct)<br />
    Reduces stress and fear, leaving room for peace and tranquility. Promotes change, courage and consciousness.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-aquamarine-lc-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-aquamarine-lc.jpg" itemprop="thumbnail" alt="Aquamarine gemstone" />
        </a>
        <figcaption itemprop="caption description">20-carat aquamarine on copper base</figcaption>
    </figure>
</div>

<p>
    <strong>Diamond</strong>: M, S ($120/ct)<br />
    Strengthens focus, will and manifestation. Opens opportunities and facilitates actions.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-diamond-m-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-diamond-m.jpg" itemprop="thumbnail" alt="Aquamarine gemstone" />
        </a>
        <figcaption itemprop="caption description">Diamonds of various sizes</figcaption>
    </figure>
</div>
