@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Qu'est-ce que l'alchimie, Guérison alchimique";
    layout.Description = "Définition: Art de transmutation d'énergies et de transmutation de soi.";
    layout.Keywords = "alchimie, guérison alchimique, actualisation de soi, clairvoyance, guérison à distance, flamme bleue, flamme violette, reiki, sexualité et spiritualité, vivre dans le présent";
    layout.Language = "fr";
}
<div class='sitemap hoverlink'><span><span><a href="~/">Home</a></span><span> &gt; </span><span><a href="~/definitions/fr/">Définitions</a></span><span> &gt; </span><span><a class="dark" href="~/definitions/fr/alchimie">Alchimie</a></span></span></div>
<div class='language hoverlink'><a href='~/definitions/what-is-alchemy'>English</a> | <a href='~/definitions/fr/alchimie' class='dark'>Français</a> | <a href='~/definitions/es/que-es-alquimia'>Español</a></div><div style='clear:both'></div>

<h1>Qu'est-ce que l'alchimie?</h1>
<p class="blue">Définition: Art de transmutation d'énergies et de transmutation de soi.</p>
<p>L'art de l'Alchimie comprend:</p>
<ul>
    <li>La transmutation des énergies négatives en positives</li>
    <li>La clairvoyance, la guérison et la guérison à distance</li>
    <li>La transmutation de soi et l'actualisation de soi</li>
    <li>Atteindre l'illumination</li>
    <li>Garder une bonne santé et ralentir le vieillissement</li>
    <li>L'étude du fonctionnement des énergies</li>
    <li>L'étude de la nature du temps et de la création</li>
</ul>
<p>
    L'Alchimie est un sujet très vaste. Tout comme «l'architecture», elle comporte beaucoup de choses et
    peut être pratiquée de différentes façons. L'Alchimie est souvent considérée comme la transmutation
    des métaux en or, ce qui n'est que l'un des chemins très avancés de ce domaine. Il s'agît plus de la
    maîtrise de soi et de la maîtrise des énergies.
</p>
<img src="~/images/alchemy.jpg" align="right" style="margin-left: 20px" width="133" height="130"
     alt="Alchimie" />
<p class="blue">Les couches d'énergies</p>
<p>
    L'alchimie travaille avec différentes couches d'énergies. Les énergies physiques, émotionnelles et spirituelles
    font partie de votre champ énergétique. Les plans de la Création et de l'Absolu sont au-delà de votre
    champ énergétique. L'illumination consiste à un alignement parfait des corps physiques, émotionnels
    et spirituels. Au-delà de l'illumination, il est toujours possible de croître en puissance dans les
    plans énergétiques supérieurs. Vous pouvez accéder à l'Univers entier à partir de l'intérieur.
</p>
<p>
    <b>L'Énergie physique (noir brillant) :</b> L'énergie physique est le corps physique. Elle est associée
    à la couleur noir brillant. Ce n'est pas un noir mat. Pensez à la couleur du cosmos avec une profondeur
    et une énergie illimitées. L'énergie physique est associée aux 7 chakras principaux plus 5 chakras au-dessus
    de la tête (12 chakras principaux).
</p>
<p>
    <b>L'Énergie émotionnelle (blanc brillant) :</b> L'énergie émotionnelle est l'âme. Elle est associée
    à la couleur blanc brillant. L'énergie émotionnelle est associée aux chakras 13 à 24 au-dessus de la
    tête.
</p>
<p>
    <b>L'Énergie spirituelle (rouge brillant): </b>L'énergie spirituelle est l'esprit. Elle est associée
    à la couleur rouge brillant. L'énergie spirituelle est associée aux chakras 25 à 70 au-dessus de la
    tête.
</p>
<p>
    <b>Le Plan de la Création (doré) :</b> Le plan de la création est au-delà du champ énergétique. Ce plan
    amène de l'ordre au chaos dans ce monde de co-création. La visualisation et la loi de l'attraction ont
    un impact sur ce plan. Il est possible de se connecter à ce plan pour modifier le flux de co-création.
    Tout ce qui existe dans la réalité physique apparaît d'abord dans ce plan. Quand une nouvelle idée germe
    dans votre esprit, vous vous connectez à une énergie qui existe déjà dans le plan de la création. Il
    est associé à la couleur or.
</p>
<p>
    <b>Plan de l'Absolu (bleu pâle) :</b> Au-delà du plan de la création il y a l'immobilité: le plan de
    l'Absolu. C'est au-delà du temps et de l'espace. Dans ce plan, l'Univers est une information qui peut
    être lue et modifiée. À partir de ce plan, la vie physique est un hologramme de ces informations.
</p>
<p class="blue">Flammes de transmutation</p>
<p>
    L'Alchimie utilise des couleurs associées à des énergies de haute vibration. Lorsque vous visualisez
    la couleur, vous êtes connectés à l'énergie associée. Connecter un blocage émotionnel ou une peur à
    ces énergies de haute vibration peut dissoudre les énergies négatives et les transmuter en énergie lumineuse.
    Lorsque vous visualisez une flamme au lieu d'une couleur unie, celà multiplie l'effet en augmentant
    la fréquence. La puissance des flammes croît de façon exponentielle lorsque la connexion spirituelle
    augmente.
</p>
<img src="~/images/flame-teal.jpg" width="45" height="45" align="left" style="margin-right: 10px"
     alt="Flamme bleu pâle" />
<p>
    <b>Flamme bleu pâle :</b> c'est la flamme la plus puissante et la plus recommandée. Elle transmute les
    énergies négatives en positives, transmute le karma et procure une guérison générale.
</p>
<img src="~/images/flame-gold.jpg" width="45" height="45" align="left" style="margin-right: 10px"
     alt="Flamme dorée" />
<p>
    <b>Flamme dorée :</b> Elle transmute aussi les énergies négatives en positives. Elle est particulièrement
    efficace pour les problèmes reliés à la santé et pour la protection.
</p>
<img src="~/images/flame-red.jpg" width="45" height="45" align="left" alt="Flamme rouge brillant" />
<img src="~/images/flame-white.jpg" width="45" height="45" align="left" alt="Flamme blanc brillant" />
<img src="~/images/flame-black.jpg" width="45" height="45" align="left" alt="Flamme noir brillant"
     style="margin-right: 10px" />
<p>
    <b>Flammes rouge brillant, blanc brillant et noir brillant :</b> Elles peuvent parfois être utilisées
    à des fins diverses comme pour la guérison de déficiences génétiques. La flamme rouge brillant ne doit
    pas être utilisée dans le cerveau.
</p>
<img src="~/images/flame-violet.jpg" width="45" height="45" align="left" alt="Flamme violette"
     style="margin-right: 10px" />
<p>
    <b>Flamme violette :</b> Cette flamme est la plus connue mais elle a une fréquence et une efficacité
    plus faible que la flamme bleu pâle. Elle permet d'identifier quelque chose, de déterminer si c'est
    bon ou mauvais et de comprendre sa signification.
</p>
<img src="~/images/flame-orange.jpg" width="45" height="45" align="left" alt="Flamme orange brûlé"
     style="margin-right: 10px" />
<p>
    <b>Flamme orange brûlé :</b> Elle est utile pour se protéger contre les forces obscures et elle permet
    de les dissoudre.
</p>
<br />
<p>
    <b>Boule de cristal :</b> Vous pouvez visualiser lancer des boules de cristal sur des entités et des
    démons pour les désintégrer. Ça peut aussi détruire un cancer lorsque c'est fait avec précision. Elle
    ne doit pas être utilisée dans le cerveau. Ressentir la fréquence de la boule de cristal et la visualiser
    comme une flamme de cristal fonctionne aussi très bien.
</p>
<p>
    Suivez votre intuition pour savoir quelle flamme vous voulez utiliser et quand. En cas de doute, utilisez
    la flamme bleu pâle.
</p>
<p>
    Comparé à d'autres arts de guérison, l'Alchimie a un effet extrêmement puissant. C'est une énergie facile
    à intégrer et il n'y a pas d'effets secondaires. Une initiation de Reiki, par exemple, peut provoquer
    un mois de chaos émotionnel appelé période de purge. Lorsque fait correctement, l'Alchimie ne provoque
    pas de période de purge.
</p>
<p>
    Il est difficile d'écrire sur l'Alchimie à cause de sa complexité et de l'absence de bonne information
    sur Internet. Si on compare à d'autres arts comme le Reiki, le Reiki est comparable au collège alors
    que l'Alchimie est comme étudier à l'Université. Les quelques bonnes "universités" n'ont pas encore
    ouvert leurs bibliothèques sur Internet.
</p>
<p>
    Cet article explique la <a href="https://www.shamanicattraction.com/blog/violet-flame-meditation/">
        méditation
        des flammes violette, dorée et bleue pâle
    </a>.
</p>
<p>
    Le livre <a href="https://www.shamanicattraction.com/sexual-magnetism">Sexual Magnetism Blueprint</a>
    (se vendait $147, maintenant GRATUIT) explique certains aspects basiques de l'alchimie.
</p>
<p>&nbsp;</p>
<p class="blue hoverlink">
    <a href="./">Plus de définitions: </a>
    <br />
    <a href="alchimie" class="dark">Alchimie, </a><a href="https://www.shamanicattraction.com/definitions/fr/attirance-sexuelle">
        attirance sexuelle,
    </a><a href="https://www.shamanicattraction.com/definitions/fr/charisme">charisme, </a><a href="emotions">
        émotions,
    </a><a href="https://www.shamanicattraction.com/definitions/fr/magnetisme-animal">
        magnétisme animal,
    </a><a href="spiritualite">spiritualité</a>.
</p>