@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Que sont les émotions";
    layout.Description = "Définition: Énergies en motion causant une expérience psychophysiologique.";
    layout.Keywords = "";
    layout.Language = "fr";
}
<div class='sitemap hoverlink'><span><span><a href="~/">Home</a></span><span> &gt; </span><span><a href="~/definitions/fr/">Définitions</a></span><span> &gt; </span><span><a class="dark" href="~/definitions/fr/emotions">Émotions</a></span></span></div>
<div class='language hoverlink'><a href='~/definitions/what-are-emotions'>English</a> | <a href='~/definitions/fr/emotions' class='dark'>Français</a> | <a href='~/definitions/es/que-son-emociones'>Español</a></div><div style='clear:both'></div>

<h1>Que sont les émotions?</h1>
<p class="blue">Définition: Énergies en mouvement(motion) causant une expérience psychophysiologique.</p>
<p>
    Les émotions représentent un large éventail d'énergies définissant l'expérience humaine, y compris l'intuition
    féminine, les instincts masculins, l'inspiration et les peurs. Il y a plusieurs façons de classer la
    gamme complexe d'émotions. Une première façon serait de séparer les émotions positives des émotions
    négatives. Une autre façon serait de les classer par fréquences énergétiques et par chakras. Toute classification
    ne fournit qu'une approximation de la complexité et de la dynamique fluide des émotions. Le mental,
    le corps, l'âme et l'esprit sont tous inter-connectés.
</p>
<p class="blue">Les émotions et les pensées</p>
<p>
    Beaucoup de gens débattent afin de savoir si les émotions viennent des pensées ou si les pensées proviennent
    des émotions. Vos pensées modifient vos émotions et vos émotions modifient vos pensées, il ya donc un
    mécanisme de rétroaction entre les deux. Lorsque vous avez à choisir entre la glace au chocolat et celle
    à la vanille, une option vous fait vous sentir mieux. Votre préférence émotionelle apporte une pensée
    et une décision. Alors que si vous commencez par penser que la glace rendrait vos dents douloureuses,
    vous allez ressentir une douleur et une hésitation. Les émotions modifient les pensées et les pensées
    modifient les émotions.
</p>
<p class="blue">Les emotions positives et négatives</p>
<p>
    Il ya une nette différence entre les émotions positives et négatives. Les émotions positives incluent
    la joie, l'amour, l'inspiration et la liberté. Les émotions négatives incluent notamment la peur, la
    colère, la vengeance et le blâme. Les émotions positives sont un flux d'amour et d'énergie sexuelle
    qui circule dans votre corps et vous guide à travers la vie. Les émotions négatives sont les peurs qui
    bloquent ce flux d'énergie. Dans n'importe quelle situation, il y a généralement à la fois les les émotions
    positives et négatives mélangées. Vous pouvez ensuite séparer le flux d'énergie d'inspiration des peurs
    pour améliorer votre expérience. Par exemple, quand vous voulez quelque chose, une partie de cette chose
    constitue une source d'inspiration pour vivre mieux,et qui fait se sentir bien; une autre partie de
    cette chose est un sentiment de besoin qui est désagréable. En relachant le sentiment de besoin et en
    amplifiant l'inspiration, celà change complètement la façon dont vous vous sentez dans cette situation.
</p>
<p class="blue">Les principaux centres d'énergie (chakras)</p>
<p>
    L'énergie circule dans votre corps à travers 7 chakras principaux qui représentent chacun une fréquence
    différente d'émotions.
</p>
<p>1. Le Chakra de la Racine: la survie, les amis, la famille et l'enracinement dans les instincts humains.</p>
<p>2. Le Chakra Sexuel: le sexe, la créativité, l'argent et les relations.</p>
<p>
    3. le Plexus Solaire: le pouvoir personnel, la vitalité, l'estime de soi, l'intégrité et la polarité
    sexuelle.
</p>
<p>4. le Chakra du Coeur: l'amour de soi, l'amour inconditionnel et la compassion.</p>
<p>5. le Chakra de la gorge: l'expression de soi, la communication et le pouvoir de faire un choix.</p>
<p>
    6. le Troisième Oeil: le pouvoir du mental, les Lois de l'Attraction, l'intuition, la clairvoyance et
    la sagesse intuitive.
</p>
<p>
    7. le Chakra de la Couronne: la connection divine avec Dieu, la prise de conscience des Énergies Universelles,
    la conscience et le but de son existence.
</p>
<p class="blue">La connection émotionnelle </p>
<p>
    Les émotions et l'esprit subconscient de tous les êtres vivants sont interconnectés à travers le Champ
    Unifié. Vous observez cela lorsqu'une personne en face de vous commence à rire et à votre tour vous
    riez. Les émotions sont contagieuses. Cela peut aussi arriver à distance quand une personne dans un
    autre pays ressent de l'amour ou de la colère envers vous et celà affecte votre état ​​d'esprit. Souvent,
    quand on pense à un vieil ami, cette personne pense aussi à vous et vous contacte peu de temps après.
    Cela signifie que lorsqu'on interagit avec quelqu'un, il y a un niveau de communication émotionnelle
    directe.
</p>
<p>&nbsp;</p>
<p class="blue hoverlink">
    <a href="./">Plus de définitions: </a>
    <br />
    <a href="alchimie">Alchimie, </a><a href="https://www.shamanicattraction.com/definitions/fr/attirance-sexuelle">
        attirance
        sexuelle,
    </a><a href="https://www.shamanicattraction.com/definitions/fr/charisme">charisme, </a>
    <a href="emotions" class="dark">émotions,</a><a href="https://www.shamanicattraction.com/definitions/fr/magnetisme-animal">
        magnétisme animal,
    </a><a href="spiritualite">spiritualité</a>.
</p>
