@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Qu'est-ce que la spiritualité, Science de la spiritualité";
    layout.Description = "Définition: Science des systèmes énergétiques et émotionels.";
    layout.Keywords = "";
    layout.Language = "fr";
}
<div class='sitemap hoverlink'><span><span><a href="~/">Home</a></span><span> &gt; </span><span><a href="~/definitions/fr/">Définitions</a></span><span> &gt; </span><span><a class="dark" href="~/definitions/fr/spiritualite">Spiritualité</a></span></span></div>
<div class='language hoverlink'><a href='~/definitions/what-is-spirituality'>English</a> | <a href='~/definitions/fr/spiritualite' class='dark'>Français</a> | <a href='~/definitions/es/que-es-espiritualidad'>Español</a></div><div style='clear:both'></div>

<h1>Qu'est-ce que la spiritualité?</h1>
<p class="blue">Définition: Science de vos systèmes énergétiques et émotionels.</p>
<p>
    La Spiritualité consiste à se connecter à votre propre esprit et de comprendre comment les énergies travaillent
    à l'intérieur et autour de vous. La science se base sur ​​la rationalité et sur ce qui peut être mesuré.
    La religion est une vision institutionnalisée de la spiritualité où Dieu est souvent considéré comme
    une entité externe. La spiritualité est ​​la compréhension de Dieu comme faisant partie de vous-même,
    sans gourous, sans rituels et sans jugements. La religion est une expérience culturelle de groupe alors
    que la spiritualité est une expérience individuelle.
</p>
<p>
    Alors que vous pouvez travailler avec la spiritualité, sur une base purement instinctive, vous pouvez
    également apporter la rationalité dans le mélange afin d'étudier la dynamique des énergies. Les scientifiques
    sont très proches de combler le fossé entre la spiritualité et la science. La science est la perception
    de la «vérité absolue» qui change tous les 10 ans. Le problème est que la plupart des gens ne l'apprennent
    qu'une seule fois; ce qui a amené Max Planck , le père de la physique quantique, à dire: «Une nouvelle
    vérité scientifique ne triomphe pas en convainquant ses adversaires et en leur faisant voir la lumière,
    mais plutôt parce que ses opposants finissent par mourir, et c'est une nouvelle génération qui est familier
    avec elle qui grandit. "
</p>
<p>
    La spiritualité peut se référer à une ultime réalité immatérielle, une voie intérieure permettant à une
    personne de découvrir l'essence de son être. Les pratiques spirituelles comme la méditation sont destinées
    à développer la vie intérieure de l'individu. De telles pratiques conduisent souvent à une expérience
    de connectivité à une réalité plus vaste, avec d'autres individus, la communauté, la nature, le cosmos
    ou avec le royaume divin. La spiritualité est souvent vécu comme une source d'inspiration ou d'orientation
    dans la vie. Elle peut englober la croyance dans les réalités immatérielles ou des expériences de la
    nature immanente ou transcendante du monde.
</p>
<p class="blue">Sept fausses idées de la spiritualité </p>
<p><b>Fausse conception 1: Craignez Dieu !</b></p>
<p>
    L'église et les catholiques, entre autres, enseignent à leurs disciples à la crainte de Dieu et que vous
    devez être bon pour ne pas être puni. C'est en effet ce qui est écrit dans la traduction *anglaise*
    de la Bible, mais pas dans sa langue originale. Ils ont utilisé le mot «peur» car il n'y a pas de mot
    dans la langue anglaise pour décrire le concept original. La langue d'origine voulait vraiment dire
    que vous devriez vénérer Dieu, dans le sens que chaque cellule de votre corps vibre, non par crainte,
    mais par amour et passion. Changer le mot «peur» à «vénère», et le sens de la Bible change complètement!
</p>
<p><b>Fausse conception 2: La religion est la spiritualité </b></p>
<p>
    Tout d'abord, la religion est une expérience de groupe dont l'objectif principal est de protéger le groupe,
    principalement de menaces physiques telles que la maladie, la pauvreté, la mort, les crises sociales,
    et même la guerre. La religion est ancrée dans les énergies du premier chakra. En revanche, la spiritualité
    est une expérience individuelle orientée vers la libération des peurs du monde physique et vers l'établissement
    d'une relation avec le divin.
</p>
<p><b>Fausse conception 3: Méditez pour la conscience </b></p>
<p>
    La plupart des gens qui méditent essaient de prendre conscience d'eux-mêmes afin de réveiller leur conscience
    des énergies. Par exemple, en Thaïlande, les moines qui méditent dans les temples pour être connecté
    aux énergies universelles ne sont pas aussi sains parce qu'il y a un autre aspect important de la connexion:
    celle fondée sur le monde physique et sur nos instincts. Idéalement, nous voulons avoir la base de notre
    colonne vertébrale solidement ancrée à l'énergie de la Terre et le haut de notre couronne ancrée dans
    l'énergie universelle, avec les 2 énergies circulant dans nos corps. Les deux ancrages ​​sont d'égale
    importance: à la terre et au ciel.
</p>
<p><b>Fausse conception 4: Soyez conscient de vous</b></p>
<p>
    Nous essayons de prendre conscience de nous-mêmes pour surmonter nos limites, mais beaucoup d'entre nous
    soit essayent de contrôler nos émotions ou devenir calme et passif. Cela est particulièrement problématique
    pour les femmes, car il est dans leur nature à répondre à leur environnement et à ondoyer comme de l'eau.
    Il est important d'être conscient de nos peurs et de nos limites, et il est également important de se
    laisser aller à nos instincts et notre nature. Nous n'avons même pas besoin de conscience pour se rendre
    à notre essence! Cependant, beaucoup de nos comportements sont enracinés dans des peurs et ont besoin
    d'être désappris.
</p>
<p><b>Fausse conception 5: l'égalité sexuelle </b></p>
<p>
    Les féministes voulaient égalité sexuelle et nous avons eu l'uniformité. A première vue, l'idée d'équilibrer
    le yin et le yang (énergie féminine / masculine) peut sembler appuyer ce concept. Cependant, la vérité
    est que l'uniformité est la répression à la fois de la masculinité et de la féminité, et nous nous retrouvons
    dans une zone grise entre les deux. Le Yin et le Yang se référerent à la polarité et le contraste sexuel:
    avoir une forte présence masculine comme James Bond ou avoir une forte présence féminine présence comme
    les femmes thaïlandaises. L'Équilibre Yin-Yang signifie avoir une forte présence polarisée, sans le
    sens de manque puisque nous ne pouvons obtenir l'énergie de l'autre sexe à l'intérieur de nous-mêmes.
</p>
<p><b>Fausse conception 6: Dieu est votre Père </b></p>
<p>
    Beaucoup de gens parlent de s'abandonner à la volonté de Dieu, qui leur apporte prospérité et la paix
    de l'esprit. Bien que vous pouvez voir Dieu comme votre père et suivre Sa Volonté, vous faites partie
    de Dieu! Nous sommes tous des dieux, et nous pouvons prendre la responsabilité de ce que nous créons
    dans nos propres vies et dans la vie des autres. Si vous vous unissez à Dieu, votre "père" ne créera
    jamais quelque chose qui irait contre votre volonté, et vous ne créerez jamais quelque chose qui irait
    contre la volonté de votre "père". Celà vous inspirera autant que vous l'influencez.
</p>
<p><b>Fausse conception 7: Le Bien contre Le Mal </b></p>
<p>
    Le Bien et le Mal sont simplement des jugements. En fait, les choses que vous faites avec de bonnes intentions
    peuvent avoir des conséquences néfastes, et les choses que vous faites avec de mauvaises intentions
    peut avoir des bonnes conséquences. Par exemple, certains parents surprotègent leurs enfants pour leur
    bien, mais comme conséquence, ces enfants deviennent réservés et incapable de prendre la responsabilité
    pour leur propre vie. Ou un gars peut frapper un autre gars, le blessant gravement, et que cette blessure
    peut l'amener à changer d'attitude et à améliorer sa vie. Le Bien et le Mal sont des mensonges: il s'agit
    uniquement d'agir par amour et d'agir par peur. Dans les exemples ci-dessus, les parents ont surprotégé
    par peur, et le gars peut avoir été frappé par l'autre par amour de l'intégrité.
</p>
<p>&nbsp;</p>
<p class="blue hoverlink">
    <a href="./">Plus de définitions: </a>
    <br />
    <a href="alchimie">Alchimie, </a><a href="https://www.shamanicattraction.com/definitions/fr/attirance-sexuelle">
        attirance
        sexuelle,
    </a><a href="https://www.shamanicattraction.com/definitions/fr/charisme">charisme, </a><a href="emotions">
        émotions,
    </a><a href="https://www.shamanicattraction.com/definitions/fr/magnetisme-animal">magnétisme animal, </a>
    <a href="spiritualite" class="dark">spiritualité</a>.
</p>
