<footer class="footer-warp">
    <div class="container">
        <div class="row">
            <div class="col-md-2 mar-top-20">
                <a asp-page="index">
                    <img src="~/images/satrimono-logo-footer.png" class="img-responsive footer-logo" alt="satrimono">
                </a>
            </div>
            <div class="col-md-9 mar-top-20">
                <ul class="footer-links">
                    <li><a asp-page="index">Home</a></li>
                    <li><a asp-page="mission">Our Mission</a></li>
                    <li><a asp-page="books">Books</a></li>
                    <li><a asp-page="bulk-order">Bulk Order</a></li>
                    <li><a asp-page="book-accuracy-list">Book Accuracy List</a></li>
                    <li><a asp-page="terms">Terms</a></li>
                    <li><a asp-page="privacy">Privacy</a></li>
                    <li><a asp-page="sitemap">Site Map</a></li>
                    <li><a asp-page="contact">Contact Us</a></li>
                </ul>
            </div>

            @*<div class="col-md-4 mar-top-20">
                <div class="text-center  mar-top-15">
                    <a href="https://spiritualself.leadpages.co/leadbox/145c99673f72a2%3A157ffbd5eb46dc/5655608640405504/" target="_blank" class="red-btn trs">Sign up to receive free updates</a>
                </div>
            </div>*@
        </div>

        <div class="text-center">
            <p class="font-12">2016-@DateTime.UtcNow.Year © Satrimono Publishing, All Rights Reserved</p>
        </div>
    </div>
</footer>