@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Etienne Charland · Psychic Bodyguard · Starseed Initiator · Heaven Visioneer";
    layout.Description = "Etienne Charland is the founder of Emergence Guardian&trade;, an online academy to train spiritual leaders and starseeds to fulfill the purpose they came here for.";
    layout.Keywords = "starseed, spiritual life coach, self transformation, soul purpose, what is alchemy, etienne charland";
    layout.FacebookImage = "~/images/img_etienne_bio.jpg";
}
@section Sidebar {
    <partial name="_boxsubscribe" />
}
<div class="productRow">
    <h2>Etienne Charland, the Emergence Guardian<br />Psychic Bodyguard · Starseed Initiator · Heaven Visioneer</h2>
    <img src="~/images/img_etienne_bio.jpg" alt="Emergence Guardian" width="212" height="309" align="right"
         style="padding: 8px 0 0 20px;" />
    <p class="blue">Etienne Charland is the founder of Emergence Guardian™, an online academy to train spiritual leaders and starseeds to fulfill their purpose on Earth.</p>
    <p>Etienne has dedicated his life to guiding those on a spiritual path to fulfill their life purpose, while enjoying a richer, happier, and more fulfilling life. The path to awakening is a journey of rememberance. Etienne has developed the ability to clear much of the negativity and blockages preventing you from knowing your true potential. Over 70 million enlightened beings and starseeds are currently incarnate on Earth. However, they have lost their memories to integrate in our society and greatly struggle to connect with their purpose.</p>
    <p>Etienne has worked with many teachers, healers, and mentors who indirectly led him to recover the memories of his past incarnations, and discover why he came to Earth. In the astral planes, he is knows as the Commander of Heaven and Earth by the Archangels and Immortals. Previously, Etienne Charland was also known as Osiris, Hanuman, The Monkey King, Su Wukong, Lu Dongbin, Shiva, Shakti, Durga, Kali and Vishnu among other temporal identities.</p>
    <p>Once you understand that the soul moves from one incarnation to the next, you realize that a soul may have thousands or even millions of years of incarnations in various worlds. What Etienne is doing now, he has been working on it for thousands of years. He had to remember what he had been doing all along to continue his mission. Etienne can also help you remember and connect with your mission.</p>
    <p>Etienne is neither a coach nor a guru. He is a Commander, a Guardian and an Architect. He will stand with you &mdash; and sometimes in front of you &mdash; when darkness tests you. His psychic powers today are greater than they have ever been. Etienne is not afraid to battle the most powerful demons in the Universe. He will do what must be done to free the innocent, and to cleanse this planet from the grip of corrupt forces. As his powers grow and awaken, so will yours.</p>
    <p>You are not in this alone. Etienne is committed to elevating YOU to be the best version of yourself. The energetic reality shapes the physical reality. As such, Etienne recognizes the importance for &quot;boots on the ground&quot;, taking physical actions to ground Heaven on Earth as we emerge into a new era.</p>
    <p>Etienne currently travels the globe learning from Masters, protecting and healing the planet, and teaching others to do the same. He is a celebrated author and channels the Word of Metatron, Senior of the Archangels. Through <a href="https://satrimono.com">Satrimono Publishing</a>, he is bringing ancient knowledge that has been lost through the ages, as well as advanced knowledge from other worlds. Prior to and during his gradual awakening starting from age 22, Etienne worked as a programmer in various companies in Finland, Spain, France and Montreal, designing computer systems for 14 years. He also learned piano for 12 years during his youth. He is now taking great interest in martial arts to recover more of his physical powers.</p>
    <p>Etienne's full story is beautifully described in his book <a href="http://amzn.to/2k2oIl7" target="_blank">The History of the Universe, and the Psychic War of End Times</a>. His book is protected by a powerful energetic grid that will bounce off any demon or psychic attack.</p>
</div>
