@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Gemstones & Alchemy Rings";
    layout.FacebookTitle = "Gemstones & Alchemy Rings";
    layout.FacebookImage = Url.Content("~/images/rings/ring-women-fb.jpg");
    layout.SidebarVisible = false;
    layout.Description = "You can now get quality gemstones on hand-crafted rings, at very affordable prices. They serve as energetic stabilizers, amplify your healing powers, and help anchor the cosmic energies into the physical plane.";
    layout.Keywords = "alchemy ring, alchemy, what is alchemy, energy healing, spiritual freedom, spiritual transformation, gemstones, gems, lab-created, inner power, healing crystals";
    layout.UsePhotoSwipe = true;
    layout.UseValidationScripts = true;
}
<h1>Gemstones &amp; Alchemy Rings</h1>
<p class="blue">
    Craft your perfect ring to strenghten and stabilize your energy.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="largethumb">
        <a href="~/images/rings/ring-women-3b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-done-1.jpg" itemprop="thumbnail" alt="Amethyst alchemy ring" />
        </a>
        <figcaption itemprop="caption description">Amethyst alchemy ring for women</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="largethumb">
        <a href="~/images/rings/ring-women-2b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-women-2b.jpg" itemprop="thumbnail" alt="Ruby on 22K Gold Royal Style" />
        </a>
        <figcaption itemprop="caption description">Ruby on 22K Gold Royal Style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="largethumb">
        <a href="~/images/rings/ring-done-4-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-done-4.jpg" itemprop="thumbnail" alt="Gold-plated aquamarine" />
        </a>
        <figcaption itemprop="caption description">Gold-plated aquamarine</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="largethumb">
        <a href="~/images/rings/ring-men-4a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-4a.jpg" itemprop="thumbnail" alt="Amethyst alchemy ring" />
        </a>
        <figcaption itemprop="caption description">Emerald alchemy ring for women</figcaption>
    </figure>
</div>
<h2>Special Offer! All large 20ct gems on copper base 20% OFF!</h2>

<p>You can now get quality gemstones on hand-crafted rings, at very affordable prices. They serve as energetic stabilizers, amplify your healing powers, and help anchor the cosmic energies into the physical plane.</p>
<p>All the gemstones (including the ring metals) are attuned into very high frequencies, using the <a asp-page="crystal-attunement">Crystal Attunement service</a>, which will strengthen you from within and make you more radiant than ever.</p>
<p class="blue">What are the benefits of wearing an Alchemy Ring?</p>
<ul>
    <li><strong>It will raise your frequency</strong>, since the rings are attuned into very high heaven energies.</li>
    <li><strong>You will have more inner strength and vitality.</strong></li>
    <li><strong>It will protect you</strong> by offloading energetic pressure and attacks onto the rings.</li>
    <li><strong>It will help heal specific areas of your life</strong>, since each crystal or gemstone has specific healing properties, amplified by the attunement.</li>
    <li><strong>You will look gorgeous :)</strong></li>
</ul>

<p class="blue">What to look for when buying a ring with a gemstone?</p>
<p>In terms of energetic properties, there are 3 main factors to look for in a crystal: <strong>size, purity, and number of facets.</strong> Large clear gemstones are thus perfect for this. The gemstone type is also important, but the style and design aren't. From an energetic perspective, you don't need museum-grade crystals.</p>
<p><strong>Natural gems or lab-created gems?</strong> Most of the gemstones we offer are lab-created unless stated otherwise. The main critic towards lab-created gems is that they are too "pure", but from an energetic perspective, this can in fact make them stronger. Lab-created gems will also normally feel "dead", but once attuned, they can be 8 to 15% more effective than natural gems. Normally, natural gems have more Qi than lab-created ones for growing within the earth, but once attuned, natural gems have little energetic benefits over lab-created ones. Hand-crafted jewelry, however, does have a different feeling to it than machine-made jewelry.</p>
<p>There are lots of fake gemstones on the market. We make sure rubies energetically behave like rubies. Furthermore, some lab-created gems carry bad energies or are just dead. We hand-select each gem one by one to ensure they behave as expected.</p>
<p><strong>It is very important for the stone to touch the skin!!</strong> If you look for cheap rings on Amazon or Etsy, you will notice that they are designed to look good from the outside, but none will touch your skin.</p>

<p class="blue">Birthstones</p>
<p>Many people are looking to wear their birthstones. Without going into the details, most say it just works great for them. As a reference, here are the birthstones for each month. Those we have available are in bold.</p>
<ul>
    <li><strong>January: Garnet</strong></li>
    <li><strong>February: Amethyst</strong></li>
    <li><strong>March: Aquamarine</strong> and Bloodstone</li>
    <li><strong>April: Clear Quartz</strong> and Diamond</li>
    <li><strong>May: Emerald</strong> and Chrysoprase</li>
    <li>June: Pearl, Alexandrite and Moonstone</li>
    <li><strong>July: Ruby</strong> and Carnelian</li>
    <li><strong>August: Peridot</strong>, Spinel and Sardonyx</li>
    <li><strong>September: Sapphire</strong> and Lapis Lazuli</li>
    <li>October: Opal and Tourmaline</li>
    <li><strong>November: Yellow Topaz</strong> and Citrine</li>
    <li><strong>December: Blue Topaz</strong>, Tanzanite, Turquoise and Zircon</li>
</ul>
<p class="blue">Which gemstone should I wear on which finger?</p>
<p>Some gemstones work better on some fingers than others. It's important to pay attention to where you place them.</p>
<p>Although you can find information online or in books about which stone goes on which finger, or calculate your astrology chart, the way I look at it is simple.</p>
<p class="bold">Fingers from small to thumb represent: Communication, Support, Spine, Action, and Grounding. Your dominant hand is the outgoing energy, and the other hand is the incoming energy.</p>
<p>Thus, placing a small gold ring on the small finger of your secondary hand is really great to help with incoming communication and to receive more support and resources. Placing a black onix on your middle finger (spine), however, is way too strong and will just create brutal energetic clashes. Spine (middle finger) requires softening (Blue Topaz or Aquamarine) on the receiving side, and integration (Amethyst) on the outgoing side.</p>
<p>However, everybody's needs are different. The best is to use muscle-testing. First, test each stone to know which type you need, or you can measure "what % you need this stone". Then, muscle-test on which finger you should wear it.</p>
<p>To know more about all the stones and their effects and properties, a very good book is <a href="https://amzn.to/2qOFk5z" target="_blank">The Book of Stones</a>.</p>
<p>To measure your ring size at home, <a href="https://www.primestyle.com/education_diamond_ring_size.html" target="_blank">this page has excellent instructions.</a> Note: we use inside circumference unit as it is more precise than US size.</p>

<p class="bold">Alchemy Ring</p>
<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="largethumb">
        <a href="~/images/rings/ring-done-3-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-done-3.jpg" itemprop="thumbnail" alt="Master Alchemist ring" />
        </a>
        <figcaption itemprop="caption description">18g Master Alchemist 22k gold ring with 24ct ruby</figcaption>
    </figure>
    <p>If you are a student of Royal Alchemy with us, wearing an Alchemy ring on the 4th finger of your dominant hand will greatly help to amplify your healing power. For an Apprentice Alchemist ring, any gemstone will do, although red is preferable (red ruby, red garnet).
    <p>For a Master Alchemist ring, we can craft a red stone (ruby) on a solid gold base as shown on the left, and do some extra special attunement. <strong>Only available for clients working 1-on-1 with Etienne Charland.</strong></p>
</div>

<p>For a wedding ring, keep in mind that a diamond, although it helps with clarity and focus, can also cause stubbornness. That's one reason why a lot of relationships die after the wife starts wearing a diamond. If you have this issue, try taking it out for a month and see what happens. Doing a <a href="~/crystal-attunement">Crystal Attunement</a> on the diamond can also neutralize its negative effects. Replace/complement the diamond with a pink sapphire and see what happens!</p>
<div class="clear"></div>
<div style="float:left; padding-right:80px">
    <a asp-page="alchemy-rings-custom-men" style="text-decoration:none">
        <p class="h2">Buy Custom Rings for Msen</p>
        <img src="~/images/rings/ring-men-2a.jpg" width="250" height="250" />
    </a>
</div>
<div style="float:left;">
    <a asp-page="alchemy-rings-custom-women" style="text-decoration:none">
        <p class="h2">Buy Custom Rings for Women</p>
        <img src="~/images/rings/ring-women-3b.jpg" width="250" height="250" />
    </a>
</div>
<div style="float:left; padding-right:80px">
    <a asp-page="alchemy-earrings" style="text-decoration:none">
        <p class="h2">Buy Earrings</p>
        <img src="~/images/rings/earring-2b.jpg" width="250" height="250" />
    </a>
</div>
@*<div style="float:left;">
    <a asp-page="alchemy-necklaces" style="text-decoration:none">
        <p class="h2">Buy Necklaces</p>
        <img src="~/images/rings/ring-women-3b.jpg" width="250" height="250" />
    </a>
</div>*@
<div class="clear" />
