@page
@model HanumanInstitute.SpiritualSelfTransformation.Pages.AlchemyRingsModel
@{
    var layout = ViewData.Layout();
    layout.Title = "Buy Handmade Silver/Gold Earrings";
    layout.FacebookTitle = "Buy Handmade Silver/Gold Earrings";
    layout.FacebookImage = Url.Content("~/images/rings/earring-fb.jpg");
    layout.SidebarVisible = false;
    layout.Description = "Do you want to stabilize your mind? Custom handmade earrings with attuned gems can look gorgeous, with a discrete base in silver or gold.";
    layout.Keywords = "alchemy rings, custom ring for women, feminine ring, masculinity vs femininity, emotional power, lifestyle design, ring design, truth, love, gemstones, gems, ruby, emerald, pink sapphire, lab-created";
    layout.UsePhotoSwipe = true;
    layout.UseValidationScripts = true;
}
<p><a asp-page="alchemy-rings">Make sure you have first read the general information about Gemstones &amp; Alchemy Rings</a></p>
<h1>Buy Handmade Silver/Gold Earrings</h1>
<p class="blue">Do you want to stabilize your mind?</p>
<p>How about placing a highly-attuned gemstone right on the sensitive spot below the ears. It is a very important spot that will help stabilize your mind with the right gem.</p>
<p>All gemstones are attuned into very high energetic frequencies. Gemstones are lab-created unless stated otherwise. Some natural stones are also available. All earrings are hand-crafted.</p>
<p class="bold">Craft your own custom earring in a few simple steps:</p>
<ol>
    <li><a href="#gemstone">Choose your gemstone</a></li>
    <li><a href="#design">Choose your earring design</a></li>
    <li><a href="#metal">Choose your earring metal</a></li>
    <li><a href="#contact">Contact us to finalize the details</a></li>
</ol>

<p>&nbsp;</p>
<p class="blue"><a name="gemstone">1. Choose Your Gemstone</a></p>
<p class="bold">All stones are 8mm x 6mm unless stated otherwise.</p>
<p>Descriptions are based on my own perceptions and use. Click on images to enlarge.</p>

<p>
    <strong>Amethyst</strong>: 2ct pair for $24<br />
    Great for integrating energies, especially during energetic shifts. During ascension, everybody should have one.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-amethyst-light-m-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-amethyst-light-m.jpg" itemprop="thumbnail" alt="Light amethyst gemstone" />
        </a>
        <figcaption itemprop="caption description">Light amethysts of various sizes</figcaption>
    </figure>
</div>

<p>
    <strong>Peridot</strong>: 2ct pair for $48<br />
    Improves cellular regeneration and helps with anti-aging. Stabilizes the third eye and helps with sight.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-peridot-m-full.jpg" itemprop="contentUrl" data-size="857x857">
            <img src="~/images/rings/gem-peridot-m.jpg" itemprop="thumbnail" alt="Peridot gemstone" />
        </a>
        <figcaption itemprop="caption description">Peridots of various sizes</figcaption>
    </figure>
</div>

<p>
    <strong>Ruby</strong>: 1.5ct pair for $48<br />
    Protection stone. Great for removing implants, psychic attacks and demons, and also for attracting wealth.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-ruby-m-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-ruby-m.jpg" itemprop="thumbnail" alt="Ruby gemstone" />
        </a>
        <figcaption itemprop="caption description">Rubies of various sizes</figcaption>
    </figure>
</div>

<p>
    <strong>Blue Topaz</strong>: 1.5ct pair for $65<br />
    Water stone. Brings truth and wisdom. Helps with flow, direction, guidance and communication.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-blue-topaz-s-full.jpg" itemprop="contentUrl" data-size="893x893">
            <img src="~/images/rings/gem-blue-topaz-s.jpg" itemprop="thumbnail" alt="Blue topaz small gemstone" />
        </a>
        <figcaption itemprop="caption description">Small 3.5 carats blue topaz</figcaption>
    </figure>
</div>

<p>
    <strong>Green Sapphire</strong>: 2ct pair for $72<br />
    Gorgeous Royal + Heart. Stabilizes the heart and emotions. Helps with memories and vision.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-green-sapphire-light-m-full.jpg" itemprop="contentUrl" data-size="792x792">
            <img src="~/images/rings/gem-green-sapphire-light-m.jpg" itemprop="thumbnail" alt="Greem sapphire gemstone" />
        </a>
        <figcaption itemprop="caption description">Light green sapphires of various sizes</figcaption>
    </figure>
</div>

<p>
    <strong>Emerald</strong>: 2ct pair for $80<br />
    Helps with circulation and balance, both physically and energetically. It is a stone of unconditional love.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-emerald-m-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/gem-emerald-m.jpg" itemprop="thumbnail" alt="Emerald gemstone" />
        </a>
        <figcaption itemprop="caption description">Emeralds of various sizes</figcaption>
    </figure>
</div>

<p>
    <strong>Natural Blue Sapphire (round, untreated)</strong>: 0.5-1ct, ask for price<br />
    Royal stone of wisdom. Stabilizes the crown chakra. Improves lucid dreaming and psychic abilities.
</p>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="~/images/rings/gem-blue-sapphire-m-full.jpg" itemprop="contentUrl" data-size="967x967">
            <img src="~/images/rings/gem-blue-sapphire-m.jpg" itemprop="thumbnail" alt="Blue sapphire gemstone" />
        </a>
        <figcaption itemprop="caption description">Blue sapphires of various sizes</figcaption>
    </figure>
</div>



<p>&nbsp;</p>
<p class="blue"><a name="design">2. Choose Your Earring Design</a></p>

<div class="my-gallery largethumb" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="largethumb">
        <p class="bold">1. Classic Style</p>
        <a href="~/images/rings/earring-1a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/earring-1a.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for women, Classic style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">&nbsp;</p>
        <a href="~/images/rings/earring-1b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/earring-1b.jpg" itemprop="thumbnail" alt="Royal ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for women, Royal style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">2. Royal Style</p>
        <a href="~/images/rings/earring-2a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/earring-2a.jpg" itemprop="thumbnail" alt="Royal ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for women, Royal style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">&nbsp;</p>
        <a href="~/images/rings/earring-2b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/earring-2b.jpg" itemprop="thumbnail" alt="Royal ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for women, Royal style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">3. Fairy Style</p>
        <a href="~/images/rings/earring-3a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/earring-3a.jpg" itemprop="thumbnail" alt="Fairy ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for women, Fairy style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">&nbsp;</p>
        <a href="~/images/rings/earring-3b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/earring-3b.jpg" itemprop="thumbnail" alt="Fairy ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for women, Fairy style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">4. Venus Style</p>
        <a href="~/images/rings/earring-4a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/earring-4a.jpg" itemprop="thumbnail" alt="Venus ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for women, Venus style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">&nbsp;</p>
        <a href="~/images/rings/earring-4b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/earring-4b.jpg" itemprop="thumbnail" alt="Venus ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for women, Venus style</figcaption>
    </figure>
</div>

<p class="bold">Custom designs available!</p>
<p>For 15% extra cost, submit your picture with your own design. You can shop the best designer brands and replicate your favorite design at much lower cost.</p>

<p>&nbsp;</p>
<p class="blue"><a name="metal">3. Choose Your Ring Metal</a></p>
<p>Custom earrings hand-crafting prices</p>
<ul>
    <li><strong>Silver 92.5: $95</strong></li>
    <li><strong>Gold 18k*: $120 + $85/g</strong></li>
    <li><strong>Gold 22k: $120 + $100/g</strong></li>
    <li><strong>White Gold 18k: $120 + $110/g</strong></li>
</ul>
<p>Gold rings will be placed on a scale and charged per gram once crafted.</p>
<p>*: 18k gold will be 22k Thai gold diluted to 75% gold. The quality will not be the same as Western's 18k manufacturing process. It just means that, in 100 years, the 18k-carat ring may not be as shiny as Western 18-carat or Thai 22-carat rings. If you care about such details.</p>
<p class="bold">Energetic properties of metals</p>
<p><strong>Gold</strong> helps with protection and abundance. There's a reason the financial system was based on gold.</p>
<p><strong>Silver</strong> helps with cleansing and purifying. The Chinese use pure silver rings for detox therapies.</p>

<p>&nbsp;</p>
<p class="blue">BONUS: Daoist Herbal Alchemy Oil for Crown Chakra</p>
<img src="~/images/rings/alchemy-oil-crown.jpg" width="131" height="250" style="float:left; padding-right:12px" />
<p>Orders above $300 will receive a free bottle of Daoist Herbal Alchemy oil to open the crown chakra (once per client). This is not essential oils. This is an ancient Daoist herbal formula prepared by a master of Chinese herbal medicine. It is very potent.</p>
<p>Place 2 drops on your crown chakra, or 2 drops in your palms and breathe it in.</p>
<p><strong>We can send you additional bottles for $50 each.</strong> Only available while shipping rings and gemstones. There are bottles for each of the 7 main chakras. Let us know if you want bottles for any other chakras.</p>
<p>The energetic vibration of the bottle is 1315 on the Hawkins Scale, with some ingredients peaking up to 13600. <a href="https://youtu.be/yDGdOu7GvcU" target="_blank">Here is a video of how to use it.</a></p>
<div class="clear"></div>

<p>&nbsp;</p>
<p class="blue"><a name="contact">5. Contact Us to Finalize the Details</a></p>
<p class="bold">Total cost is $40 + Gemstone + Crafting for each ring, plus $70 Shipping for DHL.</p>
<p>To place an order, send us a message with the gemstones and designs you want.</p>
<p>We will let you know of available gemstones and discuss the details.</p>
<form method="post" class="form">
    <input type="hidden" asp-for="Input.Page" value="Women" />
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="20%">
                <label asp-for="Input.Name" class="required"></label>
            </td>
            <td width="80%">
                <input asp-for="Input.Name" class="input large" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Input.Email" class="required"></label><br />
                <br />
            </td>
            <td>
                <input asp-for="Input.Email" class="input large" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Input.Message" class="required"></label>
            </td>
            <td>
                <textarea asp-for="Input.Message" class="form-control" style="width:400px; height:150px;"></textarea><br />
                <span asp-validation-for="Input.Message" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                Two plus two equals... (in letters): *
            </td>
            <td>
                <input asp-for="Input.Challenge" class="input large" />
                <span asp-validation-for="Input.Challenge" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <br />
                <input type="submit" value="SEND" class="submitbox" />
            </td>
        </tr>
    </table>
</form>
