@page
@model HanumanInstitute.SpiritualSelfTransformation.Pages.AlchemyRingsModel
@{
    var layout = ViewData.Layout();
    layout.Title = "Buy Custom Rings for Men";
    layout.FacebookTitle = "Craft Custom Rings for Men";
    layout.FacebookImage = Url.Content("~/images/rings/ring-men-fb.jpg");
    layout.SidebarVisible = false;
    layout.Description = "Ever wanted to wear an Infinity Stone? Custom hand-crafted ruby rings and emerald rings can look gorgeous for men, with a solid base in silver or gold.";
    layout.Keywords = "alchemy rings, custom ring for men, masculine ring, masculinity vs femininity, emotional power, lifestyle design, ring design, truth, love, gemstones, gems, ruby, emerald, green sapphire, lab-created";
    layout.UsePhotoSwipe = true;
    layout.UseValidationScripts = true;
}
<p><a asp-page="alchemy-rings">Make sure you have first read the general information about Gemstones &amp; Alchemy Rings</a></p>
<h1>Buy Custom Rings for Men</h1>
<p class="blue">Ever wanted to wear an Infinity Stone?</p>
<p>Custom hand-crafted ruby rings and emerald rings can look gorgeous for men, with a solid base in silver or gold.</p>
<p>All gemstones are attuned into very high energetic frequencies. Gemstones are lab-created unless stated otherwise. Some natural stones are also available. All ring bases are hand-crafted, except free copper bases.</p>
<p class="bold">Craft your own custom ring for men in a few simple steps:</p>
<ol>
    <li><a href="#gemstone">Choose your gemstone</a></li>
    <li><a href="#design">Choose your ring design</a></li>
    <li><a href="#metal">Choose your ring metal</a></li>
    <li><a href="#size">Measure your finger size</a></li>
    <li><a href="#contact">Contact us to finalize the details</a></li>
</ol>

<p>&nbsp;</p>
<p class="blue"><a name="gemstone">1. Choose Your Gemstone</a></p>
<p>Here are the available gemstones. Those designated 'LC' are large 20-carat stones on a free copper base that can be replaced with silver or gold, or simply triple-plated in gold. Other stones are available in various sizes, depending on type.</p>
<p>Available sizes:</p>
<ul>
    <li>LC: Large 20 carats on copper base, 17x13mm</li>
    <li>L: Large 18-24 carats, about 17x13mm</li>
    <li>M: Medium 8-18 carats, about 14x11mm</li>
    <li>S: Small 3-5 carats, about 10x8mm</li>
</ul>
<p>Let us know what sizes you want and we'll let you know which gems and rings are available.</p>
<p>Descriptions are based on my own perceptions and use. Click on images to enlarge.</p>
<h2>Special Offer! All large 20ct gems on copper base 20% OFF!</h2>

<partial name="_RingGemsList" />

<p>&nbsp;</p>
<p class="blue"><a name="design">2. Choose Your Ring Design (for Men)</a></p>
<p>All designs will have the gemstone touching your skin.</p>

<div class="my-gallery largethumb" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="largethumb">
        <p class="bold">1. Classic Style</p>
        <a href="~/images/rings/ring-men-1a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-1a.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Classic style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="largethumb">
        <p class="bold">&nbsp;</p>
        <a href="~/images/rings/ring-men-1b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-1b.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Classic style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">2. Thai Style</p>
        <a href="~/images/rings/ring-men-2a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-2a.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Thai style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">&nbsp;</p>
        <a href="~/images/rings/ring-men-2b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-2b.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Thai style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">3. Odissey Style</p>
        <a href="~/images/rings/ring-men-3a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-3a.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Odissey style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">&nbsp;</p>
        <a href="~/images/rings/ring-men-3b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-3b.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Odissey style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">4. Flower Style (large stone only)</p>
        <a href="~/images/rings/ring-men-4a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-4a.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Big Flower style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">&nbsp;</p>
        <a href="~/images/rings/ring-men-4b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-4b.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Big Flower style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" style="float:none">
        <p class="bold">5. Small Flower Style</p>
        <a href="~/images/rings/ring-men-5a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-5a.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Small Flower style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">6. Fairy Style</p>
        <a href="~/images/rings/ring-men-6a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-6a.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Fairy style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">&nbsp;</p>
        <a href="~/images/rings/ring-men-6b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-6b.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Fairy style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">7. Orion Style (+$55)<br />Silver plated with white and yellow gold</p>
        <a href="~/images/rings/ring-men-7a-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-7a.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Fairy style</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <p class="bold">&nbsp;<br />&nbsp;</p>
        <a href="~/images/rings/ring-men-7b-full.jpg" itemprop="contentUrl" data-size="1080x1080">
            <img src="~/images/rings/ring-men-7b.jpg" itemprop="thumbnail" alt="Classic ring style" />
        </a>
        <figcaption itemprop="caption description">Ring for men, Fairy style</figcaption>
    </figure>
</div>

<p>Odyssey Style available with 6, 3 or no zircon small stones (natural stones).</p>
<p><a href="~/alchemy-rings-custom-women">More custom ring models are available for women.</a></p>
<p class="bold">Custom designs available!</p>
<p>
    For 15% extra cost, submit your picture with your own design. You can shop the best designer brands and replicate your favorite design at much lower cost.
    Combining white and yellow gold is also possible, at higher cost.
</p>

<p>&nbsp;</p>
<p class="blue"><a name="metal">3. Choose Your Ring Metal</a></p>
<p>Custom ring hand-crafting prices for men</p>
<ul>
    <li><strong>Copper: Free</strong> for large gems designated 'LC', in limited available sizes</li>
    <li><strong>Copper triple-plated gold: $60</strong> for large gems designated 'LC', includes resizing</li>
    <li><strong>Silver 92.5: $147</strong></li>
    <li><strong>Gold 18k*: $175 + $85/g</strong></li>
    <li><strong>Gold 22k: $175 + $100/g</strong></li>
    <li><strong>White Gold 18k: $175 + $110/g</strong></li>
</ul>
<p>Gold rings will be placed on a scale and charged per gram once crafted.</p>
<p>*: 18k gold will be 22k Thai gold diluted to 75% gold. The quality will not be the same as Western's 18k manufacturing process. It just means that, in 100 years, the 18k-carat ring may not be as shiny as Western 18-carat or Thai 22-carat rings. If you care about such details.</p>
<p class="bold">Energetic properties of metals</p>
<p><strong>Gold</strong> helps with protection and abundance. There's a reason the financial system was based on gold.</p>
<p><strong>Silver</strong> helps with cleansing and purifying. The Chinese use pure silver rings for detox therapies.</p>
<p><strong>Copper</strong> is a more grounding metal and might help with liver, although it may stain your finger after a while (unless gold-plated).</p>

<p>&nbsp;</p>
<p class="blue"><a name="size">4. Measure Your Finger Size</a></p>
<p><a href="https://www.primestyle.com/education_diamond_ring_size.html" target="_blank">This link explains how to measure your finger size from the comfort of your home.</a></p>
<p>Please send us the inner circumference as it is more precise than US size.</p>

<p>&nbsp;</p>
<p class="blue">BONUS: Daoist Herbal Alchemy Oil for Crown Chakra</p>
<img src="~/images/rings/alchemy-oil-crown.jpg" width="131" height="250" style="float:left; padding-right:12px" />
<p>Orders above $300 will receive a free bottle of Daoist Herbal Alchemy oil to open the crown chakra (once per client). This is not essential oils. This is an ancient Daoist herbal formula prepared by a master of Chinese herbal medicine. It is very potent.</p>
<p>Place 2 drops on your crown chakra, or 2 drops in your palms and breathe it in.</p>
<p><strong>We can send you additional bottles for $50 each.</strong> Only available while shipping rings and gemstones. There are bottles for each of the 7 main chakras. Let us know if you want bottles for any other chakras.</p>
<p>The energetic vibration of the bottle is 1315 on the Hawkins Scale, with some ingredients peaking up to 13600. <a href="https://youtu.be/yDGdOu7GvcU" target="_blank">Here is a video of how to use it.</a></p>
<div class="clear"></div>

<p>&nbsp;</p>
<p class="blue"><a name="contact">5. Contact Us to Finalize the Details</a></p>
<p class="bold">Total cost is $50 + Gemstone + Crafting for each ring, plus $70 Shipping for DHL.</p>
<p>To place an order, send us a message with the gemstones, designs and sizes you want.</p>
<p>We will let you know of available gemstones and discuss the details.</p>
<form method="post" class="form">
    <input type="hidden" asp-for="Input.Page" value="Men" />
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="20%">
                <label asp-for="Input.Name" class="required"></label>
            </td>
            <td width="80%">
                <input asp-for="Input.Name" class="input large" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Input.Email" class="required"></label><br />
                <br />
            </td>
            <td>
                <input asp-for="Input.Email" class="input large" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Input.Message" class="required"></label>
            </td>
            <td>
                <textarea asp-for="Input.Message" class="form-control" style="width:400px; height:150px;"></textarea><br />
                <span asp-validation-for="Input.Message" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                Two plus two equals... (in letters): *
            </td>
            <td>
                <input asp-for="Input.Challenge" class="input large" />
                <span asp-validation-for="Input.Challenge" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <br />
                <input type="submit" value="SEND" class="submitbox" />
            </td>
        </tr>
    </table>
</form>
