@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Subscribed";
    layout.SidebarVisible = false;
}
<h1>You have been subscribed.</h1>
<p>You will receive new articles, videos and updates via email.</p>
<p><a href="javascript: history.go(-1)">Return to blog >></a></p>
<p>&nbsp;</p>