@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Coaching Application Sent";
    layout.SidebarVisible = false;
}
<h1>
    Your application has been sent.<br />
    You will hear from us very soon.
</h1>
<p>&nbsp;</p>
<p><a href="./">Continue >></a></p>