@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Attune Your Crystals, Energy Healing and Spiritual Freedom";
    layout.FacebookTitle = "Attune Your Crystals";
    layout.FacebookImage = Url.Content("~/images/alchemy-ring.jpg");
    layout.SidebarVisible = false;
    layout.Description = "Attune your crystals into the higher Heavens to amplify their powers";
    layout.Keywords = "healing stone, crystal attunement, crystal healing, spiritual freedom, energy healing, psychic reading, spiritual self transformation, life purpose, soul purpose";
}
<h1>Crystal Attunement</h1>
<p class="blue">
    Attune your crystals into the higher Heavens to amplify their powers
</p>
<p>Now and for a limited time, you can get your healing crystals attuned into very high frequencies to <strong>amplify their powers and to allow them to auto-clean themselves.</strong></p>
<p>If you're familiar with the Hawkins Scale, crystals are generally at a vibration between 200 and 400. After an attunement, their vibration can be as high as <strong>50 million</strong>. This is extremely high voltage.</p>
<a class="submitbox" href="https://store.spiritualselftransformation.com/crystal-attunement">Add to Cart</a>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/U41asdqufFk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<p class="blue">What are the benefits?</p>
<ul>
    <li>Greater healing power</li>
    <li>Broadening your spectrum of light</li>
    <li>Transferring energetic weight off your shoulders onto the crystals</li>
    <li>Greater protection</li>
    <li>Forcing you to heal and transform deeper than usual</li>
    <li>Connecting you to the new planetary matrix of light</li>
    <li>Healing physical illnesses</li>
</ul>
<center><img src="~/images/crystal-convo.png" class="img-width" width="460" height="191" /></center>
<center><img src="~/images/healing-crystals.jpg" class="img-width" width="587" height="350" /></center>
<p class="blue">Are there side-effects?</p>
<p>Possibly. It can bring dysfunctional patterns to the surface and force you to deal with them. It can place you to the fore-front of the energetic transition war which can cause chaos for you or in your environment, it can draw energetic attacks which may remain on the stones only, or it can allow you to see what is happening on a greater scale from your own psychic eyes.</p>
<p>Which means that if you want to remain within your comfort zone and only expand to the extent that is safe, this is not for you. <strong>This is for spiritual warriors who want to live and play on the energetic front line</strong> to create a better future.</p>
<p class="blue">Do you need to know how to work with stones?</p>
<p>It's not that hard. You can discharge some of your own energy into the crystal, or you can project the energy of the crystals within your body. You can sit on the crystal and feel a burning sensation in your roots. You can put crystals under your pillow. You can sleep with the crystals to protect and stabilize your energy for a deeper sleep. You can wear the crystals as rings or pendants.</p>

<div class="testimonal">
    <ul>
        <li>
            Some visual energetic proof of the power of getting your crystals activated (LOL, sounds like a metaphor 😉)
            the two pictures on the black background are today; the other two are before Etienne worked on them.
            (Black - after; other - before) The selfie is me today; the other pic from last weekend, before Etienne worked
            on the crystals. I'll let the energy speak for itself. (I've experienced a massive third-eye awakening -
            some of you have seen that showing up in my expression, you can see it in the selfie too.)<br /><br />
            And my home has the "fresh rain smell" from the energy and my wife is all giggly and happy feminine energy this morning.
            <em>&ndash; Rhett (USA)</em>
        </li>
    </ul>
</div>
<center>
    <div style="width:150px; text-align:center"><strong>BEFORE</strong></div>
    <img src="~/images/crystal-rhett1-before.jpg" width="150" height="200" />
    <img src="~/images/crystal-rhett2-before.jpg" width="150" height="200" />
    <img src="~/images/crystal-rhett-pic-before.jpg" width="150" height="200" />
    <div class="clear"></div>

    <div style="width:150px; text-align:center"><strong>AFTER</strong></div>
    <img src="~/images/crystal-rhett1-after.jpg" width="150" height="200" />
    <img src="~/images/crystal-rhett2-after.jpg" width="150" height="200" />
    <img src="~/images/crystal-rhett-pic-after.jpg" width="150" height="200" />
    <div class="clear"></div>
</center>

<p class="blue">Here are some ideas.</p>
<ul>
    <li>Wear a neckless to <strong>soften or protect your personal energy</strong></li>
    <li>Use a ring with a red stone to <strong>amplify your transmutation fire</strong></li>
    <li>Get a crystal wand to <strong>do specific healing</strong></li>
</ul>
<p>There are great books such as <em>The Crystal Bible</em> that explain the effects of various stones and how to use them for healing. In any cases, <strong>the best is to take a stone in your hands, feel it, and see whether it complements your energetic weaknesses and feels good.</strong> Use your intuition or muscle-test it.</p>
<a class="submitbox" href="https://store.spiritualselftransformation.com/crystal-attunement">Add to Cart</a>
<div class="clear"></div>
<div style="float: left; text-align: center">
    <strong>Nuummite</strong><br />
    <img src="~/images/crystal-nuummite.jpg" width="200" height="200" />
</div>
<div style="float: left; text-align: center">
    <strong>Blue Topaz</strong><br />
    <img src="~/images/crystal-blue-topaz.jpg" width="200" height="200" />
</div>
<div style="float: left; text-align: center">
    <strong>Obsidian</strong><br />
    <img src="~/images/crystal-obsidian.jpg" width="200" height="200" />
</div>
<div class="clear"></div>
<div class="testimonal">
    <ul>
        <li>
            The big pendant is so powerful, it's hard to hold it more than five minutes in my hands lol<br />
            <em>&ndash; Noah (USA)</em>
        </li>
    </ul>
</div>
<div class="clear"></div>
<p class="blue">How to choose the right stone?</p>
<p>The effect of healing stones vary based on 3 main factors, in addition to the type of stone.</p>
<ul>
    <li>
        <strong>Purity:</strong> Determines the purity of the energy. An unpure stone will have more noise and friction,
        whereas a very pure stone will be a very clear ray of Light. Obviously a very pure stone is much better, although raw
        stones can be larger and thus also very useful.
    </li>
    <li>
        <strong>Shape:</strong> Determines the area of effect by its number of facets. The worst shape for a crystal is an unpure
        stone with flat edges. A raw stone with jagged sides has a much larger number of facets and thus a much larger area of effect. 
        A diamond cut has limited facets but enough to cover many angles, and the gem purity makes up for it. A round or oval shape 
        is in fact tons of adjacent facets and is very good. I would say that raw uneven or oval shapes are the best.
    </li>
    <li><strong>Size:</strong> Determines the strength of the stone. The larger the better.</li>
</ul>
<p class="blue">Here are some of my favorite stones.</p>
<p><strong>Obsidian</strong> is a volcanic stone that is great for <strong>energetic protection</strong>. Protection is absolutely important before anything else.</p>
<p><strong>Amber</strong> is a resin that <strong>absorbs fire and chaos</strong>, and when attuned, it cleanses whatever gets stuck in it instead of accumulating it. During a context of planetary transition, amber can be great.</p>
<p><strong>Amethyst</strong> helps to <strong>integrate energetic shifts</strong>. Use with care as some shifts can be rather violent, and it will help you adapt and recover a lot quicker.</p>
<p>A <strong>gold ring</strong> in your left small finger can help with <strong>receiving support and wealth</strong>, especially when 22K or above as pure gold has a wealth frequency of 1000 and energies above 904 have a transmutation effect. 22K has a vibration of around 920. Support, connections and inspiration always come before wealth.</p>
<p>Other stones such as <strong>Nuummite</strong> are great for <strong>grounding and protection</strong>. <strong>Lapis Lazuli</strong> is great for <strong>spiritual connection</strong>. <strong>Tektite</strong> is great to <strong>develop telepathic abilities</strong>. <strong>Iolite</strong> is great to <strong>recover from fever</strong>. <strong>Blue topaz</strong> is great water to <strong>cool you down</strong>. <strong>Clear topaz</strong> is great to <strong>clear your mind</strong>. <strong>Calcite</strong> can be good for <strong>communication</strong>.</p>
<p>You can buy stones in local stores or find some online or on eBay. You get the stone and Etienne will attune it. <strong>This is raw power</strong> and sometimes you may get energetic burns.</p>
<p><strong>Warning: there is no refund.</strong> By attuning a stone, you must take full responsibility for whatever consequence unfolds, whether good or bad. It's kind of like pregnancy, you can't return it. <strong>The process cannot be reversed.</strong> There is nobody to blame for the circumstances of your life as you alone create your reality. Handling higher frequencies is not always as easy as it seems. Especially with stones such as Mica that reflects everything back at you (that one is for experts only, especially when attuned).</p>
<p class="blue">What is the investment?</p>
<p><strong><s>$397</s> $197</strong> to clear and attune up to four crystals, and $25 per additional crystal.</p>
<p><strong>All attuned stones form a new planetary grid</strong> and Etienne as well as the Archangels will regularly work on clearing all such stones. Sometimes chaos can unfold and cause the stones to accumulate tensions, which then requires manual clearing.</p>
<p>If you have any additional questions, <a href="~/about-us/contact-us">contact Etienne here</a> and he'll answer your questions.</p>
<p>Again, this is not for everybody. To work with energetic frequencies in the millions, you must be ready and willing to play on the front line in life and to take the consequences. Several people finally got to understand what all the chaos was about by looking at the world from the perspective of the attuned stones and seeing what happen with them.</p>
<p class="blue">Sounds good?</p>

<a class="submitbox" href="https://store.spiritualselftransformation.com/crystal-attunement">Add to Cart</a>
<center>
    <img src="~/images/alchemy-ring.jpg" class="img-width" width="400" height="400" />
</center>
<p style="margin-left: 40px;">
    <img src="~/images/sign.jpg" class="img-width" hspace="10" height="164" align="left" width="394" style="padding-right: 5px; float: none;"
         alt="To your spiritual freedom" />
</p>