@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Email Sent";
}
@section Sidebar {
    <partial name="_boxsubscribe" />
}
<div class="productRow">
    <h1>
        Your message has been sent.<br />
        You will hear from us within a few days.
    </h1>
    <p>&nbsp;</p>
    <p><a href="~/">Continue to home page >></a></p>
</div>
