@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Free Training";
    layout.FacebookLike = true;
    layout.Description = "Find out why training is so important in your self transformation and get our Free Trainings here.";
    layout.Keywords = "free training, self transformation, lifestyle, purpose, freedom, sexual magnetism, attract women";
}
@section Sidebar {
<partial name="_BoxAboutEtienne" />
<partial name="_BoxLatestArticles" />
}
<h1>Check out our Free Training!</h1>
<p>
    The power to change your life is within you, but we know that sometimes it is not that easy to implement.
    When you are in a state of depression, anger or anxiety, your vibration level is low and this directly affects
    your perception of life. This mental noise makes it difficult to see the solution to your problems.
    When you are in those states, it's hard to get out of there on your own.
</p>
<p>
    These FREE TRAINING are designed to help you to resolve the internal conflicts that are holding you back and taking
    you away from your <strong>life purpose</strong> and <strong>self transformation</strong>.
</p>
<p>
    Everything is in you. Get the life you want in a context of freedom, discovering your full potential and finding
    your path into a lifestyle that you truly love.
</p>
<p>&nbsp;</p>
<h2>Force of Life Training</h2>
<img src="~/images/cover-force-of-life.png" alt="Force Of Life Training" width="300" height="255" style="float: right;" />
<p>
    If you just realized that the only time you have is now, this is the best moment to start the Force of Life Free Training
    that will guide you to reach your goals and follow your life's purpose. The Force of Life is the fuel and power
    that provides the energy you need to design the <strong>lifestyle</strong> you truly love: full of freedom, joy, creativity and passion.
    The Force of Life is the emotional drive that propels you into your greater path.
</p>
<p>You will receive series of audios that will help you to build a lifestyle of <strong>power</strong>, <strong>purpose</strong> and <strong>freedom</strong>.</p>
<p>&gt;&gt; <a href="https://forceoflife.net">Sign up for the Force of Life Training Now!</a></p>
<p>&nbsp;</p>
<h2>Sexual Magnetism Blueprint</h2>
<img src="~/images/sexual-magnetism-ebook-cover.jpg" alt="Sexual Magnetism Blueprint" width="180" height="220" style="float: right;" />
<p>
    Single men: learn how to become a natural women magnet without playing games by letting your authenticity flows, creating the
    space for them to feel comfortable around you. With the <strong>Sexual Magnetism Blueprint</strong>, you can overcome your fears and anxieties so that you can
    easily connect with women physically, emotionally and spiritually. This book guides you to an entire new approach to dating and makes
    you able to <strong>attract women</strong> of inner and outer beauty while keeping your integrity, instead of running after girls who
    really aren't a match for you.
</p>
<p>Sexual Magnetism Blueprint used to be sold at $147 and now you can enjoy it for Free!</p>
<p>&gt;&gt; <a href="https://www.shamanicattraction.com/sexual-magnetism">Get the Sexual Magnetism Blueprint Now!</a></p>