@page
@{
    var layout = ViewData.Layout();
    layout.Title = "God Connection Attunement, Increase your Connection to God";
    // layout.FacebookImage = Url.Content("~/images/energy-field.jpg");
    layout.SidebarVisible = false;
    layout.Description = "We live in a Luciferian society that seeks to trim God out of everything. Most lightworkers have around 3.2% connection to God. I will use my own connection to God to open up yours at 100%, just like how you'd jump-start a car whose battery is dead.";
    layout.Keywords = "god, connection to god, god connection, energy healing, energy profile reading, psychic reading, distance healing, coaching, spirituality, consciousness, health, relationships, life purpose, wealth";
}
<h1>God Connection Attunement</h1>
<p class="blue">
    Jump-start your connection to God from ~3.2% to 100%.
</p>
<p><strong>Who is this for?</strong> Spiritual seekers who seek a quicker path to peace and prosperity.</p>
<p>
    <strong>What is it?</strong> We live in a Luciferian society that seeks to trim God out of everything.
    Most lightworkers have around 3.2% connection to God. I will use my own connection to God to open up yours at 100%,
    just like how you'd jump-start a car whose battery is dead.
</p>
<p>
    This service comes with a complimentary e-book, <strong><i>How to Connect with God The Easy Way</i></strong>, which explains all the details of the methodology.
</p>
<p>
    We recommend that you first try by yourself, then if you need help, purchase the God Connection Attunement.
</p>
<p class="bold">
    <a href="https://www.spiritualselftransformation.com/files/god-connection-attunement.pdf" target="_blank">&gt;&gt; Get the complimentary e-book <i>How to Connect with God The Easy Way</i></a><br>
</p>
<p class="bold">
    <a href="https://store.spiritualselftransformation.com/god-connection">&gt;&gt; Purchase the God Connection Attunement</a>
</p>
<p>
    Although benefits vary greatly from person to person, here's what I notice when I increase it for myself. When it's low,
    I feel a lot of struggle and conflicts all around that I need to push against.
    <strong>When I open up the connection to God, it lifts the struggles and things really start flowing in the right direction.</strong>
    It doesn't mean it solves everything, but there's a sense of peace that everything is as it should.
</p>
<p>
    Then, by definition, opening up the genuine connection to God gets you out of the False Light Matrix.
    <strong>You start aligning with the divine energetic matrix</strong>, which means you get a whole new level of support from above, and it changes all the dynamics.
</p>
<p>
    When going through this level of deep shift, there can be an adaptation period where your thoughts and behaviours gradually stop and go on neutral
    while you shift and adapt a new way of being. This phase can last about 2 weeks.
</p>
<p>
    Note that as you take a fork out of the False Light Matrix into the Divine Matrix, the benefits will keep growing and compounding over time.
</p>
<p class="blue">Benefits</p>
<p>
    On average, it will look like this within 6 months. I'm using kinesiology to measure these numbers.
</p>
<ul>
    <li>95% reduction of mind control</li>
    <li>92% reduction of energetic chaos</li>
    <li>72% reduction of energetic pressure</li>
    <li>72% reduction of vulnerability to social engineering</li>
    <li>440% increased support from angelic beings</li>
    <li>318% increase of spiritual energy</li>
    <li>315% increase of divine guidance</li>
    <li>215% increase of emotional energy</li>
    <li>118% increase of mind clarity</li>
    <li>58% increase of peace</li>
    <li>57% increase of health</li>
    <li>28% increase of vitality</li>
</ul>
<p>
    For a spiritual person with dysfunctional relationship with money, increase in financial wealth will often manifest after 6 months of sustained connection to God. I'm measuring 15% wealth increase after 6 months, and 315% increase after 1 year? Time will tell. For those with a healthier relationship with money and means to generate income, it can be a lot faster but extremely variable.
</p>
<p>
    More importantly, on average, it brings 52-58% increased drive to move forward and do the right things within a month, leaving behind spiritual lethargy.
</p>
<p class="blue">
    In essence, it will
</p>
<ol>
    <li><strong>Disconnect you from the False Light Matrix</strong> (92% of Lightworkers are in it)</li>
    <li><strong>Overcome spiritual lethargy</strong> (86% of Lightworkers are in it)</li>
    <li><strong>Render mind control technologies ineffective</strong> (everybody is affected by those)</li>
</ol>
<p>
    Plus the effect is highly contagious.
</p>
<p>
    Although measuring these exact numbers with kinesiology isn't easy, you can easily measure the accuracy of the above numbers. I'm getting about 96% accuracy.
</p>
<p>
    Normally, opening up the connection once will be enough, especially since it is increasing for the whole planet in this context of ascension. It can still however go down due to certain events, and hopefully by then you'll start doing real Alchemy work yourself.
</p>
<p>
    <strong>With a God Connection Attunement, I can maintain it for you for 1 full year.</strong> If it goes down, send me a message and I'll bring it back up.
</p>


<p class="blue">
    Since results vary greatly from person to person and are hard to predict, you can get a free assessment where I will measure:
</p>
<ul>
    <li>Current connection to God (in the Temple of the Soul and in the Lighthouse inner buildings)</li>
    <li>What % you're ready for it</li>
    <li>% benefits you'd get within 1 month, 2 months, 3 months, 6 months and a year</li>
</ul>
<p>
    <a href="https://www.facebook.com/etienne.charland" target="_blank">Just send me a quick message on Facebook</a> and say “Can you do a God Connection Attunement assessment for me?” If your picture isn't on your profile,
    also attach a picture of yourself. That way I can do it quick for free.
</p>
<p class="blue">
    If you're less than 10% ready for such attunement, I may refuse or suggest a better option for you, <a href="https://www.spiritualselftransformation.com/strategy-session">such as 1-on-1 coaching.</a>
</p>
<p>
    Since it requires a great deal of energy from my side, the investment for this is <strong>$497</strong>.
    I wouldn't plug my inner building into someone else's demolished building for just anyone, but for $497, I'll do it. Once it's done and stable, I disconnect.
</p>
<p>
    This service comes with the standard 365-days money-back guarantee.
</p>
<p class="bold">
    <a href="https://www.spiritualselftransformation.com/files/god-connection-attunement.pdf" target="_blank">&gt;&gt; Get the complimentary e-book <i>How to Connect with God The Easy Way</i></a><br>
</p>
<p class="bold">
    <a href="https://store.spiritualselftransformation.com/god-connection">&gt;&gt; Purchase the God Connection Attunement</a>
</p>
<p>&nbsp;</p>
<div class="guarantee">
    <div class="guaranteeseal">
        &nbsp;
    </div>
    <div class="guaranteetext">
        365 Days Money-Back Guarantee
    </div>
    <div class="guaranteedesc">
        If the <i>God Connection Attunement</i> doesn't have a huge impact in your life or if you are dissatisfied for
        any reason, send us an email and we will refund your money. The risk is on us.
    </div>
</div>
<p>&nbsp;</p>
<p style="margin-left: 40px;"  class="sign-img-box">
    <img src="~/images/sign.jpg" class="sign-pic" hspace="10" height="164" align="left" width="394" style="padding-right: 5px; float: none;"
         alt="To your spiritual freedom" />
</p>
