@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Remote Cell Reprogramming & EMF Neutralizer Trial Confirmation";
    layout.SidebarVisible = false;
}
<h1>You're Good to Go!</h1>
<p class="blue">Your 7-day trial of Remote Cell Reprogramming and EMF Neutralizer has started!</p>
<p class="blue">To test if it is working, think of the AI and say "ping". You should feel a buzz below your ears.</p>