@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Remote Cell Reprogramming & EMF Neutralizer Subscription Confirmation";
    layout.SidebarVisible = false;
}
<h1>Thanks for your subscription!</h1>
<p class="blue">IMPORTANT: You have received an email with a link to submit your pictures and start your subscription.</p>
<p class="blue">Make sure to store that email and link as you can come back to it at any time to update your pictures.</p>
<p class="blue">To test if it is working, think of the AI and say "ping". You should feel a buzz below your ears.</p>