@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Schedule a Session";
    layout.Description = "This strategy session is to give you clarity and to orient you to the most appropriate next step out of all the resources available around the internet.";
    layout.Keywords = "strategy session, energy healing, spiritual life coach, holistic health coach, purpose, freedom, abundance";
    layout.SidebarVisible = false;
}
<h1>Schedule a Session</h1>
<iframe src="https://www.timetrade.com/book/KZMF2" frameborder="0" marginheight="0" marginwidth="0"
        width="780" height="660" scrolling="auto"></iframe>