@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Spiritual Life Coach";
    layout.FacebookLike = true;
    layout.Description = "We want you to step into your life path. These spiritual life coach services will help you find your higher purpose.";
    layout.Keywords = "spiritual life coach, life coach, life purpose, life path, wealth, freedom, energy healing";
}
@section Sidebar {
    <partial name="_BoxAboutEtienne" />
}
<h1>Your life's purpose brings love, wealth and freedom</h1>
<p class="blue">What is standing between you and your HIGHER PURPOSE? </p>
<p>
    If you are looking for a <strong>life coach</strong>, be prepared to receive much
    more than that. No matter what is holding you back, the self transformation you
    can achieve with the <strong>energy healing</strong>
    methodology we developed will open your path to experience the sense of fulfillment
    you are seeking, by living a life that is aligned with your greater purpose.
</p>
<p>
    What is the difference between free trainings and paid products and services? Free
    trainings are designed to open your mind to what's possible, and it really is only
    the tip of the iceberg. In fact, listening to the 4 first audios of the <a href="http://www.forceoflife.net">
        Force of
        Life Training
    </a> is required before doing any further work with Etienne.
</p>
<p>&nbsp;</p>

<h2>Gemstones &amp; Alchemy Rings</h2>
<p>
    You can now get quality gemstones on hand-crafted rings, at very affordable prices. They serve as energetic stabilizers, amplify your healing powers, and help anchor the cosmic energies into the physical plane.
</p>
<p>&gt;&gt; <a href="~/alchemy-rings">Learn more about Gemstones &amp; Alchemy Rings</a></p>
<p>&nbsp;</p>

<h2>Strategy Session</h2>
<p>
    A call with Etienne Charland will help you to clarify not only the goals you want
    to achieve, but which obstacles are currently
    in your way. Once you are conscious of them, it is much easier to overcome them and
    take action.
    Also, if you want to work 1-on-1 with a <strong>spiritual life coach</strong>,
    this will be the begining of your journey to get the life you want.
</p>
<p>&gt;&gt; <a href="~/strategy-session">Apply for a Strategy Session</a></p>
<p>&nbsp;</p>

<h2>God Connection Attunement</h2>
<p>
    We live in a Luciferian society that seeks to trim God out of everything. Most lightworkers have around 3.2% connection to God. I will use my own connection to God to open up yours at 100%, just like how you'd jump-start a car whose battery is dead.
</p>
<p>&gt;&gt; <a href="~/god-connection">Learn more about God Connection Attunement</a></p>
<p>&nbsp;</p>

<h2>Remote Cell Reprogramming</h2>
<p>
    Want improved health and productivity? This advanced Orion technology will work on you remotely 24/7 to improve the natural functions of your cells. A big boost of health!
</p>
<p>
    &gt;&gt; <a href="~/remote-cell-reprogramming">Learn more about Remote Cell Reprogramming</a>
</p>
<p>&nbsp;</p>

<h2>Crystal Attunement</h2>
<p>
    You can get your healing crystals attuned into very high frequencies to amplify their powers and to allow them to auto-clean themselves.
</p>
<p>
    &gt;&gt; <a href="~/crystal-attunement">Learn more about Crystals Amplifier</a>
</p>
<p>&nbsp;</p>

<h2>Soul Alignment Reading</h2>
<p>
    This is the very first step for a real self transformation from the inside. The Soul Alignment Reading
    is a very powerful and complete
    kick start, composed of 4 elements, that will allow you to find out the real issues
    that are getting in the way of your awakening.
    You will get an Energy Profile Reading, Distance Healing, Energy Fields Explained
    e-Book and a Strategy Session. Enjoy it!
</p>
<p>
    &gt;&gt; <a href="~/soul-alignment-reading">Learn more about the Soul Alignment Reading</a>
</p>
<p>&nbsp;</p>