@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Soul Alignment Reading and Distance Healing";
    layout.FacebookImage = Url.Content("~/images/energy-field.jpg");
    layout.SidebarVisible = false;
    layout.Description = "Get a general clean-up of your energy field to lift your consciousness up and bring awareness on the real issues holding your life back. Energy reading and distance healing.";
    layout.Keywords = "energy healing, energy profile reading, psychic reading, distance healing, coaching, spirituality, consciousness, health, relationships, life purpose, wealth";
}
<h1>Do you have a strong spiritual drive to achieve more with your life yet feel held back?</h1>
<p class="blue">
    Get Soul Alignment Reading to lift your consciousness up and bring awareness on the real issues holding your life back.
</p>
<p><strong>Who is this for?</strong> Success-driven individuals who want to live a healthier, wealthier and truly fulfilling life.</p>
<p>
    <strong>What is it?</strong> Your energy field says everything about you, including
    your strengths, weaknesses, blind spots and results. During the Energy Tune-Up, I will read your
    energy field remotely and dress a clear profile of your level of soul alignment in various areas,
    including your strengths and what you need to work on. Self-awareness is the first key to success.
    <strong>Many clients completely shifted their lives through this self-awareness alone.</strong>
</p>
<p>
    Instead of just giving you information and letting you figure out how to get started on your own, Etienne can use his psychic reading and distance healing abilities to kick-start your awakening
    in a very powerful way.
</p>
<a class="submitbox" href="https://store.spiritualselftransformation.com/soul-alignment-reading">Add to Cart</a>
<div class="testimonal">
    <ul>
        <li>
            Your Soul Alignment Reading is simple and down-to-earth that <strong>
                pin-pointed the issues I know I
                had to work on
            </strong> but <u>had a hard time accepting, because of the pain associated</u>. But the
            written word made it solid for me to finally <strong>build up the courage and give into solutions</strong>
            and open to new avenues. Thanks!<br />
            <em>&ndash; Tatjana (Canada)</em>
        </li>
    </ul>
    <ul>
        <li>
            I've been experiencing <strong>sudden changes of consciousness</strong> since the distance healing.
            It's beyond my mind. Last night I also experienced a lot of energy on my head and <strong>
                was the most present
                I've ever been
            </strong>.<br />
            <em>&ndash; Yorgo (Greece)</em>
        </li>
    </ul>
</div>
<p>
    The <i>Soul Alignment Reading</i> comes with these <strong>3 powerful components</strong>. Each of these can individually have
    a very strong transformational impact in your life. <strong>Together they can build momentum.</strong>
</p>
<p>
    <span class="blue">1. Soul Alignment Reading</span>
    <br />
    <strong>Identify what you most need to focus on to transform your life.</strong>
</p>
<p>
    I will connect to your energy field and <strong>
        precisely measure your level of soul alignment on very specific
        key aspects.
    </strong> This will dress an exact profile of your strengths and weaknesses and clearly
    <strong>highlight what you most need to work on.</strong> Once you become fully aware of where you stand
    right now, it becomes fairly easy to walk out of that zone.
</p>
<p>
    <span class="blue">2. Distance Healing</span>
    <br />
    <strong>Remove the energy leaks holding you back.</strong>
</p>
<p>
    I will spend a few minutes to do a <strong>general clean-up of your energy field.</strong> I can focus
    my mind to channel a lightning ray of extremely high-voltage energy that can <strong>
        disintegrate any blockage
        almost instantaneously
    </strong>, even remotely. You don't have to believe me. You will feel it and
    see the results. This experience alone will <strong>open your mind to a whole new paradigm.</strong>
    You will feel much lighter and won't feel as drained by the stress of your environment.
</p>
<p>
    <span class="blue">3. Understanding The Shift e-book</span>
    <br />
    <strong>Understand the context of what is currently happening around the world and your place in it.</strong>
</p>
<p>
    This short e-book provides an in-depth explanation of the vortex of ascension, its cause and its effects, as well
    as the <strong>importance of aligning with your soul and spirit more than ever.</strong> It will also explain
    the Soul Alignment Reading and provide you with what you need to know.
</p>
<p>
    <br />
    <span class="blue">BONUS #1: Measurement of energy layers and density levels</span>
    <br />
    <strong>To better identify bypass patterns holding you down.</strong>
</p>
<p>
    <a href="https://www.spiritualselftransformation.com/blog/spirituality/emotional-power/energy-layers-of-royal-alchemy/">
        The 10 energy layers of your body and the density levels are clearly explained in this article.
    </a>
</p>
<p>
    <br />
    <span class="blue">BONUS #2: Measurement of effective financial vibration, wealth mindset and Divine Spark / Burning Desire</span><br />
    <strong>To see where you stand financially. 100 is the vibration of bare stability.</strong>
</p>
<p>
    <br />
    <span class="blue">BONUS #3: Measurement of starseed soul family resonance</span><br />
    <strong>To identify what starseed families you come from.</strong>
</p>
<p>&nbsp;</p>
<p>
    This <i>Soul Alignment Reading</i> is designed to make this knowledge easily accessible to anyone. It is also
    designed to deliver enough impact to start you in a new path, or course-correct your path. It's like taking the red pill in The Matrix.
    It shatters the illusions and you start seeing reality for what it is. This is power. Sometimes a simple 15° adjustment can make all the difference.
</p>
<p>
    The Soul Alignment Reading is <s>$497</s>&nbsp;<strong>$296</strong> which would be a no-brainer if it was just about
    the money, but it's not about the money.
</p>
<p><strong>The real question is: are you ready to take charge of your life and step into a greater alignment with your soul?</strong> The real value is not in this information but in <strong>what you do with it.</strong></p>
<a class="submitbox" href="https://store.spiritualselftransformation.com/soul-alignment-reading">Add to Cart</a>
<center><img src="~/images/energy-field.jpg" width="270" height="350" /></center>
<div class="testimonal">
    <ul>
        <li>
            After your distance healing, even though my rational mind doesn't fully believe it, <strong>
                I felt a
                tremendous amount of emotional relief
            </strong> when I woke up that morning and had a smile on for the
            rest of the day. I have faith that what you teach, and what the book you provided teaches, <strong>
                can offer
                me a way out
            </strong>. This is by the far the most unconventional help I've ever sought out, and
            I think that's an indication that <strong>I'm not willing to leave any stoned unturned</strong> if it
            means that I can become a freer person.<br />
            <em>&ndash; Greg (Canada)</em>
        </li>
    </ul>
    <ul>
        <li>
            I am now speaking loud and clear - loving the new adventure ride! I am ready for this core <strong>
                awakening
                to alignment of self!
            </strong> Even my daughter looked at me yesterday and asked: "Mum? what has changed
            you look so different <strong>like you are 10 years younger&hellip;</strong> what are you doing?"<br />
            <em>&ndash; Mary (Canada)</em>
        </li>
    </ul>
    <ul>
        <li>
            During the first session I spent probably 2/3 of it with a voice telling me "this is BS, you're wasting
            your money, this is crazy," until a certain point when the light went on and the little voice got quiet
            for a moment then eventually said
            <br />
            <strong>"holy *&%$, it's working!"</strong><br />
            ----------<br />
            I've had many big shifts in my experience since our call. What's most interesting is they have been
            internal and external shifts, <strong>the inside world changes and the outside world changes almost simultaneously</strong>
            instead of change occurring within and nothing happening outside.<br />
            ----------<br />
            A very quick update. <strong>Our second session was a big breakthrough.</strong> The way I can tell
            was I felt uneasy and unsettled for a couple days and <strong>now feel feel like it has "clicked."</strong>
            And in the meantime, crazy fun things have been happening. The "ball of energy" meditation is very powerful.<br />
            <em>&ndash; Rhett (USA)</em>
        </li>
    </ul>
    <ul>
        <li>
            New things are showing up. <strong>I feel like an entirely different person.</strong> I feel so much
            energy flowing through me. <strong>My clairvoyance abillities grow like tenfold.</strong> I don't even
            have to channel some energy to my third eye chakra. Clear-Seeing (Darshan in Hindu. It clicked) is always
            present now.<br />
            <em>&ndash; Radek (Poland)</em>
        </li>
    </ul>
</div>
<p>&nbsp;</p>
<div class="guarantee">
    <div class="guaranteeseal">
        &nbsp;
    </div>
    <div class="guaranteetext">
        365 Days Money-Back Guarantee
    </div>
    <div class="guaranteedesc">
        If the <i>Soul Alignment Reading</i> doesn't have a huge impact in your life or if you are dissatisfied for
        any reason, send us an email and we will refund your money. The risk is on us.
    </div>
</div>
<p>&nbsp;</p>
<a class="submitbox" href="https://store.spiritualselftransformation.com/soul-alignment-reading">Add to Cart</a>
<p style="margin-left: 40px;">
    <img src="~/images/sign.jpg" hspace="10" height="164" align="left" width="394" style="padding-right: 5px; float: none;"
         alt="To your spiritual freedom" />
</p>
