@page
@{
    var layout = ViewData.Layout();
    layout.Title = "What Are Chakras, Alchemical Healing";
    layout.Description = "Chakras, or Wheels of Life, are the main energy centers of your body.";
    layout.Keywords = "chakras, what are chakras, what is chakra, root chakra, solar plexus, heart, third eye, alchemy, reiki, energy healing, distance healing, spiritual energy, enlightenment";
}
<div class='sitemap hoverlink'><span><span><a href="~/">Soul Purpose</a></span><span> &gt; </span><span><a href="~/definitions/">Definitions</a></span><span> &gt; </span><span><a class="dark" href="~/definitions/what-are-chakras">Chakras</a></span></span></div><div style='clear:both'></div>

<h1>What Are Chakras?</h1>
<h2><p class="blue">Definition: Wheels of Life, the main energy centers of your body.</p></h2>
<p>
    Your energy field is the emanation of your chakras. In order to understand how your energy field works,
    you must understand your chakras.
</p>
<p>
    Your chakras, also known as “Wheels of Life”, are the main energy centers of your body. Each chakra holds
    the energy of a specific aspect of your life. Simply opening a chakra can literally transform that aspect of your life.
</p>
<p>The simplest way to represent the chakras is by looking at the 7 main chakras. Here is what each chakra represents.</p>
<img src="~/images/chakras.jpg" width="200" height="235" alt="Chakras" style="float:right;" />
<p>1. <strong>Root Chakra</strong>, located between your legs behind your genitals: Personality, stability, safety, friends, family, environment grounding and survival.</p>
<p>2. <strong>Sexual Chakra</strong>, located one inch below your navel: Sexuality, creativity, money, flow, connection, intimacy and drive.</p>
<p>3. <strong>Solar Plexus</strong>, located on the sensitive spot where the rib cages join: Inner power, self-confidence, ability to resolve conflicts and intuition.</p>
<p>4. <strong>Heart Chakra</strong>, located on your chest: Self-love, self-acceptance, emotional intelligence, divine desires, emotions and influence.</p>
<p>5. <strong>Throat Chakra</strong>, located in your throat: Communication, direction, decisions and purpose.</p>
<p>6. <strong>Third Eye</strong>, located on your forehead: Clairvoyance, psychic abilities, shaping your reality and grounding to the physical world.</p>
<p>7. <strong>Crown Chakra</strong>, located on the top of your head: Connection to stillness, connection to the force of life, higher self and divine guidance.</p>
<p>
    Each chakra then has two polarities: Yang/Masculine in the back and Yin/Feminine in the front. There is
    an infinity of smaller chakras throughout your soul and body. There is an infinity of chakras above your head and
    under your feet. Each chakra contains 999 sub-chakras.
</p>
<p>
    A chakra is not just in an opened or closed state. There are lots of details in the texture of its energy. One chakra
    may be wide open and balanced, one chakra may be very strong but chaotic, one chakra may be moderately open but
    distorted, and one chakra may be completely shut down. There is an infinity of details within each chakra,
    and your life is an exact reflection of the data stored within your chakras.
</p>
<p>
    Your chakras system is more complex, but an overview of the 7 main chakras is enough for practical use and understanding.
    When your upper chakras are grounded into the Earth and your upper chakras are grounded into the Universe,
    it feels like walking both on Earth and Heaven, or bringing Heaven of Earth.
</p>
<p><a href="~/energy-tune-up">You can get a chakra reading here to know exactly how to progress to the next level.</a></p>
<p>&nbsp;</p>
<p class="blue hoverlink">
    <a href="./">More Definitions: </a>
    <br />
    <a href="what-is-alchemy">Alchemy, </a>
    <a href="what-are-emotions">Emotions, </a>
    <a href="what-is-spirituality">Spirituality</a>
</p>
