@page
@{
    var layout = ViewData.Layout();
    layout.Title = "What is Alchemy, Alchemical Healing";
    layout.Description = "Alchemy is the art of transmutation of energies and transmutation of self. Enlightenment is having your physical, emotional and spiritual selves in alignment.";
    layout.Keywords = "what is alchemy, alchemy, reiki, energy healing, distance healing, spiritual energy, violet flame, teal flame, enlightenment, Jacques Tombazian";
}
<div class='sitemap hoverlink'><span><span><a href="~/">Soul Purpose</a></span><span> &gt; </span><span><a href="~/definitions/">Definitions</a></span><span> &gt; </span><span><a class="dark" href="~/definitions/what-is-alchemy">Alchemy</a></span></span></div>
<div class='language hoverlink'><a href='~/definitions/what-is-alchemy' class='dark'>English</a> | <a href='~/definitions/fr/alchimie'>Français</a> | <a href='~/definitions/es/que-es-alquimia'>Español</a></div><div style='clear:both'></div>

<h1>What is Alchemy?</h1>
<h2><p class="blue">Definition: The Art of Transmutation of Energies and Transmutation of Self.</p></h2>
<p>The art of <strong>Alchemy</strong> includes:</p>
<ul>
    <li>Transmuting negative energies into positive</li>
    <li>Clairvoyance, healing and distance healing</li>
    <li>Transmutation of self and self-actualization</li>
    <li>Reaching enlightenment</li>
    <li>Keeping the body healthy and slowing aging</li>
    <li>Studying the principles of energies</li>
    <li>Studying the nature of time and creation</li>
</ul>
<p>
    Alchemy is a very broad topic. Like 'architecture', it means a lot of things and can be done in many
    different ways. It is often seen as transmuting bare metals into gold, which is only one of the
    very advanced paths of Alchemy. It is more about mastery over self and mastery over energies.
</p>
<img src="~/images/alchemy.jpg" align="right" alt="Alchemy" style="margin-left: 20px"
     width="133" height="130" />
<p class="blue">Layers of Energy</p>
<p>
    Alchemy works with different layers of energies: Physical, Emotional and Spiritual which are part of
    your energy field; then too, the Plane of Creation and Absolute which are beyond your energy field.
</p>
<p>
    <strong>Enlightenment</strong> is about having your physical, emotional and spiritual selves in perfect alignment. Beyond
    enlightenment, you can still keep growing in power in the higher planes. You can access the entire Universe
    from within you.
</p>
<p>
    <b>Physical Energy (Shiny Black):</b> The physical energy is the physical body. It is associated with
    the shiny black color. It is not a mat black. Think of the color of the cosmos with unlimited depth
    and energy. The physical energy is related to the 7 main chakras plus 5 chakras over the head (12 main
    chakras).
</p>
<p>
    <b>Emotional Energy (Shiny White):</b> The emotional energy is the soul. It is associated with the shiny
    white color. The emotional energy is related to chakras 13 to 24 over the head.
</p>
<p>
    <b>Spiritual Energy (Shiny Red):</b> The spiritual energy is the spirit. It is associated with the shiny
    red color. The spiritual energy is related to chakras 25 to 70 over the head.
</p>
<p>
    <b>Plane of Creation (Gold):</b> Beyond the energy field is the Plane of Creation. This plane brings
    order to chaos in this world of co-creation. Visualizations and the Law of Attraction work on this plane.
    It is possible to connect to this plane to directly alter the flow of co-creation. Anything that exists
    in the physical reality first appears in the Plane of Creation. When a new idea pops into your mind,
    you connect to an energy already existing, in the Plane of Creation. It is associated with the gold
    color.
</p>
<p>
    <b>Plane of Absolute (Teal):</b> Beyond the Plane of Creation is stillness, the Plane of Absolute. This
    is beyond time and space. On this plane, the Universe is only information that can be read and altered.
    From this plane, physical life is a hologram of this information.
</p>
<p class="blue">Transmutation Flames</p>
<p>
    Alchemy uses colors associated with high-vibration energies. Visualizing the color connects you to the
    energy. Connecting an emotional blockage or fear to such high-vibration energies can dissolve the negative
    energies and transmute them into light energy. Visualizing a flame instead of a plain color multiplies
    the effect by raising the frequency. As your spiritual connection increases, the power of the flames
    grows exponentially.
</p>
<img src="~/images/flame-teal.jpg" alt="Teal Flame" align="left" width="45" height="45"
     style="margin-right: 10px" />
<p>
    <b>Teal Flame:</b> Teal is the most powerful of all the flames; and the one most recommended for use.
    A Teal flame transmutes negative energies into positive ones. It transmutes Karma and provides general
    healing.
</p>
<img src="~/images/flame-gold.jpg" alt="Gold Flame" align="left" width="45" height="45"
     style="margin-right: 10px" />
<p>
    <b>Gold Flame:</b> The Gold Flame also transmutes negative energies into positive ones. It is especially
    useful for health-related issues and for protection.
</p>
<img src="~/images/flame-red.jpg" alt="Red Flame" align="left" width="45" height="45" />
<img src="~/images/flame-white.jpg" alt="White Flame" align="left" width="45" height="45" />
<img src="~/images/flame-black.jpg" alt="Black Flame" align="left" width="45" height="45"
     style="margin-right: 10px" />
<p>
    <b>Shiny Red, Shiny White and Shiny Black Flames:</b> Can occasionally be used for various purposes such
    as healing genetic deficiencies. Do not use the shiny red color in the brain.
</p>
<img src="~/images/flame-violet.jpg" alt="Violet Flame" align="left" width="45" height="45"
     style="margin-right: 10px" />
<p>
    <b>Violet Flame:</b> This is the most known flame although it has a lower frequency and efficiency than
    the teal flame. It allows you to identifying something, to know whether it is good or bad and to understand
    its meaning.
</p>
<img src="~/images/flame-orange.jpg" alt="Orange Flame" align="left" width="45" height="45"
     style="margin-right: 10px" />
<p><b>Burnt Orange Flame:</b> Useful for protect against dark forces and to dissolve them.</p>
<br />
<p>
    <b>Crystal Ball:</b> You can visualize throwing crystal balls to disintegrate entities and demons. It
    can also disintegrate a cancer when done with precision. Do not use in the brain. Feeling the frequency
    of the crystal ball and visualizing a crystal flame also works very well.
</p>
<p>Follow your intuition to know which flame to use and when. When in doubt, use the teal flame.</p>
<p>
    Compared to other <strong>healing</strong> arts, Alchemy has an extremely powerful effect; the energy is easy to integrate
    and there are no side effects. A Reiki attunement, for example, can cause a month of emotional ups and
    down called a purging period. When done properly, Alchemy doesn't cause any purging period.
</p>
<p>
    It is difficult to write on the topic of alchemy because of its complexity and because of the lack of
    good information on the Internet. Compared to arts such as Reiki, <strong>Reiki</strong> is like studying at college
    while Alchemy is like studying at University. The few existing good "Universities" haven't yet opened
    their libraries on the Internet.
</p>
<p>
    The following article explains the <a href="https://www.shamanicattraction.com/blog/violet-flame-meditation/" rel="nofollow">Teal, Gold and Violet Flame Meditation</a>.
</p>
<p>
    The <a href="https://www.shamanicattraction.com/sexual-magnetism" rel="nofollow">Sexual Magnetism Blueprint</a> (previously
    sold $147, now FREE) also covers some basics of ALCHEMY.
</p>
<p>&nbsp;</p>
<p class="blue hoverlink">
    <a href="./">More Definitions: </a>
    <br />
    <a href="what-are-chakras">Chakras, </a>
    <a href="what-are-emotions">Emotions, </a>
    <a href="what-is-spirituality">Spirituality</a>
</p>
