@page
@{
    var layout = ViewData.Layout();
    layout.Title = "What are Emotions";
    layout.Description = "Energies in motion causing a psychophysiological experience. The mind, body, soul and spirit are all inter-connected into a complex energetic system.";
    layout.Keywords = "what are emotions, emotions, feelings, energies in motion, emotions and thoughts, positive emotions, negative emotions, fears, release fears, chakras, subconscious mind, emotionally connected, emotional communication";
}
<div class='sitemap hoverlink'><span><span><a href="~/">Soul Purpose</a></span><span> &gt; </span><span><a href="~/definitions/">Definitions</a></span><span> &gt; </span><span><a class="dark" href="~/definitions/what-are-emotions">Emotions</a></span></span></div>
<div class='language hoverlink'><a href='~/definitions/what-are-emotions' class='dark'>English</a> | <a href='~/definitions/fr/emotions'>Français</a> | <a href='~/definitions/es/que-son-emociones'>Español</a></div><div style='clear:both'></div>

<h1>What are Emotions?</h1>
<h2><p class="blue">Definition: Emotions are Energies in Motion Causing a Psychophysiological Experience.</p></h2>
<p>
    <strong>Emotions</strong> represent a wide range of energies defining human experience, including feminine intuition,
    masculine instincts, inspiration and fears. There are many ways to classify the complex range of emotions.
    One way is to separate positive emotions from negative emotions. Another way is to classify them by
    energetic frequency and chakras. Any classification only provides an approximation of the complex and
    fluid dynamics of emotions. The mind, body, soul and spirit are all inter-connected.
</p>
<p class="blue">Emotions and Thoughts</p>
<p>
    Many people debate about whether emotions come from thoughts or thoughts come from emotions. Your thoughts
    alter your emotions and your emotions alter your thoughts, so there is a feedback mechanism between
    the two. When you have to choose between chocolate and vanilla ice cream, one option makes you feel
    better. Your emotional preference brings a thought and a decision. Then if you start thinking that the
    cold ice cream would make your teeth painful, you'll start feeling pain and hesitation. Emotions alter
    thoughts and thoughts alter emotions.
</p>
<p class="blue">Positive and Negative Emotions</p>
    There is a clear difference between positive and negative emotions. <strong>Positive emotions</strong> include joy, love,
    inspiration and freedom. Negative emotions include fear, anger, revenge and blame. Positive emotions
    are a flow of love and sexual energies flowing through your body and guiding you through life. <strong>
    Negative
    emotions
</strong> are fears blocking this flow of energy. If you take any situation, there are usually both positive
    and negative emotions mixed together. You can then separate the inspiring flow of energy from the fears
    to improve your experience. For example, when you want something, part of it is an inspiration to live
    more that feels good and and part of it is a sense of neediness that feels bad. By releasing the neediness
    and amplifying the inspiration, it completely changes the way you feel about the situation.
<p class="blue">Main Energy Centers (<strong>Chakras</strong>)</p>
<p>Energy flows in your body through 7 main chakras which each represent a different frequency of emotions.</p>
<p>1. Root Chakra: survival, friends, family and the grounding to human instincts.</p>
<p>2. Sex Chakra: sex, creativity, money and relationships.</p>
<p>3. Solar Plexus: personal power, vitality, self-esteem, integrity and sexual polarity.</p>
<p>4. Heart Chakra: self-love, unconditional love and compassion.</p>
<p>5. Throat Chakra: self-expression, communication and the power of choice.</p>
<p>6. Third Eye: power of the mind, laws of attraction, intuition, clairvoyance and intuitive wisdom.</p>
<p>7. Crown Chakra: divine connection to God, awareness of universal energies, consciousness and life purpose.</p>
<p class="blue">Emotional Connections</p>
<p>
    EMOTIONS and the subconscious mind of all living beings are inter-connected through the Akashic Records,
    which are a complex unified field. You observe this when a person in front of you starts laughing and
    you also start laughing. Emotions are contagious. This can also happen remotely when a person in another
    country feels love or anger towards you and it affects your state of mind. Often when you think about
    an old friend, that person also thinks about you and contacts you shortly after. This means that when
    interacting with someone, there is a level of direct emotional communication.
</p>
<p>&nbsp;</p>
<p class="blue hoverlink">
    <a href="./">More Definitions: </a>
    <br />
    <a href="what-is-alchemy">Alchemy, </a>
    <a href="what-are-chakras">Chakras, </a>
    <a href="what-is-spirituality">Spirituality</a>
</p>
