@page
@{
    var layout = ViewData.Layout();
    layout.Title = "What is Spirituality, Science of Spirituality";
    layout.Description = "Spirituality is the science of your energetic and emotional systems. It is about connecting to your spirit and studying how energies work within and around you.";
    layout.Keywords = "what is spirituality, spirituality, science of spirituality, emotional systems, energy healing, spirit, god, emotions and intimacy, sexuality, meditation, alchemy";
}
<div class='sitemap hoverlink'><span><span><a href="~/">Soul Purpose</a></span><span> &gt; </span><span><a href="~/definitions/">Definitions</a></span><span> &gt; </span><span><a class="dark" href="~/definitions/what-is-spirituality">Spirituality</a></span></span></div>
<div class='language hoverlink'><a href='~/definitions/what-is-spirituality' class='dark'>English</a> | <a href='~/definitions/fr/spiritualite'>Français</a> | <a href='~/definitions/es/que-es-espiritualidad'>Español</a></div><div style='clear:both'></div>

<h1>What is Spirituality?</h1>
<h2><p class="blue">Definition: Spirituality is the Science of Your Energetic and Emotional Systems.</p></h2>
<p>
    <strong>Spirituality</strong> is about connecting to your own spirit and understanding how energies work within and around
    you. Science is about rationality and what can be measured. Religion is an institutionalized view of
    spirituality where God is often seen as an external entity. Spirituality is about understanding God
    as being part of yourself without gurus, without rituals and without judgments. Religion is a group
    and cultural experience while spirituality is an individual experience.
</p>
<p>
    While you can work with spirituality on a purely instinctive basis, you can also bring rationality into
    the mix to study the dynamics of energies. Scientists are very close to bridging the gap between spirituality
    and science. Science is the perceived 'absolute truth' that changes every 10 years. The problem is that
    most people learn it only once; which brought Max Planch, the father of quantum physics, to say: "A
    new scientific truth does not triumph by convincing its opponents and making them see the light, but
    rather because its opponents eventually die, and a new generation grows up that is familiar with it."
</p>
<p>
    Spirituality can refer to an ultimate or immaterial reality, an inner path enabling a person to discover
    the essence of their being. Spiritual practices such as meditation are intended to develop an individual's
    inner life. Such practices often lead to an experience of connectedness to a larger reality with other
    individuals, community, nature, cosmos or with the divine realm. Spirituality is often experienced as
    a source of inspiration or orientation in life. It can encompass belief in immaterial realities or experiences
    of the immanent or transcendent nature of the world.
</p>
<p class="blue">Seven Misconceptions of SPIRITUALITY</p>
<p><b>Misconception 1: Fear God!</b></p>
<p>
    The church and Catholics, among others, teach their followers to fear God and that you must be good,
    not to be punished. That’s indeed what’s written in the *English* translation of the Bible, but not
    in its original language. They used the word “fear” since there’s no word in the English language to
    describe the original concept. What the original language really meant was that you should revere God
    in the sense that every cell of your body vibrates, not out of fear, but out of love and passion. Change
    the word “fear” to “revere,” and the meaning of the Bible completely changes!
</p>
<p><b>Misconception 2: Religion is Spirituality.</b></p>
<p>
    First of all, religion is a group experience whose main purpose is to protect the group, primarily from
    physical threats such as disease, poverty, death, social crises, and even war. Religion is rooted in
    first chakra energies. Spirituality, on the other hand, is an individual experience directed toward
    releasing fears of the physical world and pursuing a relationship with the divine.
</p>
<p><b>Misconception 3: Meditate for Awareness.</b></p>
<p>
    Most people who are into meditation try to become aware of themselves to raise their awareness to energies.
    For example, in Thailand, the monks who meditate in temples to be connected to universal energies aren’t
    that healthy because there’s another important aspect of the connection: being grounded in the physical
    world and to our instincts. Ideally we want to have the base of our spine solidly grounded to Earth
    energy and the top of our crown grounded to universal energy, with both energies flowing through our
    bodies. Both groundings are equally important: on Earth and in Heaven.
</p>
<p><b>Misconception 4: Be Aware of Yourself.</b></p>
<p>
    We try to become aware of ourselves to overcome our limitations, but many of us either try to control
    our emotions or become calm and passive. This is especially problematic for women, as it is in their
    nature to respond to their environment and to flow like water. It’s important to be aware of our fears
    and limitations, but it is equally important to surrender to our instincts and gut feelings. We don’t
    even need awareness to surrender to ourselves! However, many of our behaviors are rooted in fears and
    need to be unlearned.
</p>
<p><b>Misconception 5: Sexual Equality.</b></p>
<p>
    Feminists wanted sexual equality and we got sameness. At first sight, the idea of balancing yin and yang
    (feminine/masculine) energies may seem to support this concept. However, the truth is, sameness is repressing
    both masculinity and femininity, and we end up in a gray zone in between. Yin and yang refer to sexual
    polarity and contrast: having a strong masculine presence like James Bond or having a strong feminine
    presence like Thai women. Yin-yang balance means to have a strong polarized presence without neediness
    since we can get the energy of the opposite sex from within ourselves.
</p>
<p><b>Misconception 6: God is Your Father.</b></p>
<p>
    Many people talk about surrendering to the will of God, which brings them prosperity and peace of mind.
    Although you can view God as your father and follow His will, you ARE part of God! We are all Gods,
    and we can take the responsibility for what we create in our own lives and in the lives of others. If
    you unite with God, your “father” will never create something that goes against your will, and you will
    never create something that goes against the will of your “father”. It will inspire you as much as you
    influence it.
</p>
<p><b>Misconception 7: Good vs. Bad.</b></p>
<p>
    Good and bad are merely judgments. In fact, things you do with good intentions can have bad consequences,
    and things you do with bad intentions can have good consequences. For example, some parents overprotect
    their children for their good, but as a consequence, these children become reserved and unable to take
    responsibility for their lives. Or a guy can punch another guy, injuring him badly, and that injury
    can cause him to change his attitude and improve his life. Good and bad are lies: there is only acting
    out of love and acting out of fear. In the examples above, the parents are overprotecting out of fear,
    and the guy may be punching the other out of love for integrity.
</p>
<p>&nbsp;</p>
<p class="blue hoverlink">
    <a href="./">More Definitions: </a>
    <br />
    <a href="what-is-alchemy">Alchemy, </a>
    <a href="what-are-chakras">Chakras, </a>
    <a href="what-are-emotions">Emotions, </a>
</p>
