@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Self-Transformation Specialist";
    layout.Description = "Etienne Charland is a self-transformation specialist and alchemist who helps people develop their authentic charisma.";
    layout.Keywords = "attraction and intimacy, attraction and intimacy specialist, emotional intimacy, emotions and intimacy, sexual attraction, sex and intimacy, spiritual intimacy, physical attraction";
}
@section SideBar {
    <partial name="_BoxSubscribe" />
}
<div class="productRow">
    <h1 class="sub">Self-Transformation Specialist – Etienne Charland</h1>
    <img src="~/images/pht_etienne_charland.jpg" alt="Self-Transformation Specialist" width="260" height="190"
         align="right" style="padding-left: 20px;" />
    <p class="blue">
        Etienne Charland developed a proven system based on spirituality and energy healing to heal
        your hidden issues and awaken your core powers. He is also a David Neagle Certified Coach Miracle of Money Mentor. He
        helps people permanently overcome what’s holding them back from their deepest dreams. His passion is
        empowering leaders and helping people in over 27 countries to live at their highest.
    </p>
    <p>Education and certification:</p>
    <ul>
        <li>Master Alchemist</li>
        <li>David Neagle Certified Coach Miracle of Money Mentor</li>
        <li>CEO Space Graduate</li>
        <li>Reiki Master</li>
        <li>Computer Science Diploma</li>
    </ul>
    <p>&nbsp;</p>
    <p><a href="story">Etienne Charland's Story >></a></p>
</div>
