@page
@{
    var layout = ViewData.Layout();
    layout.Title = "About Etienne Charland";
    layout.Description = "Bio. Story. What We Do. Who We Work With.";
    layout.Keywords = "attraction and intimacy, spirituality, sexuality, emotions, intimacy, relationships, etienne charland, female coaches, seduction coach, authentic self, physical attractiveness, sexual attraction, well-being, self-confidence, emotional mastery, self healing";
}
@section SideBar {
    <partial name="_BoxSubscribe" />
}
<div class="productRow">
    <div class="productBox" style="height:310px">
        <a href="bio">
            <img src="~/images/img_aboutus.jpg" alt="product" width="160" height="79" />
        </a>
        <div class="productDec">
            <h4><a href="bio">BIO</a></h4>
            <p>
                Etienne Charland is an international self-transformation specialist and alchemist who has impacted men
                and women in over 20 countries to awaken to their full potential.
            </p>
            <strong><a href="bio">Read More </a></strong>
        </div>
    </div>
    <div class="productBox" style="height:310px">
        <a href="story">
            <img src="~/images/img_aboutus.jpg" alt="product" width="160" height="79" />
        </a>
        <div class="productDec">
            <h4><a href="story">STORY</a></h4>
            <p>After tasting what it was like to live in an environment where people really cared about me, I looked for ways to continue living that life. I have spent many years living in various cultures around the world, such as in Barcelona, Paris and Thailand.</p>
            <strong><a href="story">Read More </a></strong>
        </div>
    </div>
    <div class="productBox" style="height:310px">
        <a href="what-we-do">
            <img src="~/images/img_product_ebook_audiobook.jpg" alt="product" width="160" height="79" />
        </a>
        <div class="productDec">
            <h4><a href="what-we-do">WHAT WE DO</a></h4>
            <p>
                We help male and female creative professionals and coaches who don’t have the consistency and quality
                of relationships they are looking for, develop their authentic charisma to have effortless and consistent
                success with partners of great inner and outer beauty.
            </p>
            <strong><a href="what-we-do">Read More </a></strong>
        </div>
    </div>
</div>
<div class="productRow">
    <div class="productBox" style="height:240px">
        <a href="who-we-work-with">
            <img src="~/images/img_coaching.jpg" alt="product" width="160" height="79" />
        </a>
        <div class="productDec">
            <h4><a href="who-we-work-with">WHO WE WORK WITH</a></h4>
            <p>
                We work with male creative professionals and female coaches who have vision and experience and who want
                to improve their lives in all areas.
            </p>
            <strong><a href="who-we-work-with">Read More </a></strong>
        </div>
    </div>
    <div class="productBox" style="height:240px">
        <a href="testimonials">
            <img src="~/images/img_coaching.jpg" alt="product" width="160" height="79" />
        </a>
        <div class="productDec">
            <h4><a href="testimonials">TESTIMONIALS</a></h4>
            <p></p>
            <strong><a href="testimonials">Read More </a></strong>
        </div>
    </div>
    <div class="productBox" style="height:240px">
        <a href="contact-us">
            <img src="~/images/img_coaching.jpg" alt="product" width="160" height="79" />
        </a>
        <div class="productDec">
            <h4><a href="contact-us">CONTACT US</a></h4>
            <p></p>
            <strong><a href="contact-us">Read More </a></strong>
        </div>
    </div>
</div>
