@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Monica's Story";
}
<h1>Monica's Story</h1>
<p class="blue">"I asked myself: How can I love, accept, and fulfill myself from within?"</p>
<p>
    I told you I understand the concept and how men operate but somehow I did not know how to apply it inwardly-how
    to feel it, if you will. I understood men, I said, “... yes I get it, I have the power to make a male
    stronger than he is just as I had learned from reading Think and Grow Rich”. However, I did not quite
    understand why I had constant feelings of tension and anxiety. This led me to question: how come I cannot
    focus? How come I cannot meditate at least once a day? Quite honestly, a few weeks after giving you
    feedback, I got angry with this program because due to my own self-disconnect and Western ego, I thought
    of the program as being "intentionally"-full of crap. This is what the voices in my head said, 'of course
    a male coach is going to tell women to act and be sweet, of course they want women submissive and irrationally
    vulnerable. Easy for men to want someone nice and sweet when they don't understand the emotional ups
    and downs women experience”. So, I kissed this program buh-bye for a week, only to come back to it because
    it did help me fill my male energy from within, and it help me manifest men in my life but none that
    I truly accepted. Interestingly so, the Natural Grounding meditation helped more because it inwardly
    'filled me up' more than a date or male hug did. So that told me I had a disconnect going on.
</p>
<p>
    Then I went on to notice that mingling with 'society' and 'ego centric' people was not good for my Natural
    Grounding. So I stopped hanging out and started to have nights with me and only me. Only to find that
    it was me whom I did not understand. It was me whom I did not accept. That's where women's insecurities
    come from: we don't know how to accept ourselves. I asked myself: How can I love, accept, and fulfill
    myself from within? Better yet, how come I am having a hard time with me? This is where the root of
    my problem is: I did not like me because I am too emotional, because I am too intuitive and because
    I love all that comes from the heart. I enjoy taking care of men, and damn it the book “Why Men Love
    Bitches” tells me to BE the OPPOSITE of what I am: caring, compassionate, easy to please, flirty, giggly,
    and way, way more intuitive than most people. So here I am full of awesome feminine energy that is not
    well accepted by our society, and here I was oppressing it-especially at work.
</p>
<p>
    That's when I had enough and was determined to find an answer to my 'neurosis' so I reviewed the things
    that worked on me inwardly like Natural Grounding meditation through watching videos (awesome dynamic
    approach) and I found my answer alright! For me, and I feel that for other western-minded women, it
    is best to start meditating on the Shakti energy. Let women connect with other 'real' women, share the
    feminine energy and bring out that compassionate being that we are, let the intuitive being come out,
    let the little girl come out. Another way of putting it... stop visiting your super bitch friends, stop
    shopping for perfection in lieu of self-fulfillment. To be truly in self-love, and to share and give
    the love I have as a woman, I must accept that women are goddesses of individuality. I also now understand
    that 'our competing tools' are destroying our beautiful yin energy, which directly affects our individuality,
    sexuality, and overall 'self-security'. Women should not be concerned in becoming the most attractive/successful/thinnest
    out of a group (hence the competition). All of that jazz will not help anyone feel secure and emotionally
    strong. Natural Grounding is correct in finding that authentic femininity is very much oppressed, thus
    making me and others feel empty and confused.
</p>
<p>
    I am restarting this program and enjoying the female energy from the videos. I love it as it is me and
    it feeds my soul. This is how I am going to accept me, this is how I am going to regain the security
    that this world tried taking away from me. Conforming to society is no longer in my personal and work
    agenda. I am done hustling. I am now sitting back and letting things happen naturally-I love responding,
    not reacting. I am in full yin and back to being playful and have noticed compliments which tell me
    that I am glowing-all because I've accepted ALL of my feminine energy. I feel this is a big part of
    my 'self-grounding' puzzle, along with some heavy duty focus and discipline. It has been a hellacious
    hard-ass discovery and I am glad to have found it. In a few weeks I can work on the sexuality piece,
    meaning I can begin watching the male energy videos...yay!
</p>
<p>
    Conclusion: It is my understanding and in my own experience, women need focus, women need emotional and
    societal security (collaboration and love from one another), women require a lot of self-love (more
    than men), women in the Western hemisphere require a good dose of painful REALITY to be fully in the
    present. It's sexy and much easier to be hot and humble. Let Natural Grouding come to you, let Natural
    Grouding help you overcome insecurities that only YOUR INNER BEING can heal. How beautiful that men
    and women are collaborating to heal our planet's Shakti. Cheers to that!
</p>
<p>
    Please note that I am giving you the whole emotional neurotic story because it may help you understand
    that it is focus that women 'should' want, as it is the most awesome self-discovery I have gained for
    me and the rest of the world. Thank you!!!
</p>
<p><strong>&mdash; Monica (USA)</strong></p>
<p>&nbsp;</p>
<p><a href="testimonials">More testimonials >></a></p>
