@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Etienne Charland's Story and Spiritual Awakening";
    layout.Description = "I have spent many years living in various cultures around the world, such as in Barcelona, Paris and Thailand.";
    layout.Keywords = "attraction and intimacy, etienne charland, spiritual awakening, sexuality and spirituality, sexuality, spirituality, emotional intimacy, sexual attraction, animal magnetism, sexual magnetism";
}
<div class="productRow">
    <h1 class="sub">
        <img src="~/images/pht_etienne_charland_3.jpg" alt="Etienne Charland Story" align="right"
             style="padding-left: 20px;" />
        Etienne Charland's Story
    </h1>
    <p class="blue">
        After Tasting What it Was Like to Live in an Environment Where People Really Cared About
        Me, I Looked for Ways to Continue Living That Life. I Have Spent Many Years Living in Various Cultures
        Around the World, such as in Barcelona, Paris and Thailand.
    </p>
    <br />
    <p>
        When I was nineteen years old, I never had a girlfriend or any kind of social life. I was shy and self-conscious.
        I felt unworthy and anxious around women; and I always fell into women’s 'friend zone,' when I wanted
        more. I didn’t know how to get women to care about me; I didn’t understand women, and I longed to have
        a beautiful woman beside me.
    </p>
    <p>
        I started feeling alive when I went abroad for training in Finland. It was a completely different life.
        People trusted, supported and respected me; they were partying all the time and there was always something
        to do. After coming back to my old life in Quebec, I quickly realized the cultural differences. I didn’t
        want to live an isolated life after tasting something so much better, so I kept traveling.
    </p>
    <p>
        My life turned around in Barcelona in 2006 after reading a book from Rion Williams. I realized why dating
        abroad is so different than dating in North America and I understood the dynamics of how society influences
        people. I started experiencing success with women and, shortly after that, I had three girlfriends for
        many months.
    </p>
    <p>
        I had my first experience with energies in 2007 after seeing the movie The Secret. Since then I have
        been studying energy interactions between people and received Reiki Master training. I became very effective
        at changing people’s lives through energy work.
    </p>
    <p>
        I trained with Jacques Tombazian in 2010, a Master Alchemist who short-circuited all of my shortcuts,
        in terms of healing, beyond my understanding. He brought me to a whole new level of healing and personal
        power.
    </p>
    <p>
        I am now completely emotionally detached from my environment and I feel great no matter how people around
        are closed off or stressed, so I am creating my own space and social life. I live my life on my own
        terms.
    </p>
    <p>&nbsp;</p>
    <h4 class="blue">Spiritual Awakening</h4>
    <p>
        I grew up in Quebec with a lot of frustrations towards anything related to religions. I was a very logical
        and rational person. I thought I understood everything about the world. In fact, I was a computer programmer
        since I was 9 year-old. I was also an indigo child although I wasn't really aware of it.
    </p>
    <p>
        When I was 21, my sister brought me to see a &ldquo;psychic&rdquo; couple. The guy kept talking to me
        about all kind of weird stuff. I wasn&rsquo;t really listening and had no clue what he was talking about
        but at some point I started shaking like crazy on my chair for half an hour. The lady saw an unhealthy
        connection between me and my sister and when she touched me to cut the connection, I suddenly felt very
        cold.
    </p>
    <p>
        Later when I was 22, I stayed a few days at my ex-girlfriend and her new boyfriend&rsquo;s home in Finland.
        There was some major drama one night. Her boyfriend left her and she was in a crisis, screaming and
        crying in the streets. I couldn&rsquo;t see clearly and my vision was blurry, so I started thinking
        about things I&rsquo;m grateful for and 10 seconds later she broke out of her crisis and my vision suddenly
        became clear. I didn&rsquo;t know it back then, but this was one of my first shamanic experiences. Around
        that time I also saw the movie The Secret which finally revealed to me things I couldn&rsquo;t explain
        before that.
    </p>
    <p>
        Later that year, I met an awesome Australian woman while visiting Berlin. We kept in touch after I was
        back in Paris and she was back in Australia. A few months later, I woke up in the middle of the night
        at 2am with a crazy uncontrollable erection and I was thinking about her. With the time shift, it was
        10am in Sydney. I called her the next day and asked what she was doing at 10am. She said she had a vaginal
        check with a doctor and it was very unpleasant. He told her to think about something pleasant&hellip;
        OK!
    </p>
    <p>
        I trained as a Reiki Master in 2008 and 2009 in Thailand and Montreal.&nbsp; These trainings made a huge
        difference in my life by developing my intuition, by giving me a stronger presence and by allowing me
        to heal energies around me and to dissolve fears. In 2010, I met Master Alchemist Jacques Tombazian
        who brought me to a whole new level in terms of personal power and healing.
    </p>
    <p>&nbsp;</p>
    <p><a href="what-we-do">What We Do >></a></p>
</div>
