@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Daniel's Story";
}
<h1>Daniel's Story</h1>
<p class="blue">"Shamanic Attraction opened the door to a whole new paradigm: changing form WITHIN?"</p>
<p>
    I'm one of those Millennials you mentioned. I'm a 22-year-old male. I'm a very liberal person and saw
    how society had women take the role of objects. The separateness between the sexes really bothered me.
    I found my evolvement from western society in my sexuality. I think god somehow coded the seeds of evolution
    in our hearts and in our sexuality. I was feeling very alone while I saw how my male friends were buying
    women drinks and feeling the need to treat women like they were the prize. I also saw how women were
    always being called hoes even though it was the very men who slept with them calling them that. What
    a double standard that was. If anything the male race as a whole is just as responsible for the lack
    of integrity in women and they should be called no such name. Such names affect the consciousness of
    women. It fills them with guilt and causes a separation.
</p>
<p>
    I eventually traced this conditioning straight to the media and the Catholic Church. The typical programs
    used in the bible are words such as “repent”, “burn”, “judgment”, “virgin”, and “sin”. And the media
    were giving a totally wrong view of the courtship ritual. The role was always the same. Man likes girl,
    girl runs from guy and then guy chases and marries girl. This is a totally wrong view of reality yet
    it is the way people were treating the dating scene. I eventually found some success in this new seduction
    community that had appeared as people sought answers to their problems.
</p>
<p>
    At first, techniques were working a bit but every time males had the upper hand, females counter acted
    with their own seduction community and techniques until both sides became like robots. Not soon after
    that we were all sitting in a pool of hate and manipulation. Deep inside, I was feeling lost, confused
    and empty. That was until I found Shamanic Attraction. This opened the door to a whole new paradigm:
    changing form WITHIN? At first, it seemed very counter intuitive but I said: hey, if nothing else is
    working, let me give this a shot.
</p>
<p>
    Even though changing from within seemed counter intuitive, I did agree with Etienne when he said that
    you could get girls by not trying to get with them. If guys would just stop following the music industry
    and the media and just back off women and give the female race some space it would have a big effect
    on the behavior of women. Besides, female genitals are internal and this gives women the divine right
    to choose which male goes into her. An external mating system will never understand the complex cognitive
    process involved with an internal mating system. This is the law of receptivity versus penetration.
</p>
<p>
    After Shamanic Attraction and changing from within, I found that this not only had an effect on my mating
    behaviors but also on my thoughts. I now have a mind that is still when before I had a mind that was
    too full of thoughts which equated to a body that was nervous and shaky. I also have thoughts that verge
    more on a scientific and spiritual nature. If you believe in the law of oneness, science and spirituality
    are one and the same. The science of changing from within has been one of the most profound things that
    could have happened to me and has opened many doors for me. Thank you, Etienne, and may many more souls
    find the light of your program, Namaste.
</p>
<p><strong>&mdash; Daniel (USA)</strong></p>
<p>&nbsp;</p>
<p><a href="testimonials">More testimonials >></a></p>
