@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Testimonials";
}
@section Head {
    <link rel="stylesheet" type="text/css" href="~/css/spryaccordion.css" />
}
<h1>Testimonials </h1>
<div id="Accordion1" class="Accordion" tabindex="0">
    <div class="AccordionPanel">
        <div class="AccordionPanelTab">
            Success Stories
        </div>
        <div class="AccordionPanelContent">
            <p>
                &ldquo;[...] At first, techniques were working a bit but every time males had the upper hand, females
                counter acted with their own seduction community and techniques until both sides became like robots.
                Not soon after that we were all sitting in a pool of hate and manipulation. Deep inside, I was feeling
                lost, confused and empty. That was until I found Shamanic Attraction. This opened the door to a whole
                new paradigm: changing form WITHIN? [...]&rdquo;<br />
                <a href="storydaniel"><strong>Read the full story >></strong></a><br />
                <strong>&#8211; Daniel (USA)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;[...] That's where women's insecurities come from: we don't know how to accept ourselves. I asked
                myself: How can I love, accept, and fulfill myself from within? Better yet, how come I am having a hard
                time with me? This is where the root of my problem is: I did not like me because I am too emotional,
                because I am too intuitive and because I love all that comes from the heart. I enjoy taking care of
                men, and damn it the book “Why Men Love Bitches” tells me to BE the OPPOSITE of what I am: caring, compassionate,
                easy to please, flirty, giggly, and way, way more intuitive than most people [...]&rdquo;<br />
                <a href="storymonica"><strong>Read the full story >></strong></a><br />
                <strong>&#8211; Monica (USA)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>Have a story to share? <a href="contact-us">Send it to us!</a></p>
            <br />
            <br />
        </div>
    </div>
    <div class="AccordionPanel">
        <div class="AccordionPanelTab">
            Sexual Magnetism
        </div>
        <div class="AccordionPanelContent">
            <p>
                &ldquo;Etienne's product <em>Sexual Magnetism</em> helped me cultivate a new understanding of masculine
                and feminine energies. I used to be one of the millions of men who was stuck in the illusion that our
                Western media feeds us; that fake tits and eyelashes, high heeled boots, and a bitchy attitude are &quot;hot&quot;.
                Now I've been enlightened to seeing true feminine energy, and once you've seen it, you can never go
                back. I now see that feminine energy is light, care free, spontaneous, nurturing, supportive, and free
                flowing, and I can look for this actively in my relationships. Along the way you will undoubtedly have
                to battle with your old habits. You may find yourself reacting to women who aren't truly what you desire,
                simply because the media has socially conditioned you to do so. Just keep in mind your true desires
                and Etienne's teachings and you'll see enormous growth! I highly recommend this product to ANYONE seeking
                to learn how to create the relationships and love life they've always wanted.&rdquo;<br />
                <strong>&#8211; Kurt Spelling (USA)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;Thanks for creating a real and truthful product like <em>Sexual Magnetism</em>. It is because
                of a few authentic people like you that even we AVERAGE FRUSTRATED GUYS like us have a chance and hope...
                You are absolutely right brother, pick up is a wrong, fake and shallow goal in itself... It is like
                a sand structure made on beach by someone... When one wave of reality and authenticity comes all washes
                away... Thank you from bottom of my heart brother, the real gem of a person like You save guys like
                us a lot of aimless wandering and trouble for years up head...&rdquo;<br />
                <strong>&#8211; Nishant (India)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;I have known Etienne for a couple of years. Since the first moment he revealed himself as one
                of the most developed persons I have met. His understanding of subtle energy forces, and his knowledge
                on how to use them in daily life and seduction for succeeding, has strongly enriched my own sarging.
                When we met personally, I had a great impression of his success among women. He is one of the best ladies
                men I know.&rdquo;<br />
                <strong>&#8211; Victor (Spain)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;I think we're years ahead of things. When the rest of the seduction industry catches up and realizes
                it's not about inner game and ego, they'll start focusing on what we have the most: behavior, energy,
                physiology and sexuality. There is some stuff Etienne talks about that I haven't even done or tried
                yet so in a way he's more advanced than I am. He also did Kundalini Natural Grounding before I ever
                did.&rdquo;<br />
                <strong>&#8211; Rion Williams (USA)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;Your general approach to the subject of women is the most enlightened I've seen in the genre of
                mens self-help. Very cool.&rdquo;<br />
                <strong>&#8211; Colin (Canada)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;First of all I wanted to thank you for everything. You've completely changed my life for the better.
                I've applied your stuff (natural grounding worked great) and I'm happy I discovered your valuable content
                so soon.&rdquo;<br />
                <strong>&#8211; Nils (Switzerland)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;I started to combine your style with my style, and the results are... incredible. My frame creates
                a void, and women feel compelled to fill it.&rdquo;<br />
                <strong>&#8211; Eric (Spain)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;It's just money. There's plenty of it. I unlearned a lot because of the book, there is a sense
                of lightness to it, of how effortless the attraction really is, it's like taking off a shirt.&rdquo;<br />
                <strong>&#8211; Jared (Finland)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;I think this book will influence my life as much as Tony Robbins&rsquo; &ldquo;Awaken The Giant
                Within.&rdquo; I am now absolutely fearless around everyone, as well as unattached to any outcome. I
                now understand HOW I have easily seduced every single woman I ever wanted. Now that my energies have
                shifted, I constantly catch women looking at me from a distance and smiling. Sell your car if you have
                to, pawn your mother&rdquo;sjewellery... do whatever you have to do to get your hands on this information.
                Now.&rdquo;<br />
                <strong>&#8211; Gabriel (Canada)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;As a result of your book and your way to see if a woman's energy matches yours before you even
                approach, I got my &quot;transmission&quot;/attunement just this last weekend. I have actually already
                met someone who is quite a match and resonates with me on many levels. Other things are clicking into
                place.&ldquo;<br />
                <strong>&#8211; Paul (USA)</strong>
            </p>
            <br />
        </div>
    </div>
    <div class="AccordionPanel">
        <div class="AccordionPanelTab">
            Authentic Attraction
        </div>
        <div class="AccordionPanelContent">
            <p>
                &ldquo;As a result of your book and your way to see if a woman's energy matches yours before you even
                approach, I got my &quot;transmission&quot;/attunement just this last weekend. I have actually already
                met someone who is quite a match and resonates with me on many levels. Other things are clicking into
                place.&quot;<br />
                <strong>&#8211; Paul (USA)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;I am married since 19 years with two kids and the relationship went great except that she didn't
                feel like having sex often. After listening to Authentic Attraction, I understood much more clearly
                what I wanted form the relationship and I could talk about it. It also gave me tools to improve the
                relationship. I tried several things to improve the heart connection in the past, but it didn't bring
                the kind of results I am seeing now. Our relationship was mostly on the mental level. It is now an energetic
                connection on several levels. The lady is happy and she now wants sex everyday despite her health issues.
                Listening to Authentic Attraction was the trigger for great changes in our relationship!&rdquo;<br />
                <strong>&#8211; Mario (Canada)</strong>
            </p>
            <div class="AccordionLine">
            </div>

            <p>
                &ldquo;I think this is an excellent talk! There's so much material out there, but what you say is very
                clear and makes so much sense! It's very well done.&rdquo;<br />
                <strong>&#8211; Cathy (USA)</strong>
            </p>
            <br />
        </div>
    </div>
    <div class="AccordionPanel">
        <div class="AccordionPanelTab">
            Result-Oriented Spirituality
        </div>
        <div class="AccordionPanelContent">
            <p>
                &ldquo;I have bought other products and they all work towards being something that is not you. I'm not
                sure if that makes sense. Whereas your guidance and philosophy through your products touch on more about
                healing oneself and the energy flow that surrounds us and use it to help with your everyday life. Making
                authentic connections and lasting relationships. To solve my dating and emotional problems is worth
                more than winning the lottery because 'money can't buy you love'. I wish to have a happy life where
                I can connect with fantastic women on all levels.&rdquo;<br />
                <strong>&#8211; Jugjit (UK)</strong>
            </p>
            <br />
        </div>
    </div>
    <div class="AccordionPanel">
        <div class="AccordionPanelTab">
            Coaching
        </div>
        <div class="AccordionPanelContent">
            <p>
                &ldquo;Etienne's coaching methods help accelerate your understanding of yourself and liberate you from
                limiting beliefs that have held you back over time. With his advice, many issues that confused and frustrated
                me have evaporated into thin air. I am starting to see great results with women and am having positive
                interactions with people that would have been absent before I started the coaching. I fully recommend
                Etienne if you are serious about becoming the man you always knew you could be.&rdquo;<br />
                <strong>&#8211; Daniel (England)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;Etienne has a deep presence and expertise. He was very easy to talk with, and you'll see improvements
                no matter what level you're at. A few hours after our coaching session, I really started to feel some
                big changes taking place inside as I integrated higher levels of learning. Also, just making the decision
                to begin coaching with him started to raise me up and build me up.&rdquo;<br />
                <strong>&#8211; C.F. (USA)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;I'm a 35-year old guy who is well versed in seduction, NLP, hypnosis, and psychology. I studied
                and practiced this stuff for a lot of years(more than 10 ;-)). Despite all of this, I really was impressed
                by Etienne's knowledge of delicate concepts like emotional blocks and energy tweaking, plus he really
                knows practical ways to help you work on them and give you simple and effective tools to use yourself.
                He's also a very good adviser for specific problems that you can't find answers to on forums, like how
                to mix technique A with technique B. Despite having studied tons about personal change, the tools he
                gave me were unknown to me AND very powerful, yet simple to use. Moreover, he has a very clear talent
                for listening to you and finding the root of your problem&#8212;problems that other well-known gurus
                haven't been able to discover before, despite a lot of inner work and countless hours of coaching. So
                I definitely recommend his one-on-one coaching, especially for people who have a difficult sticking
                point and are confused with conflicting advice.&rdquo;<br />
                <strong>&#8211; Michael (France)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;Coaching with Etienne has given me a better perspective, and I have learned to break away from
                my negative, self-defeating thought patterns. I can handle them better now. He's an awesome coach. I'd
                definitely recommend some coaching sessions. My mind was clearer after the phone session, and I had
                better focus and things started to sink in (and they still are). Now I have more leverage in everyday
                situations. Etienne is one of the few guys out there (teaching this stuff) who knows what he's talking
                about.&rdquo;<br />
                <strong>&#8211; Charlie (England)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;My first phone coaching with Etienne was awesome... he made me feel very comfortable and answered
                a lot of questions I had in great detail. I recommend one-on-one phone coaching with Etienne to everyone
                who is serious about improving!&rdquo;<br />
                <strong>&#8211; Murat (Australia)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;Thanks again for today's coaching session! I gained value from taking a closer look at my nervousness
                and how to deal with it, learning how to properly implement natural grounding and the idea of &quot;switching
                off&quot; the logical part of the mind to allow the more natural, subconscious part to operate. I will
                strive to integrate this new knowledge in my life and will get in touch with you if I feel I need additional
                coaching. Best regards,&rdquo;<br />
                <strong>&#8211; Vlad (Canada)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;Taking your advice of integrating what I perceived as dualities has been extremely helpful! Thank
                you and many blessings.&rdquo;<br />
                <strong>&#8211; Noah (USA)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;I can tell you that I love being feminine and it is often a struggle for me to be friends with
                females who are comfortable with themselves&#8230; They try to compete at being better than me when
                in reality I am just being myself and looking to hang out and have a good time. Because we are taught
                to compete and be aggressive in business, I feel that women take that identity to heart and soon you
                see these women becoming miserable. You made me feel that it is okay to live the way I do because I
                love my femininity and I must love myself before i love anyone else.&rdquo;<br />
                <strong>&#8211; Monica (USA</strong>)
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;I like it and I feel only those who are grounded will accept and understand it. Also, those who
                are soul searching will truly get it. Your knowlege is impressive and I find it precise and very useful.
                Thank you! It's rather interesting how you're giving me answers...the Universe is sending me answers
                through your knowledge. As you know, I have been working on myself and I continually seek for improvement
                on how to remain grounded AT ALL TIMES, and that is my claim and goal. I no longer wish to be lost in
                this culture of material, societal differences, and religion. Afterall, the unknow, the unseen is the
                greatest force that presents us with oneness, with the beautiful feeling of God, the Universe, the &quot;it's
                great to be me&quot; type-feeling. I no longer see my job as my source of identity...I used to hang
                on to it because I had lost my energy to societal pressures. Whoa! Things are so clear now.&rdquo;<br />
                <strong>&#8211; Monica (USA)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;I gotta say that since I work with Alchemy, everything is changing. I became more aware of the
                mental noise that I have, and I'm starting to see EGO. How it's working, how it's limiting, how it's
                trying to convince me that he's me. Pretty much everything I believed that was true, was just a bullshit.
                I'm pretty pissed off about it. And day by day I see more of it, more real world, and it pisses me even
                more. But this anger is much better than the usuall states I used to have - fear, doubt, saddnes. Now
                I'm just pissed of, because I see that I was ALWAYS trying to GET something, instead of just BEING,
                and DOING what I love. The Anger is focused on change. It's like I just can't let it be the way it is
                now (ego, beliefs, &quot;getting&quot;, fear, saddness).&rdquo;<br />
                <strong>&#8211; Radek (Poland)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;Etienne is one wise man. He sees things others have no clue about and have the ability to communicate
                it in a very clear and simple way. This is by far the most advanced teachings I have ever encountered
                in the selfhelp/dating industry. His methods has helped me grow tremendously and opened a new paradigm
                of reality. If you are serious about making a change in your life, etienne is your man.&rdquo;<br />
                <strong>&#8211; Andreas (Sweden)</strong>
            </p>
            <br />
        </div>
    </div>
    <div class="AccordionPanel">
        <div class="AccordionPanelTab">
            Distance Healing
        </div>
        <div class="AccordionPanelContent">
            <p>
                &ldquo;Thank you so much. Not sure when you did your remote healing on me, but the area I requested healing
                has felt better for the last day or so, I defo notice a difference.<br />
                Didn't know it was connected with taking on other people's problems, but thinking about it, because
                I am in a senior position at work, this does tend to happen. I do believe I am quite a tense person
                and its my wish to follow a more calmer exsistence, where I tend not to react to situations as intensly
                as I currently do.&rdquo;<br />
                <strong>&#8211; Yunique (UK)</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;I'm impressed by your reading, it is dead accurate. I am fascinated by what you do, I also have
                a desire to one day be able to help people in a manner similar to yours. I am very intrigued by the
                psychic paranormal though I am young and have just barely begun to scrape the surface of understanding
                the unknown forces in our universe.&rdquo;<br />
                <strong>&#8211; Blue Sparks</strong>
            </p>
            <div class="AccordionLine">
            </div>
            <p>
                &ldquo;Thank you so much for your energy and thoughts. My finger end started to tingle today (like the
                same tingling when it's been touching ice and then starts to warm up). I will do those visualizations.
                Thank you!&rdquo;<br />
                <strong>&#8211; Bluestar</strong>
            </p>
            <br />
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/spryaccordion.js"></script>
    <script type="text/javascript">
        var Accordion1 = new Spry.Widget.Accordion("Accordion1");
    </script>
}