@page
@{
    var layout = ViewData.Layout();
    layout.Title = "What We Do";
    layout.Description = "We help creative professionals develop their authentic charisma to have effortless and consistent success with partners of great inner and outer beauty.";
    layout.Keywords = "men and women, male and female, masculinity, femininity, coach, relationships, authentic charisma, sexual transmutation, sexual attractiveness, attraction and intimacy, emotional intimacy, cultural awareness, relational dynamics, energy healing, experience, awareness, healing, removing your limitations";
}
<div class="productRow">
    <h1 class="sub">
        <img src="../images/pht_etienne_charland_2.jpg" alt="image" align="right" style="padding-left: 20px;" />We Help People Transform From Within to Live the Life They Deserve in the Areas of Dating, Sex, Health, Wealth and Many Others!
    </h1>
    <br />
    <p>
        We help these men and women develop their authentic charisma, reconnect with themselves, view life from
        different perspectives and overcome their fears and anxieties. Most dating gurus and relationship experts
        offer quick fixes and don't see beyond the culture they live in.
    </p>
    <p>We deal with the core of your specific issues to bring real changes and to overcome cultural limitations.</p>
    <p>
        There are specific things which prevent dating and your life from being as easy and effortless as it
        should be.
    </p>
    <p>
        Some people like to complain and avoid these problems. Others like to talk about these problems while
        leaving them unresolved... Still others like to find tricks to work around these problems. MOST people
        like to ignore these problems altogether!
    </p>
    <p>Very Few want to <strong>'BE the Change They Want to See in the World'</strong>.</p>
    <p>Therein lies the power to transmute your life...</p>
    <p>&nbsp;</p>
    <p class="blue">We Help You develop&hellip;</p>
    <ul>
        <li>Your authentic self</li>
        <li>Self-confidence</li>
        <li>Self-esteem</li>
        <li>Spiritual freedom</li>
        <li>Relationship freedom</li>
        <li>Physical intimacy</li>
        <li>Emotional intimacy</li>
        <li>Carefreeness</li>
        <li>Well-being</li>
        <li>Peace of mind</li>
        <li>Charisma</li>
        <li>Sexual magnetism</li>
        <li>Self-healing</li>
    </ul>
    <p>&nbsp;</p>
    <p class="blue">There Are Three Main Aspects of What We Teach.</p>
    <p>
        <strong>Cultural Awareness.</strong> It&rsquo;s like making a fish aware of water. He will never know
        until he gets out of it. When all we see is our own culture, we cannot imagine other ways of living
        our lives and we are not even aware of how it is limiting us. You live in a sea of void that constitutes
        96% of the mass of the Universe and 99.99999% of your atoms. This void contains structures of inter-connected
        emotions that vary from one culture to the other. Do you even know what you&rsquo;re swimming in?
    </p>
    <p>
        <strong>Relational Dynamics.</strong> If you were born in a different country, you would be a totally
        different person. Your environment influences your beliefs, your education, your values, your fears
        and your life experiences. In order to take your power back, you must unlearn all the limiting beliefs
        you got from society in order to think in a more intuitive and creative way. You have to become aware
        of what is influencing your beliefs, thoughts and state of mind. The media constantly bombards you with
        tons of messages that you eventually take for granted. Choose who and what you want influence from,
        and who and what you don&rsquo;t want to impact your life.
    </p>
    <p>
        <strong>Energy Healing.</strong> Your fears and limitations are not only in your head. They are the result
        of blockages and instabilities in your energy field, body, soul and spirit. Healing your energies allows
        you to fully live in the present moment, to be fearless and to feel bliss and joy. It also helps solve
        physical and mental issues and chronic problems in particular. Changing the way you feel about yourself
        will change the way people feel around you and it will impact everything you do.
    </p>
    <p>&nbsp;</p>
    <p class="blue">The Process of Removing Your Limitations Takes 3 Steps.</p>
    <p>
        <strong>Experience.</strong> What allows you to relate this knowledge to your life is the experiences
        you&rsquo;ve been through. The more experience you have, the more you are aware of life and society.
        Also, this knowledge means nothing until you put it into practice.
    </p>
    <p>
        <strong>Awareness.</strong> Learning the knowledge and wisdom of life is one thing, but you must especially
        become aware of yourself: your strengths, your weaknesses, your goals, your limitations, your issues
        and your life purpose. Knowledge becomes awareness through experience.
    </p>
    <p>
        <strong>Healing.</strong> Once you are aware of your life purpose and goals, you can work towards your
        goals. Once you are aware of your limitations and issues, you can overcome them.
    </p>
    <p>&nbsp;</p>
    <p><a href="who-we-work-with">Who We Work With >></a></p>
</div>
