@page
@{
    var layout = ViewData.Layout();
    layout.Title = "Who We Work WIth";
}
<div class="productRow">
    <h1 class="sub">
        <img src="../images/pht_etienne_charland.jpg" alt="image" align="right" style="padding-left: 20px;" />Our
        Clients Are People Who Have Vision and Experience and Who Want to Improve Their Lives in All Areas
    </h1>
    <p>&nbsp;</p>
    <p class="blue">We Work With:</p>
    <p>&nbsp</p>
    <p class="blue">Male Creative Professionals Who...</p>
    <ul>
        <li>Don't have the consistency they want with women</li>
        <li>Get stuck in women's 'friend zone' when they want more</li>
        <li>Get intimate with women but come away still dissatisfied</li>
    </ul>
    <p>&nbsp;</p>
    <p>
        Do you have on and off success with women? Are there times where you have a girlfriend or meet many great
        women, and then there are "dry periods" where women don't show any interest in you at all? Are the women
        you meet very nice yet, tell you that they 'just want to be friends'?
    </p>
    <p>Are you wondering how to be more intimate with the women you meet?</p>
    <p>
        Perhaps you got laid by a very beautiful woman... only to realize that she was boring or sex wasn't that
        great with her? Even worse, she's a Drama Queen and you don't want to see her anymore?
    </p>
    <p>If you want to consistently enjoy great experiences with women, you have come to the right place.</p>
    <p>&nbsp;</p>
    <p class="blue">Female Coaches Who...</p>
    <ul>
        <li>Have inconsistent or 'dry' sex lives</li>
        <li>Can't seem to attract the kind of men they want</li>
        <li>Have difficulty balancing femininity with business</li>
    </ul>
    <p>&nbsp;</p>
    <p>Do you know what you want in a man but can't find it? Do you have an inconsistent or 'dry' sex life?</p>
    <p>
        Since creativity and sexuality go together, does this affect other areas of your life? Do you have difficulty
        balancing femininity and business?
    </p>
    <p>
        Do you have to be structured and logical in business, yet that doesn't feel natural and doesn't work
        in relationships? Do your relationships turn into drama or simply don't work? Do you lack sexual attraction
        and your relationships become sexually dry and unsatisfying?
    </p>
    <p>If you want to consistently live great experiences with men, you have come to the right place.</p>
    <p>&nbsp;</p>
    <h4 class="blue">Testimonials</h4>
    <div class="testimonal">
        <ul>
            <li>
                Etienne's coaching methods help accelerate your understanding of yourself and liberate you from limiting
                beliefs that have held you back over time. With his advice, many issues that confused and frustrated
                me have evaporated into thin air. I am starting to see great results with women and am having positive
                interactions with people that would have been absent before I started the coaching with Etienne. I fully
                recommend Etienne if you are serious about becoming the man you always knew you could be.&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br />
                &ndash; Daniel (UK)
            </li>
            <li>
                I'm a 35-year old guy who is well versed in seduction, NLP, hypnosis, and psychology. I studied and
                practiced this stuff for a lot of years(more than 10 ;-)). Despite all of this, I really was impressed
                by Etienne's knowledge of delicate concepts like emotional blocks and energy tweaking, plus he really
                knows practical ways to help you work on them and give you simple and effective tools to use yourself.
                He's also a very good adviser for specific problems that you can't find answers to on forums, like how
                to mix technique A with technique B.<br />
                Despite having studied tons about personal change, the tools he gave me were unknown to me AND very
                powerful, yet simple to use. Moreover, he has a very clear talent for listening to you and finding the
                root of your problem&mdash;problems that other well-known gurus haven't been able to discover before,
                despite a lot of inner work and countless hours of coaching. So I definitely recommend his one-on-one
                coaching, especially for people who have a difficult sticking point and are confused with conflicting
                advice. &nbsp;&nbsp;
                <br />
                &ndash; Michael (France)
            </li>
        </ul>
    </div>
</div>
